
{% macro uploadComponent(
    originPage,
    provideType, 
    notUploadingUrl,
    your, 
    aboutHowTo, 
    change, 
    askIfUploadShowAddress,
    nameOfDataItem,
    isAnInlineUpload,
    dummyImageURL,
    triggerForDummy,
    triggerName,
    showsAddress,
    handlesMultiple
  )%}

{{ chooseYourFile(
    originPage,
    provideType, 
    notUploadingUrl, 
    your, 
    askIfUploadShowAddress,
    nameOfDataItem,
    isAnInlineUpload,
    dummyImageURL,
    triggerForDummy,
    triggerName,
    showsAddress,
    handlesMultiple
  ) 
}}

{{ iCantUploadAPhotoOrScan(
    your,
    notUploadingUrl,
    aboutHowTo, 
    change,
    isAnInlineUpload
  ) 
}}

{% endmacro %}

{% from 'radios/macro.njk' import govukRadios %}
{% from "details/macro.njk" import govukDetails %}
{% from 'button/macro.njk' import govukButton %}
{% from "file-upload/macro.njk" import govukFileUpload %}

{% macro chooseYourFile(
  originPage,
  provideType, 
  notUploadingUrl, 
  your, 
  askIfUploadShowAddress,
  nameOfDataItem,
  isAnInlineUpload,
  dummyImageURL,
  triggerForDummy,
  triggerName,
  showsAddress,
  handlesMultiple
  ) 
%}

{% if handlesMultiple === 'yes' %}
  {% set bracketS = '(s)' %}
{% else %}
  {% set bracketS = '' %}
{% endif %}

<!-- <div class="govuk-error-summary">
  <h2 class="govuk-error-summary__title">There's been a problem</h2>
  <p class="govuk-body">{{your | capitalize}} file wasn't successfully uploaded. Try again, or refresh the page.</p>
</div>
 -->
<div id="drop-area" class="hide-no-js">
  <div id="dragDropInstructions">
    <div class="upload-arrow-container">
      <div class="icon--upload-arrow">
        {% include "includes/icon-arrow-down.html" %}
        {% include "includes/icon-camera.html" %}
      </div>
    </div>
    <div class="upload-section-text">
      <p class="govuk-body">
        <input type="file" class="govuk-visually-hidden" id="fileElem" multiple accept="image/*,application/pdf" onchange="handleFiles(this.files)">
        <label class="govuk-button upload-label" for="fileElem">
          <span class="tablet-upload-text">Upload from this computer</span>
          <span class="mobile-upload-text">Take photo{{bracketS}} or upload using this device</span>
          <span class="mobile-upload-alternative-text">Upload photo{{bracketS}} using this device</span>
        </label>
        <br>
        {% if handlesMultiple === 'yes' %}
        <span class="drag-drop-text">(You can upload multiple photos)</span>
        {% endif %}
      </p>
    </div>
  </div>
  <div id="progressContainer" class="hidden">
    <h3 class="govuk-heading-s">Upload progress</h3>
    <progress id="progress-bar" max=100 value=0 class=""></progress>
  </div>
</div>

<div class="js-hidden">
  {{ govukFileUpload({
    id: "file-upload-1",
    name: "file-upload-1",
    label: {
      text: "Upload photo or scan"
    }
  }) }}

  {% if (isAnInlineUpload!=='yes') %}
    {{ govukButton({
      "text": "Continue"
    }) }}
  {% endif %}
</div>

<div id="fileUploadedBox" class="hidden">
  <h3 class="govuk-heading-m" id="thisUploadHeading">This is your upload</h3>
  <div id="gallery"/></div>
  {% if triggerForDummy === "true" %}
  <span id="dummiesToShow" data-trigger={{triggerForDummy}}></span>

  <div id="fileAlreadyUploaded" class="hidden">
    <div class="dummy-container">
      <img src="/public/images/{{dummyImageURL}}" alt="Your uploaded file">
    </div>
  </div>
  {% endif %}
  {% if handlesMultiple === 'yes' %}
    <div class="upload-finished-button">
      <input type="file" class="govuk-visually-hidden" id="fileElem" multiple accept="image/*" onchange="handleFiles(this.files)">
      <label class="govuk-button upload-label" for="fileElem">
        Add another photo or scan
      </label>
    </div>
  {% endif %}
  <p class="govuk-body">
    <a href="?{{triggerName}}=false">Use different photo or scan</a>
  </p>
  <input type="hidden" name="{{provideType}}" value="upload">

  <input type="text" class="govuk-visually-hidden" readonly id="theNameOfFile" name="{{nameOfDataItem}}" value="">
  
  {% if (askIfUploadShowAddress==='yes') %}
    {{ govukRadios({
      "idPrefix": nameOfDataItem + "-shows-current-address",
      "name": nameOfDataItem + "-shows-current-address",
      "fieldset": {
        "legend": {
          "text": 'Does your upload show ' + your + ' current address?',
          "isPageHeading": false,
          "classes": 'govuk-fieldset__legend--m'
        }
      },
      "items": [
        {
          "value": "yes",
          "text": "Yes",
          "checked": showsAddress === "yes"
        },
        {
          "value": "no",
          "text": "No",
          "checked": showsAddress === "no"
        }
      ]
    }) }}
  {% endif %}

  {% if (isAnInlineUpload!=='yes') %}
    {{ govukButton({
      "text": "Continue"
    }) }}
  {% endif %}
</div>

{% if (isAnInlineUpload!=='yes') %}

{{ govukDetails({
  summaryText: "Need help uploading documents?",
  id: "help-uploading",
  html: '<p class="govuk-body">You can take a photo of your documents or scan them to upload here.</p><p class="govuk-body"> We\'ve created a step-by-step guide on <a href="/apply-for-a-blue-badge/guidance?upload-origin-page=' + originPage + '">how to upload a document</a>.</p><p class="govuk-body">We\'ll take you back to this page after you\'ve read the guide.</p>'
}) }}

{% endif %}

{% endmacro %}

{% macro iCantUploadAPhotoOrScan(your, notUploadingUrl, aboutHowTo, change, isAnInlineUpload) %}
{% if (isAnInlineUpload!=='yes') %}
  <details class="govuk-details file-upload empty" id="cantUploadDetails">
    <summary class="govuk-details__summary"><span class="govuk-details__summary-text">I can't upload a photo or scan</span></summary>
    <div class="govuk-details__text panel panel-border">
      <p class="govuk-body">After you submit this application you need to contact {{your}} local council to see how you can {{ aboutHowTo }}.</p>
      <p class="govuk-body">You can still submit this application using this service, but it will take longer for the council to make a decision.</p>
      <p class="govuk-body">
        <a href="{{notUploadingUrl}}" class="govuk-button-secondary" role="button">Continue without uploading</a>
      </p>
    </div>
  </details>
{% endif %}
{% endmacro %}
