<div class="results-per-page">
<p id="resultsPerPage">Results per page:</p>
<ul>
  <li class="page-active" aria-labelledby="resultsPerPage">10</li>
  <li><a href="" aria-labelledby="resultsPerPage">25</a></li>
  <li><a href="" aria-labelledby="resultsPerPage">100</a></li>
</ul>
</div>
<div class="pagination">
<ul>
  <li class="page-active"><span class="govuk-visually-hidden">Page </span>1</li>
  <li><a href=""><span class="govuk-visually-hidden">Page </span>2</a></li>
  <li><a href=""><span class="govuk-visually-hidden">Page </span>3</a></li>
  <li><a href=""><span class="govuk-visually-hidden">Page </span>4</a></li>
  <li>...</li>
  <li><a href=""><span class="govuk-visually-hidden">Page </span>10</a></li>
  <li><a href="">Next<span class="govuk-visually-hidden"> page</span></a></li>
</ul>
</div>