<dl class="govuk-check-your-answers govuk-check-your-answers--short">
  
  <div class="govuk-check-your-answers__contents">
    <dt class="govuk-check-your-answers__question">
      Describe what affects {{youOrThem}} taking a journey
    </dt>
    <dd class="govuk-check-your-answers__answer">
      {% for affect in affectsJourneysArray %}
        {{affect.name}} <br>
        When: {{affect.childoption}}
        {% if affect.childdesc %}
          <br>Description: {{affect.childdesc}}
        {% endif %}
        {% if loop.last %}

        {%else%}
          <br>----------------<br>
        {%endif%}
      {% endfor %}
    </dd>
    <dd class="govuk-check-your-answers__change">
      <a href="/apply-for-a-blue-badge/prove-eligibility/what-affects-journeys?change=true">
        Edit<span class="govuk-visually-hidden"> what affects journeys</span>
      </a>
    </dd>
  </div>

  <div class="govuk-check-your-answers__contents">
    <dt class="govuk-check-your-answers__question">
      How would a Blue Badge improve taking a journey for {{youOrThem}}?
    </dt>
    <dd class="govuk-check-your-answers__answer">
      {{data['need-a-badge']}} <br>
    </dd>
    <dd class="govuk-check-your-answers__change">
      <a href="/apply-for-a-blue-badge/prove-eligibility/need-a-badge?change=true">
        Edit<span class="govuk-visually-hidden"> applicant's needs</span>
      </a>
    </dd>
  </div>

  <div class="govuk-check-your-answers__contents">
    <dt class="govuk-check-your-answers__question">
      List the steps taken to try to improve journeys
    </dt>
    <dd class="govuk-check-your-answers__answer">
      Steps: {{data['coping-strategies']}} <br> <br>
      Effectiveness: {{data['coping-strategies-effective']}}
    </dd>
    <dd class="govuk-check-your-answers__change">
      <a href="/apply-for-a-blue-badge/prove-eligibility/coping-strategies?change=true">
        Edit<span class="govuk-visually-hidden"> coping strategies</span>
      </a>
    </dd>
  </div>
  
</dl>