<dl class="govuk-check-your-answers govuk-check-your-answers--short">

  <div class="govuk-check-your-answers__contents">
    <dt class="govuk-check-your-answers__question">
      How would a Blue Badge improve taking a journey for {{youOrThem}}?
    </dt>
    <dd class="govuk-check-your-answers__answer">
      {{data['need-a-badge']}} <br>
    </dd>
    <dd class="govuk-check-your-answers__change">
      <a href="/apply-for-a-blue-badge/prove-eligibility/need-a-badge?change=true">
        Edit<span class="govuk-visually-hidden"> applicant's needs</span>
      </a>
    </dd>
  </div>
  
  <div class="govuk-check-your-answers__contents">
    <dt class="govuk-check-your-answers__question">
      Describe what affects {{youOrThem}} taking a journey
    </dt>
    <dd class="govuk-check-your-answers__answer">
      {{data['affects-journeys-chosen-value'] | striptags(true) | escape | nl2br}}
      {% if data['something-np-description'] !== "" or 
            data['accompanied-description'] !== "" %}
        <br><br>
        Additional answers <br>
        -------------- <br>
      {% endif %}
      {% if data['accompanied-description'] !== "" %}
        Always accompanied: <br>
        {{data['accompanied-description']}} <br>
      {% endif %}
      {% if data['something-np-description'] !== "" %}
        Something else: <br>
        {{data['something-np-description']}} <br>
      {% endif %}
    </dd>
    <dd class="govuk-check-your-answers__change">
      <a href="/apply-for-a-blue-badge/prove-eligibility/what-affects-journeys?change=true">
        Edit<span class="govuk-visually-hidden"> what affects journeys</span>
      </a>
    </dd>
  </div>

  <div class="govuk-check-your-answers__contents">
    <dt class="govuk-check-your-answers__question">
      Coping strategies
    </dt>
    <dd class="govuk-check-your-answers__answer">
      {{data['coping-strategies']}} <br>
    </dd>
    <dd class="govuk-check-your-answers__change">
      <a href="/apply-for-a-blue-badge/prove-eligibility/coping-strategies?change=true">
        Edit<span class="govuk-visually-hidden"> coping strategies</span>
      </a>
    </dd>
  </div>
  
</dl>