<dl class="govuk-check-your-answers govuk-check-your-answers--short">

  <div class="govuk-check-your-answers__contents">
    <dt class="govuk-check-your-answers__question">
      Description of condition
    </dt>
    <dd class="govuk-check-your-answers__answer">
      {{data['describe-condition']}} <br>
    </dd>
    <dd class="govuk-check-your-answers__change">
      <a href="/apply-for-a-blue-badge/prove-eligibility/describe-conditions?change=true">
        Edit<span class="govuk-visually-hidden"> description of condition</span>
      </a>
    </dd>
  </div>
  
  <div class="govuk-check-your-answers__contents">
    <dt class="govuk-check-your-answers__question">
      Walking difficulty
    </dt>
    <dd class="govuk-check-your-answers__answer">
      {{data['difficulty-chosen-value'] | striptags(true) | escape | nl2br}}
      {% if data['pain-question'] !== "" or 
            data['balance-question'] !== "" or
            data['longtime-question'] !== "" or
            data['danger-question'] !== ""  %}
        <br><br>
        {{your | capitalize}} additional answers <br>
        -------------- <br>
      {% endif %}
      {% if data['pain-question'] !== "" %}
        Excessive pain: <br>
        {{data['pain-question']}} <br>
      {% endif %}
      {% if data['balance-question'] !== "" %}
        Balance or coordination: <br>
        {{data['balance-question']}} <br>
      {% endif %}
      {% if data['longtime-question'] !== "" %}
        It takes a long time: <br>
        {{data['longtime-question']}} <br>
      {% endif %}
      {% if data['danger-question'] !== "" %}
        Dangerous to health and safety: <br>
        {{data['danger-question']}} <br>
      {% endif %}
      
    </dd>
    <dd class="govuk-check-your-answers__change">
      <a href="/apply-for-a-blue-badge/prove-eligibility/what-makes-walking-difficult?change=true">
        Edit<span class="govuk-visually-hidden"> walking difficulty</span>
      </a>
    </dd>
  </div>
  
  {% if data['when-breathless-chosen-value'] !== undefined %}
  <div class="govuk-check-your-answers__contents">
    <dt class="govuk-check-your-answers__question">
      When do {{you}} get breathless
    </dt>
    <dd class="govuk-check-your-answers__answer">
      {{data['when-breathless-chosen-value'] | striptags(true) | escape | nl2br}}
    </dd>
    <dd class="govuk-check-your-answers__change">
      <a href="/apply-for-a-blue-badge/prove-eligibility/breathless-questions?change=true">
        Edit<span class="govuk-visually-hidden"> breathlessness answers</span>
      </a>
    </dd>
  </div>
  {% endif %}

  <div class="govuk-check-your-answers__contents">
    <dt class="govuk-check-your-answers__question">
      Mobility aids
    </dt>
    <dd class="govuk-check-your-answers__answer">

      {% if data['mobility-aids-array']|length %}
        {% for aid in data['mobility-aids-array'] %}
          {{aid.name}},
          {{aid.usage}},
          {{aid.source}} <br>
        {% endfor %}
      {% else %}
        No mobility aids
      {% endif %}

      {{data['mobility-aids-used-chosen-value'] | striptags(true) | escape | nl2br}}
    </dd>
    <dd class="govuk-check-your-answers__change">
      <a href="list-mobility-aids?change=true">
        Edit<span class="govuk-visually-hidden"> mobility aids</span>
      </a>
    </dd>
  </div>

  <div class="govuk-check-your-answers__contents">
    <dt class="govuk-check-your-answers__question">
      How long can {{you}} walk for without stopping
    </dt>
    <dd class="govuk-check-your-answers__answer">
      {{data['how-long-walk-chosen-value']}}
    </dd>
    <dd class="govuk-check-your-answers__change">
      <a href="walking-time?change=true">
        Edit<span class="govuk-visually-hidden"> answer to how long {{you}} can walk for without stopping</span>
      </a>
    </dd>
  </div>
  
  {% if data['how-long-walk'] !== 'cant-walk' %}
  <div class="govuk-check-your-answers__contents">
    <dt class="govuk-check-your-answers__question">
      Where {{you}} can walk
    </dt>
    <dd class="govuk-check-your-answers__answer">
      "{{data['walk-location']}}" taking {{you}} {{data['how-long-takes-you']|lower}} to walk there
    </dd>
    <dd class="govuk-check-your-answers__change">
      <a href="where-can-you-walk?change=true">
        Edit<span class="govuk-visually-hidden"> location you can walk to</span>
      </a>
    </dd>
  </div>
  {% endif %}

  {% if data['nation'] === 'scotland' or data['nation'] === 'wales' %}
  <div class="govuk-check-your-answers__contents">
    <dt class="govuk-check-your-answers__question">
      Is {{your}} condition due to improve?
    </dt>
    <dd class="govuk-check-your-answers__answer">
      {{data['condition-improve'] | capitalize}}
      {% if data['condition-improve'] === 'yes' %}
      - 
      {{data['condition-improve-date']}}

      {% endif %}
    </dd>
    <dd class="govuk-check-your-answers__change">
      <a href="condition-improve?change=true">
        Edit<span class="govuk-visually-hidden"> answer to whether condition is due to improve</span>
      </a>
    </dd>
  </div>
  {% endif %}
  
</dl>