<option value="">Select from the list</option>
<option data-micro-council="Aberdeen City Council" value="Aberdeen City Council">Aberdeen City Council</option>
<option data-micro-council="Aberdeenshire Council" value="Aberdeenshire Council">Aberdeenshire Council</option>
<option data-micro-council="Angus Council" value="Angus Council">Angus Council</option>
<option data-micro-council="Argyll and Bute Council" value="Argyll and Bute Council">Argyll and Bute Council</option>
<option data-micro-council="Barnsley Metropolitan Borough Council" value="Barnsley Metropolitan Borough Council">Barnsley Metropolitan Borough Council</option>
<option data-micro-council="Bath and North East Somerset Council" value="Bath and North East Somerset Council">Bath and North East Somerset Council</option>
<option data-micro-council="Bedford Borough Council" value="Bedford Borough Council">Bedford Borough Council</option>
<option data-micro-council="Birmingham City Council" value="Birmingham City Council">Birmingham City Council</option>
<option data-micro-council="Blackburn with Darwen Borough Council" value="Blackburn with Darwen Borough Council">Blackburn with Darwen Borough Council</option>
<option data-micro-council="Blackpool Borough Council" value="Blackpool Borough Council">Blackpool Borough Council</option>
<option data-micro-council="Blaenau Gwent County Borough Council" value="Blaenau Gwent County Borough Council">Blaenau Gwent County Borough Council</option>
<option data-micro-council="Bolton Metropolitan Borough Council" value="Bolton Metropolitan Borough Council">Bolton Metropolitan Borough Council</option>
<option data-micro-council="Borough of Poole" value="Borough of Poole">Borough of Poole</option>
<option data-micro-council="Bournemouth Borough Council" value="Bournemouth Borough Council">Bournemouth Borough Council</option>
<option data-micro-council="Bracknell Forest Council" value="Bracknell Forest Council">Bracknell Forest Council</option>
<option data-micro-council="Bridgend County Borough Council" value="Bridgend County Borough Council">Bridgend County Borough Council</option>
<option data-micro-council="Brighton and Hove City Council" value="Brighton and Hove City Council">Brighton and Hove City Council</option>
<option data-micro-council="Bristol City Council" value="Bristol City Council">Bristol City Council</option>
<option data-micro-council="Buckinghamshire County Council" value="Buckinghamshire County Council">Buckinghamshire County Council</option>
<option data-micro-council="Bury Metropolitan Borough Council" value="Bury Metropolitan Borough Council">Bury Metropolitan Borough Council</option>
