<div class="app-step-nav-related app-step-nav-related--singular">
  <h2 class="app-step-nav-related__heading">
    <span class="app-step-nav-related__pretitle">Part of</span>
    <a href="#">
      Get a Blue Badge
    </a>
  </h2>
</div>

<div id="step-by-step-navigation" data-module="gemstepnav" class="app-step-nav  app-step-nav--active" data-id="e01e924b-9c7c-4c71-8241-66a575c2f61f" data-show-text="show" data-hide-text="hide" data-show-all-text="Show all" data-hide-all-text="Hide all">
  <div class="app-step-nav__controls">
    <button aria-expanded="false" class="app-step-nav__button app-step-nav__button--controls js-step-controls-button" aria-controls="step-panel-check-youre-allowed-to-drive-1">Hide all</button>
  </div>
  <ol class="app-step-nav__steps">
    <li class="app-step-nav__step js-step {% if activeStep === '1' %} app-step-nav__step--active {% endif %}" aria-current="step" data-show="" id="check-youre-allowed-to-drive">
      <div class="app-step-nav__header js-toggle-panel" data-position="1">
        <h3 class="app-step-nav__title">
          <span class="app-step-nav__circle app-step-nav__circle--number">
            <span class="app-step-nav__circle-inner">
              <span class="app-step-nav__circle-background">
                <span class="app-step-nav__circle-step-label govuk-visually-hidden">Step</span> 1
                <span class="app-step-nav__circle-step-colon govuk-visually-hidden" aria-hidden="true">:</span>
              </span>
            </span>
          </span>

          <span class="js-step-title"><button class="app-step-nav__button app-step-nav__button--title js-step-title-button" aria-expanded="true" aria-controls="step-panel-check-youre-allowed-to-drive-1"><span class="js-step-title-text">
            Before you apply
          </span><span class="app-step-nav__toggle-link js-toggle-link" aria-hidden="true">hide</span></button></span>
        </h3>
      </div>

      <div class="app-step-nav__panel js-panel" id="step-panel-check-youre-allowed-to-drive-1">
        <p class="app-step-nav__paragraph">Check your eligibility and see what you’ll need to apply before you start.</p>

        <ol class="app-step-nav__list " data-length="3">
          <li class="app-step-nav__list-item js-list-item {% if activeStepLink === '1' %} app-step-nav__list-item--active {% endif %}">
            <a data-position="1.1" class="app-step-nav__link js-link" href="/apply-for-a-blue-badge/who-is-eligible">Who is eligible?</a>
          </li>
          <li class="app-step-nav__list-item js-list-item {% if activeStepLink === '2' %} app-step-nav__list-item--active {% endif %}">
            <a data-position="1.2" class="app-step-nav__link js-link" href="/apply-for-a-blue-badge/new-criteria-info">Applying with a “hidden” disability</a>
          </li>
          <li class="app-step-nav__list-item js-list-item {% if activeStepLink === '3' %} app-step-nav__list-item--active {% endif %}">
            <a data-position="1.3" class="app-step-nav__link js-link" href="/apply-for-a-blue-badge/what-youll-need">What you’ll need when you apply</a>
          </li>
        </ol>

      </div>

    </li>
    <li class="app-step-nav__step js-step {% if activeStep === '2' %} app-step-nav__step--active {% endif %}" id="get-a-provisional-licence">
      <div class="app-step-nav__header js-toggle-panel" data-position="2">
        <h3 class="app-step-nav__title">
          <span class="app-step-nav__circle app-step-nav__circle--number">
            <span class="app-step-nav__circle-inner">
              <span class="app-step-nav__circle-background">
                <span class="app-step-nav__circle-step-label govuk-visually-hidden">Step</span> 2
                <span class="app-step-nav__circle-step-colon govuk-visually-hidden" aria-hidden="true">:</span>
              </span>
            </span>
          </span>

          <span class="js-step-title"><button class="app-step-nav__button app-step-nav__button--title js-step-title-button" aria-expanded="false" aria-controls="step-panel-get-a-provisional-licence-2"><span class="js-step-title-text">
            Rules on using a Blue Badge
          </span><span class="app-step-nav__toggle-link js-toggle-link" aria-hidden="true">hide</span></button></span>
        </h3>
      </div>

      <div class="app-step-nav__panel js-panel" id="step-panel-get-a-provisional-licence-2">
        <ol class="app-step-nav__list " data-length="1">
          <li class="app-step-nav__list-item js-list-item {% if activeStepLink === '4' %} app-step-nav__list-item--active {% endif %}">
            <a data-position="2.1" class="app-step-nav__link js-link" href="/apply-for-a-blue-badge/rules-on-blue-badge">Your rights and responsibilities
            </a>
          </li>
        </ol>

      </div>

    </li>
    <li class="app-step-nav__step js-step {% if activeStep === '3' %} app-step-nav__step--active {% endif %}" id="driving-lessons-and-practice">
      <div class="app-step-nav__header js-toggle-panel" data-position="3">
        <h3 class="app-step-nav__title">
          <span class="app-step-nav__circle app-step-nav__circle--number">
            <span class="app-step-nav__circle-inner">
              <span class="app-step-nav__circle-background">
                <span class="app-step-nav__circle-step-label govuk-visually-hidden">Step</span> 3
                <span class="app-step-nav__circle-step-colon govuk-visually-hidden" aria-hidden="true">:</span>
              </span>
            </span>
          </span>

          <span class="js-step-title">
            <button class="app-step-nav__button app-step-nav__button--title js-step-title-button" aria-expanded="false" aria-controls="step-panel-driving-lessons-and-practice-3"><span class="js-step-title-text">
            Apply for a Blue Badge
          </span><span class="app-step-nav__toggle-link js-toggle-link" aria-hidden="true">hide</span></button></span>
        </h3>
      </div>

      <div class="app-step-nav__panel js-panel" id="step-panel-driving-lessons-and-practice-3">
        <p class="app-step-nav__paragraph">Check you’ve read the relevant steps before you apply.</p>

        <ol class="app-step-nav__list " data-length="4">
          <li class="app-step-nav__list-item js-list-item {% if activeStepLink === '5' %} app-step-nav__list-item--active {% endif %}">
            <a data-position="3.1" class="app-step-nav__link js-link" href="/apply-for-a-blue-badge/">Apply for a Blue Badge</a>
          </li>
        </ol>

      </div>

    </li>
  </ol>
</div>