{% extends "layout.html" %}
{% set isFullWidth = 'yes' %}
{% set pageHeading = 'Check ' + your + ' answers' %}

{% block pageTitle %}
  {{pageHeading}} - {% if serviceName %} {{ serviceName }} {% endif %}
{% endblock %}

{% block inner_content %}
<form action="task-list">
  <div class="govuk-grid-column-three-quarters">
    <h1 class="govuk-heading-l">{{pageHeading}}</h1>
    
    <div class="govuk-inset-text">
      <p class="govuk-body">Make sure you've answered everything correctly. You can change your answers if you've made a mistake or would like to add more information.</p>
    </div>

    <section class="split-section">
      
      <h2 class="govuk-heading-m">Personal details</h2>
      
      {% include "includes/in-check-personal.html" %}
    </section>

    {% if data['disability'] === 'problems-walking' %}
    <section class="split-section">
      <h2 class="govuk-heading-m">Walking difficulties</h2>

      <!-- <div class="govuk-inset-text">
        <p class="govuk-body">It's especially important to fill this section out in as much detail as possible.</p>
      </div> -->
      
      {% include "includes/in-check-walking.html" %}
    </section>
    {% endif %}

    {% if data['disability'] === 'problems-walking' %}
    <section class="split-section">
      <h2 class="govuk-heading-m">Treatments</h2>

      <dl class="govuk-check-your-answers govuk-check-your-answers--short">
      
        <div class="govuk-check-your-answers__contents">
          <dt class="govuk-check-your-answers__question">
            {{your|capitalize}} treatments
          </dt>
          <dd class="govuk-check-your-answers__answer">
            {% if data['treatments-array']|length %}
              {% for treatment in data['treatments-array'] %}
                {{treatment.description}},
                {{treatment.date}} <br>
              {% endfor %}
            {% else %}
              No treatments
            {% endif %}
          </dd>
          <dd class="govuk-check-your-answers__change">
            <a href="/apply-for-a-blue-badge/prove-identity?change=true">
              Edit<span class="govuk-visually-hidden"> {{your}} treatments</span>
            </a>
          </dd>
        </div>
      </dl>
    </section>
    {% endif %}

    {% if data['disability'] === 'problems-walking' %}
    <section class="split-section">
      <h2 class="govuk-heading-m">Medication</h2>

      <dl class="govuk-check-your-answers govuk-check-your-answers--short">
      
        <div class="govuk-check-your-answers__contents">
          <dt class="govuk-check-your-answers__question">
            {{your|capitalize}} medication
          </dt>
          <dd class="govuk-check-your-answers__answer">
            {% if data['medication-array']|length %}
              {% for medication in data['medication-array'] %}
                {{medication.name}},
                {{medication.type}},
                {{medication.dosage}} <br>
              {% endfor %}
            {% else %}
              No medication
            {% endif %}
          </dd>
          <dd class="govuk-check-your-answers__change">
            <a href="/apply-for-a-blue-badge/prove-identity?change=true">
              Edit<span class="govuk-visually-hidden"> {{your}} medication</span>
            </a>
          </dd>
        </div>
      </dl>
    </section>
    {% endif %}

    {% if data['benefit'] === 'none' %}
    <section class="split-section">
      <h2 class="govuk-heading-m">Healthcare professionals</h2>

      <dl class="govuk-check-your-answers govuk-check-your-answers--short">
      
        <div class="govuk-check-your-answers__contents">
          <dt class="govuk-check-your-answers__question">
            {{your|capitalize}} healthcare professionals
          </dt>
          <dd class="govuk-check-your-answers__answer">
            {% if data['hcp-array']|length %}
              {% for hcp in data['hcp-array'] %}
                {{hcp.name}},
                {{hcp.hospital}} <br>
              {% endfor %}
            {% else %}
              No healthcare professionals
            {% endif %}
          </dd>
          <dd class="govuk-check-your-answers__change">
            <a href="/apply-for-a-blue-badge/prove-identity?change=true">
              Edit<span class="govuk-visually-hidden"> {{your}} HCPs</span>
            </a>
          </dd>
        </div>
      </dl>
    </section>
    {% endif %}

    {% if data['benefit'] === 'pip' or
          data['benefit'] === 'dla' or
          data['benefit'] === 'armed-forces' or
          data['benefit'] === 'war-pensioners' or
          data['disability'] === 'arms' or 
          data['disability'] === 'blind' %}
    <section class="split-section">
      <h2 class="govuk-heading-m">Proof of eligibility</h2>
      
    </section>
    {% endif %}

    {% if data['disability'] === 'arms' or 
          data['disability'] === 'blind' %}      
    <section class="split-section">
      <h2 class="govuk-heading-m">Proof of eligibility</h2>

      {% include "includes/in-check-arms-blind.html" %}
    </section>
    {% endif %}
      
    <section class="split-section">
      <h2 class="govuk-heading-m">Document uploads</h2>

      <dl class="govuk-check-your-answers govuk-check-your-answers--short">
      
        <div class="govuk-check-your-answers__contents">
          <dt class="govuk-check-your-answers__question">
            Proof of identity
          </dt>
          <dd class="govuk-check-your-answers__answer">
            <a href="">driving-license.jpg</a>
          </dd>
          <dd class="govuk-check-your-answers__change">
            <a href="/apply-for-a-blue-badge/prove-identity?change=true">
              Edit<span class="govuk-visually-hidden"> proof of identity</span>
            </a>
          </dd>
        </div>

        {% if data['benefit'] === 'none' %}
          <div class="govuk-check-your-answers__contents">
            <dt class="govuk-check-your-answers__question">
              Supporting documents
            </dt>
            <dd class="govuk-check-your-answers__answer">
              <a href="">doctors-letter.jpg</a> <br>
              <a href="">prescription-1.jpg</a> <br>
              <a href="">prescripton-2.jpg</a>
            </dd>
            <dd class="govuk-check-your-answers__change">
              <a href="/apply-for-a-blue-badge/prove-eligibility?change=true">
                Edit<span class="govuk-visually-hidden"> proof of PIP</span>
              </a>
            </dd>
          </div>
        {% endif %}

        {% if data['benefit'] === 'pip' %}      
          <div class="govuk-check-your-answers__contents">
            <dt class="govuk-check-your-answers__question">
              Proof of Personal Independence Payment (PIP)
            </dt>
            <dd class="govuk-check-your-answers__answer">
              <a href="">pip-award-letter.jpg</a>
            </dd>
            <dd class="govuk-check-your-answers__change">
              <a href="/apply-for-a-blue-badge/prove-eligibility?change=true">
                Edit<span class="govuk-visually-hidden"> proof of PIP</span>
              </a>
            </dd>
          </div>
        {% endif %}

        {% if data['benefit'] === 'dla' %}      
          <div class="govuk-check-your-answers__contents">
            <dt class="govuk-check-your-answers__question">
              Proof of Disability Living Allowance (DLA)
            </dt>
            <dd class="govuk-check-your-answers__answer">
              <a href="">dla-letter.jpg</a>
            </dd>
            <dd class="govuk-check-your-answers__change">
              <a href="/apply-for-a-blue-badge/prove-eligibility?change=true">
                Edit<span class="govuk-visually-hidden"> proof of DLA</span>
              </a>
            </dd>
          </div>
        {% endif %}

        {% if data['benefit'] === 'armed-forces' %}      
          <div class="govuk-check-your-answers__contents">
            <dt class="govuk-check-your-answers__question">
              Proof of Armed Forces Compensation scheme
            </dt>
            <dd class="govuk-check-your-answers__answer">
              <a href="">armed-forces-letter.jpg</a>
            </dd>
            <dd class="govuk-check-your-answers__change">
              <a href="/apply-for-a-blue-badge/prove-eligibility?change=true">
                Edit<span class="govuk-visually-hidden"> proof of AFCS</span>
              </a>
            </dd>
          </div>
        {% endif %}

        {% if data['benefit'] === 'war-pensioners' %}      
          <div class="govuk-check-your-answers__contents">
            <dt class="govuk-check-your-answers__question">
              Proof of War Pensioners' Mobility Supplement
            </dt>
            <dd class="govuk-check-your-answers__answer">
              <a href="">wpms-letter.jpg</a>
            </dd>
            <dd class="govuk-check-your-answers__change">
              <a href="/apply-for-a-blue-badge/prove-eligibility?change=true">
                Edit<span class="govuk-visually-hidden"> proof of WPMS</span>
              </a>
            </dd>
          </div>
        {% endif %}
      </dl>
    </section>

    <section class="split-section">
      <h2 class="govuk-heading-m">Photo</h2>
      
      <dl class="govuk-check-your-answers govuk-check-your-answers--short">
      
        <div class="govuk-check-your-answers__contents">
          <dt class="govuk-check-your-answers__question">
            {{your|capitalize}} photo
          </dt>
          <dd class="govuk-check-your-answers__answer">
            <img src="{{asset_path}}/images/margaret.png" alt="">
          </dd>
          <dd class="govuk-check-your-answers__change">
            <a href="/apply-for-a-blue-badge/prove-identity?change=true">
              Edit<span class="govuk-visually-hidden"> {{your}} photo</span>
            </a>
          </dd>
        </div>
      </dl>

    </section>

    <input type="hidden" value="true" name="check-answers-completed">
    
    {{ govukButton({
      "text": "Continue"
    }) }}
  </div>
</form>
{% endblock %}
