{% extends "layout.html" %}
{% set hasSaveClass = 'yes' %}
{% import "apply-for-a-blue-badge/macros/upload-component-new.html" as uploadComponentWidget %}

{% set pageHeading = 'Prove ' + your + ' identity' %}

{% block pageTitle %}
  {{pageHeading}} - {% if serviceName %} {{ serviceName }} {% endif %}
{% endblock %}

{% block inner_content %}



<h1 class="govuk-heading-l">{{pageHeading}}</h1>
<form action="{{ formAction }}">
  <input type="hidden" id="change" name="identity-completed" value="true">
  <p class="govuk-body">You need to upload a copy of a document that proves {{ your }} identity.</p>

  {% set dontHaveIDHtml %}

  <p class="govuk-body">After you submit this application you need to contact {{your}} local council to see how you can provide proof of {{your}} identity.</p>
  <p class="govuk-body">You can still submit this application using this service, but it will take longer for the council to make a decision.</p>
  <p class="govuk-body">
    <a href="/apply-for-a-blue-badge/task-list?identity-completed=true&amp;proveIdentity=notProvided&amp;your-identity-file-upload=" class="govuk-button-secondary" role="button">Continue without uploading</a>
  </p>

  {% endset -%}

  {{ govukRadios({
    "idPrefix": "which-id-uploaded",
    "name": "which-id-uploaded",
    "attributes": {
      "data-catchoption-label": true
    },
    "fieldset": {
      "legend": {
        "text": "Which identity document are you uploading?",
        "isPageHeading": false,
        "classes": 'govuk-fieldset__legend--m'
      }
    },
    "items": [
      {
        "value": "birth-certificate",
        "text": "Birth or adoption certificate",
        "checked": data['which-id-uploaded'] === 'birth-certificate'
      },
      {
        "value": "passport",
        "text": "Photo page of " + your + " passport",
          "checked": data['which-id-uploaded'] === 'passport'
      },
      {
        "value": "driving-licence",
        "text": "Driving licence",
        "checked": data['which-id-uploaded'] === 'driving-licence'
      },
      {
        "value": "marriage-certificate",
        "text": "Marriage, civil partnership, divorce or dissolution certificate",
        "checked": data['which-id-uploaded'] === 'marriage-certificate'
      },
      {
        "value": "dont-have-id",
        "text": iThey|capitalize + " don't have any of these",
        "checked": data['which-id-uploaded'] === 'dont-have-id',
        "conditional": {
          "html": dontHaveIDHtml
        }
      }

    ]
  }) }}

  <div id="hiddenCaughtInputs"></div>
  

  {{ uploadComponentWidget.uploadComponent(
    'prove-your-identity',
    'proveIdentity', 
    formAction + '?identity-completed=true&proveIdentity=notProvided&your-identity-file-upload=',
    your, 
    'provide proof of ' + your + ' identity', 
    change, 
    'no',
    'your-identity-file-upload',
    'no',
    'rsz_uk-driving-licence_full_front_flag.jpg',
    data['identity-done'],
    'identity-done',
    data['your-identity-file-upload-shows-current-address']
  )}}

  <!-- Has save -->
</form>

      



{% endblock %}

{% block pageScripts %}
  <script src="{{ asset_path }}javascripts/upload-file.js"></script>
{% endblock %}