{% extends "admin_layout.html" %}


{% block back_link %}
  <div class="back-link-container">
    {{ govukBackLink({
      "text": "Back",
      "href": "javascript: window.history.go(-1)"
    }) }}
  </div>
{% endblock %}

{% block page_header %}

  <h1>{{title}}</h1>
  
{% endblock %}

{% block content %}

{% if data['duplicate-badge-found']  === 'true' %}
  {{ govukWarningText({
    text: "At least one badge exists matching the details provided",
    iconFallbackText: "Warning"
  }) }}

  <table class="govuk-table">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th class="govuk-table__header" scope="col">Badge number</th>
        <th class="govuk-table__header" scope="col">Name</th>
        <th class="govuk-table__header" scope="col">Postcode</th>
        <th class="govuk-table__header" scope="col">Local authority</th>
        <th class="govuk-table__header" scope="col">Expiry date</th>
        <th class="govuk-table__header" scope="col">Status</th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      <tr class="govuk-table__row">
        <th class="govuk-table__header" scope="row"><a href="../view-badge-full">KDW23D</a></th>
        <td class="govuk-table__cell ">{{ data['fullName'] }}</td>
        <td class="govuk-table__cell ">{{data['address-postcode']}}</td>
        <td class="govuk-table__cell ">{{data['current-council']}}</td>
        <td class="govuk-table__cell ">12 May 2020</td>
        <td class="govuk-table__cell ">Issued</td>
      </tr>
    </tbody>
  </table>

  <h2 class="govuk-heading-m">
    Do you want to cancel this order?
  </h2>

  <p class="govuk-body">
    <a href="../search-for-a-badge">Yes, cancel order</a>
  </p>

  <div class="govuk-inset-text">
    <p class="govuk-body">You can still continue with the order.</p>
    <p class="govuk-body">However, continuing with the order could create a duplicate Blue Badge.</p>
  </div>

{% endif %}

<section class="split-section">
  <div class="check-answers-heading-with-change">
    <div class="check-answers-heading">
      <h2 class="govuk-heading-m" id="personalDetailsSection">
        {% if data['badge-type']  === 'person' %}
        Personal details
        {% else %}
        Organisation details
        {% endif %}
      </h2>
    </div>
  
    <div class="check-answers-change">
      <a href="details">Change<span class="visually-hidden"> details</span></a>
    </div>
  
  </div>
  
  <dl class="govuk-check-your-answers govuk-check-your-answers--short">

    {% if data['badge-type']  === 'person' %}
    
    <div class="govuk-check-your-answers__contents">
      <dt class="govuk-check-your-answers__question">
        Full name
      </dt>
      <dd class="govuk-check-your-answers__answer">
        {{ data['fullName'] }}
      </dd>
    </div>

    <div class="govuk-check-your-answers__contents">
      <dt class="govuk-check-your-answers__question">
        Date of birth
      </dt>
      <dd class="govuk-check-your-answers__answer">
        {{data['dob-day']}}/{{data['dob-month']}}/{{data['dob-year']}}
      </dd>
    </div>


    <div class="govuk-check-your-answers__contents">
      <dt class="govuk-check-your-answers__question">
        Gender
      </dt>
      <dd class="govuk-check-your-answers__answer">
        {{data['gender']}}
      </dd>
    </div>

    <div class="govuk-check-your-answers__contents">
      <dt class="govuk-check-your-answers__question">
        N.I number
      </dt>
      <dd class="govuk-check-your-answers__answer">
        {{data['nino']}}
      </dd>
    </div>

    {% else %}

    <div class="govuk-check-your-answers__contents">
      <dt class="govuk-check-your-answers__question">
        Organisation name
      </dt>
      <dd class="govuk-check-your-answers__answer">
        {{data['organisation-name']}}
      </dd>
    </div>

    {% endif %}
  
  
    <div class="govuk-check-your-answers__contents">
      <dt class="govuk-check-your-answers__question">
        Address
      </dt>
      <dd class="govuk-check-your-answers__answer">
        {{data['address-line-1']}}{% if data['address-line-2']%},{{data['address-line-2']}}{% endif %}, {{data['address-town']}}, {{data['address-postcode']}}
      </dd>
    </div>

    {% if data['contact-name'] %}
    <div class="govuk-check-your-answers__contents">
      <dt class="govuk-check-your-answers__question">
        Contact name
      </dt>
      <dd class="govuk-check-your-answers__answer">
        {{data['contact-name']}}
      </dd>
    </div>
    {% endif %}
  
    <div class="govuk-check-your-answers__contents">
      <dt class="govuk-check-your-answers__question">
        Contact number
      </dt>
      <dd class="govuk-check-your-answers__answer">
        {{data['primary-contact-number']}}
      </dd>
    </div>
  
    <div class="govuk-check-your-answers__contents">
      <dt class="govuk-check-your-answers__question">
        Email address
      </dt>
      <dd class="govuk-check-your-answers__answer">
        {{data['email-address']}}
      </dd>
    </div>
  
    <div class="govuk-check-your-answers__contents">
      <dt class="govuk-check-your-answers__question">
        Eligibility
      </dt>
      <dd class="govuk-check-your-answers__answer">
        {{data['reason']}}
      </dd>
    </div>
  
    <div class="govuk-check-your-answers__contents">
      {% if data['badge-type']  === 'person' %}
      <dt class="govuk-check-your-answers__question">
        Photo
      </dt>
      <dd class="govuk-check-your-answers__answer">
        <img src="/public/images/margaret.png" alt="Photo of margaret Miller">
      </dd>
      {% else %}
      <dt class="govuk-check-your-answers__question">
        Logo
      </dt>
      <dd class="govuk-check-your-answers__answer">
        <img src="/public/images/company-logo.png" alt="Company logo">
      </dd>
      {% endif %}
    </div>
  </dl>
</section>

<section class="split-section">
  <div class="check-answers-heading-with-change">
    <div class="check-answers-heading">
      <h2 class="govuk-heading-m">
        Processing
      </h2>
    </div>
  
    <div class="check-answers-change">
      <a href="processing">Change<span class="visually-hidden"> processing details</span></a>
    </div>
  
  </div>
  
  <dl class="govuk-check-your-answers govuk-check-your-answers--short">
    
    {% if data['badge-type'] === 'organisation' %}
    <div class="govuk-check-your-answers__contents">
      <dt class="govuk-check-your-answers__question">
        Number of badges
      </dt>
      <dd class="govuk-check-your-answers__answer">
        {{data['number-of-badges']}}
      </dd>
    </div>
    {% endif %}

    <div class="govuk-check-your-answers__contents">
      <dt class="govuk-check-your-answers__question">
        Local authority reference
      </dt>
      <dd class="govuk-check-your-answers__answer">
        {{data['la-reference']}}
      </dd>
    </div>
  
    <div class="govuk-check-your-answers__contents">
      <dt class="govuk-check-your-answers__question">
        Badge start date
      </dt>
      <dd class="govuk-check-your-answers__answer">
        {{data['start-day']}}/{{data['start-month']}}/{{data['start-year']}}
      </dd>
    </div>
  
    <div class="govuk-check-your-answers__contents">
      <dt class="govuk-check-your-answers__question">
        Badge expiry date
      </dt>
      <dd class="govuk-check-your-answers__answer">
        {{data['expiry-day']}}/{{data['expiry-month']}}/{{data['expiry-year']}}
      </dd>
    </div>
  
    <div class="govuk-check-your-answers__contents">
      <dt class="govuk-check-your-answers__question">
        Needs reassessing
      </dt>
      <dd class="govuk-check-your-answers__answer">
        {{data['reassessment']}}
      </dd>
    </div>
  

    <div class="govuk-check-your-answers__contents">
      <dt class="govuk-check-your-answers__question">
        Application date
      </dt>
      <dd class="govuk-check-your-answers__answer">
        {{data['application-day']}}/{{data['application-month']}}/{{data['application-year']}}
      </dd>
    </div>
  
    <div class="govuk-check-your-answers__contents">
      <dt class="govuk-check-your-answers__question">
        Application channel
      </dt>
      <dd class="govuk-check-your-answers__answer">
        {{data['application-channel']}}
      </dd>
    </div>
  
    <div class="govuk-check-your-answers__contents">
      <dt class="govuk-check-your-answers__question">
        Deliver to
      </dt>
      <dd class="govuk-check-your-answers__answer">
        {{data['deliver-to']}}
      </dd>
    </div>
  
    <div class="govuk-check-your-answers__contents">
      <dt class="govuk-check-your-answers__question">
        Delivery options
      </dt>
      <dd class="govuk-check-your-answers__answer">
        {{data['delivery-options']}}
      </dd>
    </div>
  </dl>
</section>

{{ govukButton({
  "text": "Order badge",
  "href": 'badge-ordered'
}) }}


{% endblock %}