{% extends "layout.html" %}

{% if data['applicant'] === "organisation" %}
{% set pageHeading = 'Does ' + your + ' organisation already have a Blue Badge?' %}
{% else %}
{% set pageHeading = 'Do ' + you + ' already have a Blue Badge?' %}
{% endif %}

{% block pageTitle %}
  {% if data["show"] === "errors" %} Error: {% endif %} {{pageHeading}} - {% if serviceName %} {{ serviceName }} {% endif %}
{% endblock %}

{% block inner_content %}

<form action="{{ formAction }}">

  {% set formIDs = {
    existingBadge: { id: "existing-blue-badge-number" }
  }%}

  {% if  data['show'] == "errors" %}

    {% set errorArray = {
      existingBadge: { text: "We couldn't find this badge"}
    }%}

    {{ govukErrorSummary({
      "titleText": "Fix the following errors:",
      "errorList": [
        {
          "text": errorArray.existingBadge.text,
          "href": '#' + formIDs.existingBadge.id
        }
      ]
    }) }}

  {% endif %}

  {% set badgeHtml %}
    {{ govukInput({
      "label": {
        "text": "Existing badge number"
      },
      "hint": {
        "text": "Enter the first 6 characters. For example, 242G48"
      },
      classes: "govuk-!-width-two-thirds input-capitals",
      errorMessage: errorArray.existingBadge,
      id: formIDs.existingBadge.id,
      name: formIDs.existingBadge.id,
      attributes: {
        autocapitalize: "characters"
      }
    }) }}
    
    <br>
    <p class="govuk-body">
      <a href="existing-badge/need-to-reapply?existing-blue-badge-number=none">{{iThey}} don't know the badge number</a>
    </p>
  {% endset -%}

  {{ govukRadios({
    "idPrefix": "renewal-or-new-application",
    "name": "renewal-or-new-application",
    "fieldset": {
      "legend": {
        "text": pageHeading,
        "isPageHeading": true,
        "classes": 'govuk-fieldset__legend--l'
      }
    },
    "items": [
      {
        "value": "renewal",
        "text": "Yes",
        "checked": data['existing'] === "yes",
        "id": "renewal-or-new-application-renewal",
        "conditional": {
          "html": badgeHtml
        }
      },
      {
        "value": "new",
        "text": "No",
        "id": "renewal-or-new-application-new"
      }
    ]
  }) }}
    
  
  {{ govukButton({
    "text": "Continue"
  }) }}
</form>

{% endblock %}
