{% extends "layout.html" %}

{% set pageHeading = you + ' don\'t need to reapply yet' %}

{% block pageTitle %}
  {{pageHeading | capitalize}} - {% if serviceName %} {{ serviceName }} {% endif %}
{% endblock %}

{% block inner_content %}




<h1 class="govuk-heading-l">{{pageHeading | capitalize}}</h1>

<!-- <p class="govuk-body-l">We couldn't find a badge matching the number you entered.</p> -->
{{ govukWarningText(
  {
    "text": "This badge expires on 8 June 2021",
    "iconFallbackText": "Warning"
  })
}}

<h2 class="govuk-heading-m">What happens next?</h2>

<div class="govuk-details__text govuk-body">
  <p>Reapply for a Blue Badge after 8 March 2021.</p>
  <p>Alternatively, <a href="">contact {{data['council-name']}} for assistance</a>.</p>

</div>

{% endblock %}
