{% extends "admin_layout.html" %}

{% block back_link %}
  <div class="back-link-container">
    {{ govukBackLink({
      "text": "Back",
      "href": "javascript: window.history.go(-1)"
    }) }}
  </div>
{% endblock %}

{% block page_header %}

  <p class="subtitle">E5B1AF</p>
  <h1>{{title}}</h1>
  
{% endblock %}

{% block content %}


<form action="badge-updated" novalidate>

  <section class="form-section">

    {{ govukInput({
      "label": {
        "text": "Full name"
      },
      classes: "govuk-!-width-one-half",
      id: "fullName",
      name: "fullName",
      value: "Phillip Powell"
    }) }}

    {{ govukRadios({
      "idPrefix": "gender",
      "name": "gender",
      "fieldset": {
        "legend": {
          "text": "Gender",
          "isPageHeading": false,
          "classes": 'govuk-fieldset__legend--s'
        }
      },
      "items": [
        {
          "value": "Woman",
          "text": "Woman"
        },
        {
          "value": "Man",
          "text": "Man",
          "checked": "Man"
        },
        {
          "value": "Identifies in a different way",
          "text": "Identifies in a different way"
        }

      ]
    }) }}

  </section>
    
  <section class="form-section">

    <h2 class="govuk-heading-m">Address</h2>
    
    {% call govukFieldset({
      "legendText": 'Address',
      "classes": 'fieldset-with-inputs'
    }) %}
    
      {{ govukInput({
        "label": {
          "html": 'Building and street <span class="govuk-visually-hidden">line 1 of 2</span>'
        },
        classes: "govuk-!-width-one-half",
        "id": "address-line-1",
        "name": "address-line-1",
        "value": "114 Mansfield Road"
      }) }}
    
      {{ govukInput({
        "label": {
          "html": '<span class="govuk-visually-hidden">Building and street line 2 of 2</span>'
        },
        classes: "govuk-!-width-one-half",
        "id": "address-line-2",
        "name": "address-line-2",
        "value": "Crumpsall"
      }) }}
    
      {{ govukInput({
        "label": {
          "html": 'Town or city'
        },
        classes: "govuk-!-width-one-half",
        "id": "address-town",
        "name": "address-town",
        "value": "Manchester"
      }) }}
    
      {{ govukInput({
        "label": {
          "html": 'Postcode'
        },
        "classes": 'govuk-input--width-10',
        "id": "address-postcode",
        "name": "address-postcode",
        "value": "M1 1BS"
      }) }}
    
    {% endcall %}

    </section>
    
    <section class="form-section">

      <h2 class="govuk-heading-m">Contact details</h2>

  
      {{ govukInput({
          "label": {
            "text": "Full name"
          },
          classes: "govuk-!-width-one-half",
          id: "contact-name",
          name: "contact-name",
          type: "text",
          value: "Phillip Powell"
        })
      }}
    
      {{ govukInput({
        "label": {
          "text": "Main phone number"
        },
        classes: "govuk-!-width-one-half",
        id: "primary-contact-number",
        name: "primary-contact-number",
        type: "tel",
        value: "01233 524224"
      }) }}

      {{ govukInput({
        "label": {
          "text": "Alternative phone number (optional)"
        },
        classes: "govuk-!-width-one-half",
        id: "secondary-contact-number",
        name: "secondary-contact-number",
        type: "tel",
        value: ""
      }) }}
      
      {{ govukInput({
        "label": {
          "text": "Email address (optional)"
        },
        classes: "govuk-!-width-one-half",
        id: "email-address",
        name: "email-address",
        type: "email",
        value: "p.powell@gmail.com"
      }) }}
  
  </section>

  <section class="form-section">

   <h2 class="govuk-heading-m">Upload new photo (optional)</h2>

   <p class="govuk-body">
     Photos should:
   </p>

   <ul class="govuk-list govuk-list--bullet">
     <li>meet the <a href="">guidelines</a></li>  
     <li>be either .JPEG, .PNG or .GIF format</li>
     <li>not be bigger than 10MB</li>
   </ul>

    
   {{ govukFileUpload({
     id: 'file-input',
     name: 'file-input',
     label: {
       text: 'Upload a file'
     }
   }) }}

  </section>

  <section class="form-section">
    <h2 class="govuk-heading-m">Badge details</h2>

    <dl class="govuk-check-your-answers govuk-check-your-answers--short">
      <div class="govuk-check-your-answers__contents dft-data-list__item">
        <dt class="dft-data-list__dt govuk-check-your-answers__question">
          Badge number
        </dt>
        <dd class="dft-data-list__dd govuk-check-your-answers__answer">
          E5B1AF
        </dd>
      </div>

      <div class="govuk-check-your-answers__contents dft-data-list__item">
        <dt class="dft-data-list__dt govuk-check-your-answers__question">
          Issuing authority
        </dt>
        <dd class="dft-data-list__dd govuk-check-your-answers__answer">
          Manchester City Council
        </dd>
      </div>
    </dl>

    <details class="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          Transfer badge to a different local authority
        </span>
      </summary>
      <div class="govuk-details__text">
        <div class="govuk-form-group">
          <label for="badgeTransferAuths" class="govuk-label">Choose local authority to transfer the badge to</label>
          <select name="transferred-authority" class="govuk-select" id="badgeTransferAuths">
            {% include "includes/issuing-auth-options.html" %}
          </select>
        </div>

        <div class="govuk-warning-text">
          <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
          <strong class="govuk-warning-text__text">
            <span class="govuk-warning-text__assistive">Warning</span>
            Badge will be transferred when you update badge details. <br> Make sure the authority you are transferring to is aware of the transfer.
          </strong>
        </div>
      </div>
    </details>
  </section>

  {{ govukButton({
    "text": "Update badge details"
  }) }}

</form>

{% endblock %}