{% extends "admin_layout.html" %}

{% block page_header %}
  <h1>{{title}}</h1><p class="count">36</p>
  <div class="search-box-container">
    <form action="" class="search-box">
      {% include "includes/search.html" %}
    </form>
    <div class="search-box__options">
      <a href="/public/images/new-applications.csv">Export all</a>
    </div>
  </div>
{% endblock %}

{% block content %}
  {{ govukTable({
    "firstCellIsHeader": false,
    "head": [
      {
        "text": "Name"
      },
      {
        "text": "NI number"
      },
      {
        "text": "Eligibility"
      },
      {
        "text": "Submitted date"
      },
      {
        "text": "Status"
      }
    ],
    "rows": [
      [
        {
          "html": "<a href='new-application-pip?change-application-status=to+do'>Joe Louis Bloggs</a>"
        },
        {
          "text": "AB 123 456 A"
        },
        {
          "text": "PIP"
        },
        {
          "text": "13/12/18 13:04"
        },
        {
          "html": '<strong class="govuk-tag app-task-list__task-completed" id="eligibility-completed">To do</strong>',
          "format": "has-tag"
        }
      ],
      [
        {
          "html": "<a href='new-application-walking?change-application-status=to+do'> Margaret Kate Miller</a>"
        },
        {
          "text": "AB 123 456 A"
        },
        {
          "text": "Walking ability"
        },
        {
          "text": "13/12/18 11:35"
        },
        {
          "html": '<strong class="govuk-tag app-task-list__task-completed" id="eligibility-completed">To do</strong>',
          "format": "has-tag"
        }
      ],
      [
        {
          "html": "<a href='new-application-walking-2?change-application-status=to+do'>Michael Austin David</a>"
        },
        {
          "text": "AB 123 456 A"
        },
        {
          "text": "Walking ability"
        },
        {
          "text": "13/12/18 09:39"
        },
        {
          "html": '<strong class="govuk-tag app-task-list__task-completed" id="eligibility-completed">To do</strong>',
          "format": "has-tag"
        }
      ],
      [
        {
          "html": "<a href='new-application-arms?change-application-status=to+do'>Jeffery Victor Veen</a>"
        },
        {
          "text": "AB 123 456 A"
        },
        {
          "text": "Disability in both arms"
        },
        {
          "text": "13/12/18 09:33"
        },
        {
          "html": '<strong class="govuk-tag app-task-list__task-completed" id="eligibility-completed">To do</strong>',
          "format": "has-tag"
        }
      ],
      [
        {
          "html": "<a href='?change-application-status=to+do'>St Mary's Care Home</a>"
        },
        {
          "text": "AB 123 456 A"
        },
        {
          "text": "Organisation"
        },
        {
          "text": "13/12/18 21:07"
        },
        {
          "html": '<strong class="govuk-tag app-task-list__task-completed" id="eligibility-completed">To do</strong>',
          "format": "has-tag"
        }
      ],
      [
        {
          "html": "<a href='?change-application-status=in+progress'>Scott Michael Walker</a>"
        },
        {
          "text": "AB 123 456 A"
        },
        {
          "text": "DLA"
        },
        {
          "text": "13/12/18 18:20"
        },
        {
          "html": '<strong class="govuk-tag app-task-list__task-completed" id="eligibility-completed">In progress</strong>',
          "format": "has-tag"
        }
      ],
      [
        {
          "html": "<a href='new-application-child-bulky?change-application-status=in+progress'>Adam David Kayoom</a>"
        },
        {
          "text": ""
        },
        {
          "text": "Child with bulky equipment"
        },
        {
          "text": "13/12/18 18:19"
        },
        {
          "html": '<strong class="govuk-tag app-task-list__task-completed" id="eligibility-completed">In progress</strong>',
          "format": "has-tag"
        }
      ],
      [
        {
          "html": "<a href='?change-application-status=finishsed'>Tilda Tabatha Vaughn</a>"
        },
        {
          "text": "AB 123 456 A"
        },
        {
          "text": "DLA"
        },
        {
          "text": "13/12/18 17:49"
        },
        {
          "html": '<strong class="govuk-tag app-task-list__task-completed" id="eligibility-completed">Finished</strong>',
          "format": "has-tag"
        }
      ],
      [
        {
          "html": "<a href='new-application-child-near?change-application-status=finished'>Lucy Eve Kraven</a>"
        },
        {
          "text": ""
        },
        {
          "text": "Child near a vehicle"
        },
        {
          "text": "13/12/18 13:01"
        },
        {
          "html": '<strong class="govuk-tag app-task-list__task-completed" id="eligibility-completed">Finished</strong>',
          "format": "has-tag"
        }
      ],
      [
        {
          "html": "<a href='new-application-blind?change-application-status=finished'>Margaret Sheila Cowell</a>"
        },
        {
          "text": "AB 123 456 A"
        },
        {
          "text": "Severely sight impaired"
        },
        {
          "text": "13/12/18 13:04"
        },
        {
          "html": '<strong class="govuk-tag app-task-list__task-completed" id="eligibility-completed">Finished</strong>',
          "format": "has-tag"
        }
      ],
      [
        {
          "html": "<a href='new-application?change-application-status=finished'>Raksha Patel</a>"
        },
        {
          "text": ""
        },
        {
          "text": "War Veterans"
        },
        {
          "text": "13/12/18 13:13"
        },
        {
          "html": '<strong class="govuk-tag app-task-list__task-completed" id="eligibility-completed">Finished</strong>',
          "format": "has-tag"
        }
      ]
    ]
  }) }}

  {% include "includes/admin-table_footer.html" %}
{% endblock %}
