{% extends "admin-anon_layout.html" %}

{% block content %}

<form action="{{ formAction }}" class="sign-in" novalidate>

  <h1 class="govuk-heading-l">Enable cookies</h1>

  <p class="govuk-body">You can't currently access the service because your browser's cookies have been disabled.</p>

  <p class="govuk-body"><a href="http://www.aboutcookies.org/default.aspx?page=1">Find out how to enable cookies</a></p>
  <p class="govuk-body">Once you've enabled your cookies please refresh your browser to continue.</p>
  
  {{ govukButton({
    "text": "I have enabled cookies",
    "href": "/manage-blue-badges"
  }) }}


{% endblock %}
