{% extends "admin_layout.html" %}

{% block page_header %}
  <h1>{{title}}</h1><p class="count">36</p>
  <div class="search-box-container">
    <form action="" class="search-box">
      {% include "includes/search.html" %}
    </form>
    <div class="search-box__options">
      <a href="/public/images/new-applications.csv">Export all</a>
    </div>
  </div>
{% endblock %}

{% block content %}
  <table class="govuk-table">
    
    
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
      
        <th class="govuk-table__header" scope="col">Name</th>
      
        <th class="govuk-table__header" scope="col">Date of birth</th>
      
        <th class="govuk-table__header" scope="col">Eligibility</th>

        <th class="govuk-table__header" scope="col">Badge number</th>
      
        <th class="govuk-table__header" scope="col">Submitted date</th>

        <th class="govuk-table__header govuk-table__header--align-center" scope="col">Status</th>
      
      </tr>
    </thead>
    
    <tbody class="govuk-table__body">
      {% for application in applicationsTableArray %}
      <tr class="govuk-table__row">
        <td class="govuk-table__cell"><a href="reapplication?application-gen-nino={{application.applicantNINO}}">{{application.applicantName}}</a></td>
        <td class="govuk-table__cell ">{{application.applicantDOB}}</td>
        <td class="govuk-table__cell ">{{application.applicantEligibility}}</td>
        <td class="govuk-table__cell ">{{application.existingBadgeNumber}}</td>
        <td class="govuk-table__cell ">{{application.applicantSubmittedDate}}</td>
        <td class="govuk-table__cell govuk-table__cell--align-center"><strong class="govuk-tag app-task-list__task-completed">To do</strong></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  

  {% include "includes/admin-table_footer.html" %}
{% endblock %}
