{% extends "admin_layout.html" %}

{% block page_header %}

  <h1>{{title}}</h1>
  
{% endblock %}

{% block content %}


<form action="search-results-backend" novalidate>
  {% set badgeNumberHtml%}
    {{ govukInput({
      "label": {
        "text": "This is a 6-character code"
      },
      "hint": {
        "text": "For example, 72B9HA"
      },
      classes: "govuk-!-width-one-half input-capitals",
      id: "badge-search-number",
      name: "badge-search-number",
      type: "mixed",
      attributes: {
        autocapitalize: "characters",
        autocorrect: "off",
        autocomplete: "off",
        maxlength: "6"
      }
    }) }}
  {% endset -%}

  {% set holderNameHtml%}
    {{ govukInput({
      "label": {
        "text": "Enter first or last name"
      },
      classes: "govuk-!-width-one-half",
      id: "badge-search",
      name: "badge-search"
    }) }}
  {% endset -%}

  {% set postCodeHtml%}
    {{ govukInput({
      "label": {
        "text": "Enter full postcode"
      },
      classes: "govuk-!-width-one-half",
      id: "badge-search-postcode",
      name: "badge-search-postcode"
    }) }}
  {% endset -%}

  
  {{ govukRadios({
    "idPrefix": "search-by",
    "name": "search-by",
    "fieldset": {
      "legend": {
        "text": 'Search for Blue Badges in the UK by:'
      }
    },
    "items": [
      {
        "value": "badge-number",
        "text": "Badge number",
        "checked": true,
        "conditional": {
          "html": badgeNumberHtml
        }
      },
      {
        "value": "name",
        "text": "Name",
        "conditional": {
          "html": holderNameHtml
        }
      },
      {
        "value": "postcode",
        "text": "Postcode",
        "conditional": {
          "html": postCodeHtml
        }
      }
    ]
  }) }}

  {{ govukButton({
    "text": "Search"
  }) }}

  <details class="govuk-details">
    <summary class="govuk-details__summary">
      <span class="govuk-details__summary-text">
        Export all badges
      </span>
    </summary>
    <div class="govuk-details__text">
      <p>This will download a CSV including all the badges for this local authority.</p>
      {{ govukButton({
        "text": "Export badges",
        "href": "/public/downloaded-report.csv"
      }) }}
    </div>
  </details>

</form>

{% endblock %}