{% extends "admin_layout.html" %}

{% block page_header %}

  <h1>{{title}}</h1>
  
{% endblock %}

{% block content %}

{% set govukPayHtml %}
  {{ govukInput({
    "label": {
      "text": "What is your GOV.UK Pay API key?"
    },
    id: "govuk-pay-api-key",
    name: "govuk-pay-api-key"
  }) }}
{% endset -%}

{% set govukNotifyHtml %}
  {{ govukInput({
    "label": {
      "text": "What is your GOV.UK Notify API key?"
    },
    id: "govuk-notify-api-key",
    name: "govuk-notify-api-key"
  }) }}
  {{ govukInput({
    "label": {
      "text": "What is the ID of the 'Application submitted' template?"
    },
    id: "govuk-notify-api-key",
    name: "govuk-notify-api-key"
  }) }}
{% endset -%}

<form action="{{ formAction }}" method="post" class="form" novalidate>

  <section class="form-section">

    <!-- <h2 class="govuk-heading-m">Provide new credentials</h2> -->

    {{ govukRadios({
      "idPrefix": "govuk-pay",
      "name": "govuk-pay",
      "fieldset": {
        "legend": {
          "text": "Choose a service to provide credentials for",
          "isPageHeading": false,
          "classes": 'govuk-fieldset__legend--l'
        }
      },
      "items": [
        {
          "value": "govuk-pay",
          "text": "GOV.UK Pay",
          "conditional": {
            "html": govukPayHtml
          }
        },
        {
          "value": "govuk-notify",
          "text": "GOV.UK Notify",
          "conditional": {
            "html": govukNotifyHtml
          }
        }
      ]
    }) }}

  </section>
    
  {{ govukButton({
    "text": "Save"
  }) }}

</form>

{% endblock %}