{% extends "admin_layout.html" %}


{% block back_link %}
  <div class="back-link-container">
    {{ govukBackLink({
      "text": "Back",
      "href": "javascript: window.history.go(-1)"
    }) }}
  </div>
{% endblock %}

{% block page_header %}
  <div class="check-answers-heading-with-change">
    <div class="check-answers-heading">
      <p class="subtitle">{{badgeholder.shortcode}}</p>
      <h1>{{title}}</h1>
    </div>
  
  </div>
  
{% endblock %}

{% block content %}

<section class="split-section">
  
  <dl class="govuk-check-your-answers govuk-check-your-answers--short">

    <dl class="govuk-check-your-answers govuk-check-your-answers--short">
      <div class="govuk-check-your-answers__contents">
        <dt class="govuk-check-your-answers__question">
          Badge status
        </dt>
        <dd class="govuk-check-your-answers__answer">
          {{ badgeholder.badgeStatus}}
        </dd>
      </div>
  
    <div class="govuk-check-your-answers__contents">
      <dt class="govuk-check-your-answers__question">
        Photo
      </dt>
      <dd class="govuk-check-your-answers__answer">
        <img src="/public/images/{{ badgeholder.photoPath}}" alt="Photo of Badge Holder">
      </dd>
    </div>

    <div class="govuk-check-your-answers__contents">
      <dt class="govuk-check-your-answers__question">
        Full name
      </dt>
      <dd class="govuk-check-your-answers__answer">
        {{badgeholder.fullName}}
      </dd>
    </div>
  
    <div class="govuk-check-your-answers__contents">
      <dt class="govuk-check-your-answers__question">
        Date of birth
      </dt>
      <dd class="govuk-check-your-answers__answer">
        {{badgeholder.dateOfBirth}}
      </dd>
    </div>

    {% if badgeholder.contactName %}
      <div class="govuk-check-your-answers__contents">
        <dt class="govuk-check-your-answers__question">
          Contact full name
        </dt>
        <dd class="govuk-check-your-answers__answer">
          {{ badgeholder.contactName }}
        </dd>
      </div>
    {% endif %}

    <div class="govuk-check-your-answers__contents">
      <dt class="govuk-check-your-answers__question">
        Gender
      </dt>
      <dd class="govuk-check-your-answers__answer">
        {{badgeholder.gender}}
      </dd>
    </div>

    <div class="govuk-check-your-answers__contents">
      <dt class="govuk-check-your-answers__question">
        Main contact number
      </dt>
      <dd class="govuk-check-your-answers__answer">
        {{ badgeholder.mainPhoneNumber}}
      </dd>
    </div>

    {% if badgeholder.altPhoneNumber %}
    <div class="govuk-check-your-answers__contents">
      <dt class="govuk-check-your-answers__question">
        Alternative contact number
      </dt>
      <dd class="govuk-check-your-answers__answer">
        {{ badgeholder.altPhoneNumber}}
      </dd>
    </div>
    {% endif %}

    <div class="govuk-check-your-answers__contents">
      <dt class="govuk-check-your-answers__question">
        Address
      </dt>
      <dd class="govuk-check-your-answers__answer">
        {{ badgeholder.address.street }},
        {% if badgeholder.address.street2 %}
          {{ badgeholder.address.street2 }},
        {% endif %}
        {{ badgeholder.address.city }},
        {{ badgeholder.address.postcode }}
      </dd>
    </div>

    {% if badgeholder.emailAddress %}
    <div class="govuk-check-your-answers__contents">
      <dt class="govuk-check-your-answers__question">
        Email address
      </dt>
      <dd class="govuk-check-your-answers__answer">
        {{ badgeholder.emailAddress}}
      </dd>
    </div>
    {% endif %}

    {% if badgeholder.nationalInsurance %}
    <div class="govuk-check-your-answers__contents hide-enforcer">
      <dt class="govuk-check-your-answers__question">
        National insurance number
      </dt>
      <dd class="govuk-check-your-answers__answer">
        {{badgeholder.nationalInsurance}}
      </dd>
    </div>
    {% endif %}
  
    <div class="govuk-check-your-answers__contents">
      <dt class="govuk-check-your-answers__question">
        Eligibility
      </dt>
      <dd class="govuk-check-your-answers__answer">
        {{ badgeholder.eligibility}}
      </dd>
    </div>

  </dl>
</section>

<section class="split-section">
  <h2 class="govuk-heading-m">
    Badge details
  </h2>
  
  <dl class="govuk-check-your-answers govuk-check-your-answers--short">
    <div class="govuk-check-your-answers__contents">
      <dt class="govuk-check-your-answers__question">
        Status
      </dt>
      <dd class="govuk-check-your-answers__answer">
        {{ badgeholder.badgeStatus}}
      </dd>
    </div>
  
    <div class="govuk-check-your-answers__contents">
      <dt class="govuk-check-your-answers__question">
        Badge number
      </dt>
      <dd class="govuk-check-your-answers__answer">
        {{ badgeholder.fullBadgeNumber}}
      </dd>
    </div>
  
    <div class="govuk-check-your-answers__contents">
      <dt class="govuk-check-your-answers__question">
        Issued by
      </dt>
      <dd class="govuk-check-your-answers__answer">
        {{data['current-council']}}
      </dd>
    </div>
  
    <div class="govuk-check-your-answers__contents">
      <dt class="govuk-check-your-answers__question">
        Badge start date
      </dt>
      <dd class="govuk-check-your-answers__answer">
        {{ badgeholder.badgeStart}}
      </dd>
    </div>
  
    <div class="govuk-check-your-answers__contents">
      <dt class="govuk-check-your-answers__question">
        Badge expiry date
      </dt>
      <dd class="govuk-check-your-answers__answer">
        {{ badgeholder.badgeExpiry}}
      </dd>
    </div>
  
    <div class="govuk-check-your-answers__contents">
      <dt class="govuk-check-your-answers__question">
        Local authority reference
      </dt>
      <dd class="govuk-check-your-answers__answer">
        {{ badgeholder.laReference}}
      </dd>
    </div>
  
    <div class="govuk-check-your-answers__contents">
      <dt class="govuk-check-your-answers__question">
        Application date
      </dt>
      <dd class="govuk-check-your-answers__answer">
        {{ badgeholder.applicationDate}}
      </dd>
    </div>

    <div class="govuk-check-your-answers__contents">
      <dt class="govuk-check-your-answers__question">
        Application channel
      </dt>
      <dd class="govuk-check-your-answers__answer">
        {{ badgeholder.applicationChannel}}
      </dd>
    </div>
  </dl>
</section>


{% endblock %}