{% extends "admin_layout.html" %}


{% block back_link %}
  <div class="back-link-container">
    {{ govukBackLink({
      "text": "Back",
      "href": "javascript: window.history.go(-1)"
    }) }}
  </div>
{% endblock %}

{% block page_header %}
  <div class="check-answers-heading-with-change">
    <div class="check-answers-heading">
      <p class="subtitle">{{data['badge-search']}}</p>
      <h1>{{title}}</h1>
    </div>
  </div>
  
{% endblock %}

{% block content %}

<div class="mobile-grid align-middle">
  <div class="mobile-grid-cell grid-cell-1-2">
    <div class="enforcer-view-image">
      <img src="/public/images/phillip.png" alt="Photo of Phillip Powell">
    </div>
  </div>
  <div class="mobile-grid-cell grid-cell-1-2">
    <dl class="labels-with-heading">
      <div class="label-with-heading">
        <dt class="label">Age</dt>
        <dd class="heading">54</dd>
      </div>

      <div class="label-with-heading">
        <dt class="label">Badge expiry</dt>
        <dd class="heading">24 Oct '21</dd>
      </div>

      <div class="label-with-heading">
        <dt class="label">Badge status</dt>
        <dd class="heading">Active</dd>
      </div>
    </dl>
  </div>
</div>

<div class="mobile-grid">
  <dl class="labels-with-heading">
    <div class="label-with-heading">
      <dt class="label">Badge holder</dt>
      <dd class="heading">Jonathan Smith</dd>
    </div>
  
    <div class="label-with-heading">
      <dt class="label">Issued by</dt>
      <dd class="heading">{{data['current-council']}}</dd>
    </div>
  
    <div class="label-with-heading">
      <dt class="label">Badge number</dt>
      <dd class="heading">{{data['badge-search']}} 09 GH22182</dd>
    </div>
  </dl>
</div>

<br>

{{ govukButton({
  "text": "View more details",
  "href": 'view-badge'
}) }}


{% endblock %}