{% extends "layout.html" %}
{% set hideBackLink = 'yes' %}
{% block pageTitle %}
  {% if serviceName %} {{ serviceName }} {% endif %} - GOV.UK prototype kit
{% endblock %}

{% block inner_content %}

<h1 class="govuk-heading-xl">
  {% if serviceName %} Replace a lost, stolen or damaged Blue Badge {% endif %}
</h1>

<h2 class="govuk-heading-m">In England, Scotland or Wales</h2>
<p class="govuk-body">Contact your local council if your Blue Badge gets lost, stolen or damaged.</p>
<p class="govuk-body">Replacement badges will only be valid until the expiry date of the original badge.</p>
<p class="govuk-body">If your badge was due to expire in less than three months, you should <a href="/apply-for-a-blue-badge">renew your blue badge</a>.</p>


<form method="post" id="local-locator-form" class="find-location-for-service" action="https://www.gov.uk/blue-badge-scheme-information-council/leeds">
    <fieldset style="border: none; background: #dee0e2; line-height: 2; margin: 2em 0; padding: 1em 0.75em 1em 1em;">
      <legend class="govuk-visually-hidden">Postcode lookup</legend>

      <div class="ask_location">
        <label class="govuk-label--m" for="postcode">Enter a postcode</label>
        <p>For example SW1A 2AA</p>
        <input class="govuk-input govuk-input--width-10" id="postcode" name="postcode" type="text" aria-invalid="false" value="">
        
	 	<a class="gem-c-button govuk-button" href="https://www.gov.uk/blue-badge-scheme-information-council/leeds">Find</a>

        <p>
          <a target="_blank" id="postcode-finder-link" rel="external" href="http://www.royalmail.com/find-a-postcode">Find a postcode on Royal Mail's postcode finder</a>
        </p>
      </div>
    </fieldset>
</form>

<h2 class="govuk-heading-m">In Norther Ireland</h2>
<p class="govuk-body">You can apply to replace your Blue Badge online through the <a href="https://www.nidirect.gov.uk/articles/apply-replace-lost-stolen-or-damaged-blue-badge">NI Direct website</a>.</p>


<p class="govuk-body">Last updated: 16 September 2018</p>

{% endblock %}

