{% extends "layout.html" %}
{% set hideBackLink = 'yes' %}
{% set isFullWidth = 'yes' %}
{% set activeStep = '1' %}
{% set activeStepLink = '2' %}
{% block pageTitle %}
  Applying for a Blue Badge with “hidden” or “non-physical” disabilities
{% endblock %}

{% block inner_content %}
<div class="govuk-grid-column-two-thirds">
  <h1 class="govuk-heading-xl">
    Applying for a Blue Badge with “hidden” or “non-physical” disabilities
  </h1>

  <p class="govuk-body">From 30 August 2019, the government will be introducing new criteria for Blue Badge applications.</p>

  <p class="govuk-body">Due to the nature of “hidden” or “non-physical” disabilities, applications will be assessed by looking at an applicant's needs.</p> 
  
  <div class="govuk-inset-text">
    <p class="govuk-body">Having a certain condition or disability does not automatically entitle somebody to a Blue Badge.</p>
  </div>

  <p class="govuk-body">To prepare for the new criteria, Department for Transport (DfT) conducted extensive research with an independent consultancy. This research included insights from a range of healthcare professionals that care for people with relevant conditions and disabilities as well as local authorities that issue the badges.</p>

  <h2 class="govuk-heading-m">Personal Independence Payment (PIP)</h2>

  <p class="govuk-body">An applicant would be automatically eligible under the new criteria if, in their PIP mobility assessment, they scored 10 points in “Planning and following a journey”. <b>Specifically</b> the 10 points which says:</p> 

  <div class="govuk-inset-text">
    <p class="govuk-body">“Cannot undertake any journey because it would cause overwhelming psychological distress to the claimant.”</p>
  </div>

  <p class="govuk-body">If the applicant did not score this, they can still apply and their application will be assessed by their local authority.</p>

  <h2 class="govuk-heading-m">Other benefits</h2>

  <p class="govuk-body">There is no automatic eligibility under the new criteria with other benefits, including:</p>

  <ul class="govuk-list govuk-list--bullet">
    <li>Disability Living Allowance (DLA)</li>
    <li>Attendance Allowance (AA)</li>
  </ul>

  <p class="govuk-body">Instead, if the applicant receives one of these benefits, they can still apply and their application will be assessed by their local authority.</p>

  <h2 class="govuk-heading-m">Applying under the new criteria</h2>

  <p class="govuk-body">Consider applying for a Blue Badge if the applicant has a “hidden” / “non-physical” condition or disability, causing them to severely struggle with journeys and either:</p>

  <ul class="govuk-list govuk-list--bullet">
    <li>is constantly a significant risk near vehicles, in traffic or car parks</li>
    <li>struggles to plan or follow a journey</li>
    <li>finds it difficult or impossible to control their actions and lacks awareness of the impact they could have on others</li>
    <li>regularly has intense responses to overwhelming situations causing temporary loss of behavioural control (meltdown)</li>
    <li>frequently becomes extremely anxious or fearful of public/open spaces</li>
  </ul>

  <p class="govuk-body">If one or more of these are relevant to the applicant, apply using the online service.</p>

  <p class="govuk-body">Before you apply, find out <a href="what-youll-need">what you'll need when you apply</a>.</p>

  <p class="govuk-body">Last updated: 10 June 2019</p>
</div>
<div class="govuk-grid-column-one-third">

  {% include "includes/step-by-step.html" %}
</div>


{% endblock %}
