{% extends "layout.html" %}
{% set hideBackLink = 'yes' %}
{% block pageTitle %}
  {% if serviceName %} {{ serviceName }} {% endif %} - GOV.UK prototype kit
{% endblock %}

{% block inner_content %}

<h1 class="govuk-heading-xl">
  {% if serviceName %} {{ serviceName }} {% endif %}
</h1>

<h2 class="govuk-heading-m">“Non-physical” criteria</h2>

<p class="govuk-body">Before applying for a Blue Badge, check that you understand the new eligibility criteria.</p>

<p class="govuk-body">To prepare for the new criteria, Department for Transport has done extensive research with an independent agency. Along with different specialists that care for people with various conditions and disabilities.</p>

<p class="govuk-body">Due to the nature of "non-physical" or "hidden" disabilities, applications will be assessed on an applicant's needs. Having a specific condition/disability does not automatically entitle them to a Blue Badge.</p>

<h2 class="govuk-heading-m">Eligibility</h2>

<p class="govuk-body">To help understand who might be eligible, consider applying for a Blue Badge if the applicant:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>has a “non-physical” condition or disability, causing them to struggle with journeys</li>
  <li>is a risk near vehicles, in traffic or car parks</li>
  <li>struggles to plan or follow a journey</li>
  <li>finds it difficult or impossible to control their actions and lacks awareness of the impact they could have on others</li>
  <li>regularly has intense responses to overwhelming situations causing temporary loss of behavioural control (meltdown)</li>
  <li>can become extremely anxious or fearful of public/open spaces</li>
</ul>

<p>If one or more of these are relevant to the applicant, <a href="/apply-for-a-blue-badge">apply using the online service</a>.</p>

<p class="govuk-body">Last updated: 4 April 2019</p>


{% endblock %}
