{% extends "layout.html" %}
{% set hideBackLink = 'yes' %}
{% set isFullWidth = 'yes' %}
{% set activeStep = '2' %}
{% set activeStepLink = '4' %}
{% block pageTitle %}
  Blue Badge rights and responsibilities
{% endblock %}

{% block inner_content %}
<div class="govuk-grid-column-two-thirds">
  <h1 class="govuk-heading-xl">
    Blue Badge rights and responsibilities
  </h1>

  <p class="govuk-body">The way a Blue Badge can be used differs between England, Scotland and Wales:</p>

  <ul class="govuk-list govuk-list--bullet">
    <li>for England, you can <a href="https://www.gov.uk/government/publications/the-blue-badge-scheme-rights-and-responsibilities-in-england">read the rules on GOV.UK</a></li>
    <li>for Scotland, you can <a href="https://www.mygov.scot/blue-badge-scheme/">read the rules on mygov.scot</a></li>
    <li>for Wales, you can <a href="https://gov.wales/blue-badges-your-rights-and-responsibilities">read the rules on gov.wales</a></li>
  </ul>

  <p class="govuk-body">Once you’ve read the rules for using a Blue Badge in the nation you’ll be using it in you should be ready to apply.</p>

  {{ govukButton({
    "text": "Start application",
    "href": "/apply-for-a-blue-badge/"
  }) }}

  <p class="govuk-body">Last updated: 10 June 2019</p>
</div>
<div class="govuk-grid-column-one-third">

  {% include "includes/step-by-step.html" %}
</div>


{% endblock %}
