{% extends "layout.html" %}

{% set pageHeading = 'Enter the 4-digit code' %}

{% block pageTitle %}
  {{pageHeading}} - {% if serviceName %} {{ serviceName }} {% endif %}
{% endblock %}

{% block inner_content %}

<form action="task-list">
  <h1 class="govuk-heading-l">{{pageHeading}}</h1>
  
  <div class="govuk-inset-text">
    <p class="govuk-body">If the details match to a saved application, a 4-digit code will have been sent to <b>{{data['email-phone']}}</b>. The code is valid for 30 minutes.</p>
  </div>

  {{ govukInput({
    "label": {
      "text": "Enter the applicant's postcode"
    },
    "hint": {
      "text": "This is used to verify the application"
    },
    classes: "govuk-input--width-10",
    id: "postcode-save",
    name: "postcode-save"
  }) }}
  
  {{ govukInput({
    "label": {
      "text": "Enter the 4-digit code"
    },
    id: "return-code",
    name: "return-code",
    type: "tel",
    classes: "govuk-input--width-4 input-capitals",
    attributes: {
      autocapitalize: "characters",
      maxlength: "4"
    }
  }) }}
  
  {{ govukButton({
    "text": "Continue"
  }) }}
</form>

{% endblock %}
