{% extends "layout.html" %}
{% set hideBackLink = 'yes' %}
{% set pageHeading = 'Return to ' + your + ' application' %}

{% block pageTitle %}
  {{pageHeading}} - {% if serviceName %} {{ serviceName }} {% endif %}
{% endblock %}

{% block inner_content %}

<form action="save-enter-code">
  <h1 class="govuk-heading-l">{{pageHeading}}</h1>

  <div class="govuk-inset-text">
    <p class="govuk-body">Enter the email address {{you}} used to save {{your}} {{application}}.</p> 
  </div>
  
  
  
  {{ govukInput({
    "label": {
      "text": "Email address"
    },
    "hint": {
      "text": "We'll send a code that you will need to continue " + your + " application"
    },
    id: "email-phone",
    name: "email-phone",
    type: "text"
  }) }}
  
  {{ govukButton({
    "text": "Continue"
  }) }}
</form>

{% endblock %}
