{% extends "layout.html" %}
{% set hideBackLink = 'yes' %}
{% set pageHeading = 'Return to a saved application' %}

{% block pageTitle %}
  {{pageHeading}} - {% if serviceName %} {{ serviceName }} {% endif %}
{% endblock %}

{% block inner_content %}

<form action="save-enter-code">
  <h1 class="govuk-heading-l">{{pageHeading}}</h1>  
  
  {{ govukInput({
    "label": {
      "text": "Email address"
    },
    "hint": {
      "text": "We'll send a code you will need to continue the application"
    },
    id: "email-phone",
    name: "email-phone",
    type: "text"
  }) }}
  
  {{ govukButton({
    "text": "Continue"
  }) }}
</form>

{% endblock %}
