{% extends "layout.html" %}

{% set pageHeading = 'Save ' + your + ' progress' %}

{% block pageTitle %}
  {{pageHeading}} - {% if serviceName %} {{ serviceName }} {% endif %}
{% endblock %}

{% block inner_content %}

<form action="progress-saved">
	<h1 class="govuk-heading-l">{{pageHeading}}</h1>
	
	
	<div class="govuk-inset-text">
	  <p class="govuk-body">{{your|capitalize}}	application will be saved for 7 days. If you don't return within 7 days, {{your}} application will be deleted.</p>
	</div>

	{{ govukInput({
	  "label": {
	    "text": "Email address"
	  },
	  "hint": {
	  	"text": "We'll send your return code to this email address"
	  },
	  id: "save-email-address",
	  name: "save-email-address",
	  type: "email",
	  value: data['email-address']
	}) }}

	{{ govukInput({
	  "label": {
	    "text": "Enter " + your + " postcode"
	  },
	  "hint": {
	  	"text": "This is used to verify " + your + " application"
	  },
	  classes: "govuk-input--width-10",
	  id: "postcode-save",
	  name: "postcode-save"
	}) }}
	
	

	
	{{ govukButton({
	  "text": "Continue"
	}) }}
</form>

{% endblock %}
