{% extends "layout.html" %}

{% set pageHeading = "Sorry, the service is unavailable"  %}
{% set hideBackLink = 'yes' %}
{% set hideFooterLinks = 'yes' %}

{% block pageTitle %}
  {{pageHeading}} - {% if serviceName %} {{ serviceName }} {% endif %}
{% endblock %}

{% block inner_content %}

<form action="task-list">
  <h1 class="govuk-heading-xl">{{pageHeading}}</h1>
  
  <p class="govuk-body">You will be able to use the Blue Badge service later.</p>

  <p class="govuk-body"><a href="https://www.gov.uk/find-local-council">Contact your local council</a> if you need to speak to somebody urgently.</p>

</form>

{% endblock %}
