{% extends "layout.html" %}
{% set hasSaveClass = 'yes' %}
{% set isFullWidth = 'yes' %}
{% set pageHeading = serviceName %}

{% block pageTitle %}
  Task list - {{pageHeading}}
{% endblock %}

{% if data['personal-completed'] == "true" and data['existing-blue-badge-number'] == "none" %}

{% set proofNotNeeded = true %}

{% else %}
  
{% set proofNotNeeded = false %}

{% endif %}

{% if data['personal-match'] == "false" and 
        data['existing-blue-badge-number'] == "none" %}

  {% set proofNotNeeded = false %}

{% endif %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters app-column-minimum">

      <h1 class="govuk-heading-l">
        {{pageHeading}}
      </h1>

      <a href="#next-section-to-complete" class="govuk-skip-link">Skip to next incomplete section</a>

      <ol class="app-task-list">
        {% if data['renewal-or-new-application'] !== "renewal" %}
        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">1. </span> Check before you start
          </h2>
          <ul class="app-task-list__items complete-before-submit">
            <li class="app-task-list__item">
              <a class="app-task-list__task-name app-task-list--inactivelink" href="check-eligibility/warning" aria-describedby="eligibility-completed">
                Check eligibility
              </a>
              {{ govukTag({
                text: 'Completed',
                classes: 'app-task-list__task-completed',
                attributes: {
                  'id': 'eligibility-completed'
                }
              }) }}
            </li>
          </ul>
        </li>
        {% endif %}
        <li>
          <h2 class="app-task-list__section">
            {% if data['renewal-or-new-application'] === "renewal" %}
            <span class="app-task-list__section-number">1. </span> Prepare reapplication
            {% else %}
            <span class="app-task-list__section-number">2. </span> Prepare application
            {% endif %}
          </h2>
          <ul class="app-task-list__items complete-before-submit">
            {% if data['applicant'] === 'organisation' %}
            <li class="app-task-list__item">
              <a class="app-task-list__task-name" href="organisation-details/{% if data['organisation-completed'] == 'true'%}check-organisation{% endif %}" aria-describedby="organisation-completed">
                Enter organisation details
              </a>
              {% if data['organisation-completed'] == "true" or 
                    data['all-completed'] == "true" %}
              {{ govukTag({
                text: 'Completed',
                classes: 'app-task-list__task-completed',
                attributes: {
                  'id': 'organisation-completed'
                }
              }) }}
              {% endif %}
            </li>
            {% else %}
            <li class="app-task-list__item">
              <a class="app-task-list__task-name" href="personal-details/{% if data['personal-completed'] == 'true'%}check-personal{% endif %}" aria-describedby="personal-completed">
                Enter personal details
              </a>
              {% if data['personal-completed'] == "true" or 
                    data['all-completed'] == "true" %}
              {{ govukTag({
                text: 'Completed',
                classes: 'app-task-list__task-completed',
                attributes: {
                  'id': 'personal-completed'
                }
              }) }}
              {% endif %}
            </li>
            <!-- Walking questions -->
            {% if data['disability'] === 'problems-walking' %}
            <li class="app-task-list__item">
              <a class="app-task-list__task-name" href="prove-eligibility{% if data['walking-completed'] == 'true'%}/check-walking{% endif %}" aria-describedby="walking-completed" data-no-badge-link>
                Describe walking ability
              </a>
              {% if data['walking-completed'] == "true" or 
                    data['all-completed'] == "true" or
                    proofNotNeeded == true %}
              {{ govukTag({
                text: 'Completed',
                classes: 'app-task-list__task-completed',
                attributes: {
                  'id': 'walking-completed'
                }
              }) }}
              {% endif %}
            </li>
            {% endif %}
            {% if data['disability'] === 'arms' %}
            <li class="app-task-list__item">
              <a class="app-task-list__task-name" href="prove-eligibility/{% if data['arms-completed'] == 'true'%}check-arms-blind{% endif %}" aria-describedby="arms-completed" data-no-badge-link>
                Describe {{your}} condition
              </a>
              {% if data['arms-completed'] == "true" or 
                    data['all-completed'] == "true" or
                    proofNotNeeded == true %}
              {{ govukTag({
                text: 'Completed',
                classes: 'app-task-list__task-completed',
                attributes: {
                  'id': 'arms-completed'
                }
              }) }}
              {% endif %}
            </li>
            {% endif %}
            {% if data['disability'] === 'child-bulky-equipment' or 
                  data['disability'] === 'child-close-to-vehicle'  %}
              <li class="app-task-list__item">
                <a class="app-task-list__task-name" href="prove-eligibility/{% if data['child-completed'] == 'true'%}check-child{%else%}describe-conditions{% endif %}" aria-describedby="child-completed" data-no-badge-link>
                  Describe their condition
                </a>
                {% if data['child-completed'] == "true" or 
                      data['all-completed'] == "true" or
                      proofNotNeeded == true %}
                {{ govukTag({
                  text: 'Completed',
                  classes: 'app-task-list__task-completed',
                  attributes: {
                    'id': 'child-completed'
                  }
                }) }}
                {% endif %}
              </li>

            {% endif %}

            {% if data['disability'] === 'child-bulky-equipment' %}
              <li class="app-task-list__item">
                <a class="app-task-list__task-name" href="prove-eligibility/{% if data['bulky-completed'] == 'true'%}check-child{%else%}medical-equipment{% endif %}" aria-describedby="bulky-completed" data-no-badge-link>
                  List medical equipment
                </a>
                {% if data['bulky-completed'] == "true" or 
                    data['all-completed'] == "true" or
                    proofNotNeeded == true %}
                {{ govukTag({
                  text: 'Completed',
                  classes: 'app-task-list__task-completed',
                  attributes: {
                    'id': 'bulky-completed'
                  }
                }) }}
                {% endif %}
              </li>

            {% endif %}

            {% if data['disability'] === 'problems-walking' or 
                  data['disability'] === 'child-bulky-equipment' or 
                  data['disability'] === 'child-close-to-vehicle'  %}

            <li class="app-task-list__item">
              <a class="app-task-list__task-name" href="prove-eligibility/list-healthcare-professionals{% if data['hcp-completed'] == 'true'%}?hcp-done=true{% endif %}" aria-describedby="hcp-completed" data-no-badge-link>
                List healthcare professionals
              </a>
              {% if data['hcp-completed'] == "true" or 
                    data['all-completed'] == "true" or
                    proofNotNeeded == true %}
              {{ govukTag({
                text: 'Completed',
                classes: 'app-task-list__task-completed',
                attributes: {
                  'id': 'hcp-completed'
                }
              }) }}
              {% endif %}
            </li>
            {% endif %}
            {% if data['disability'] !== 'blind' and data['benefit'] === 'none' %}
            <li class="app-task-list__item">
              <a class="app-task-list__task-name" href="upload-medical-evidence{% if data['medical-evidence-completed'] == 'true'%}?medical-evidence-done=true{% endif %}" aria-describedby="medical-evidence-completed" data-no-badge-link>
                Add supporting documents
              </a>
              {% if data['medical-evidence-completed'] == "true" or 
                    data['all-completed'] == "true" or
                    proofNotNeeded == true %}
              {{ govukTag({
                text: 'Completed',
                classes: 'app-task-list__task-completed',
                attributes: {
                  'id': 'medical-evidence-completed'
                }
              }) }}
              {% endif %}
            </li>
            {% endif %}
            {% if data['disability'] === 'problems-walking' %}
            <li class="app-task-list__item">
              <a class="app-task-list__task-name" href="prove-eligibility/list-treatments{% if data['treatments-completed'] == 'true'%}?treatments-done=true{% endif %}" aria-describedby="treatments-completed" data-no-badge-link>
                List treatments
              </a>
              {% if data['treatments-completed'] == "true" or 
                    data['all-completed'] == "true" or
                    proofNotNeeded == true %}
              {{ govukTag({
                text: 'Completed',
                classes: 'app-task-list__task-completed',
                attributes: {
                  'id': 'treatments-completed'
                }
              }) }}
              {% endif %}
            </li>
            <li class="app-task-list__item">
              <a class="app-task-list__task-name" href="prove-eligibility/list-medication{% if data['medication-completed'] == 'true'%}?medication-done=true{% endif %}" aria-describedby="medication-completed" data-no-badge-link>
                List medication
              </a>
              {% if data['medication-completed'] == "true" or 
                    data['all-completed'] == "true" or
                    proofNotNeeded == true %}
              {{ govukTag({
                text: 'Completed',
                classes: 'app-task-list__task-completed',
                attributes: {
                  'id': 'medication-completed'
                }
              }) }}
              {% endif %}
            </li>
            {% endif %}

            {% if data['benefit'] !== 'none' and 
                  data['renewal-or-new-application'] !== "renewal" and
                  data['disability'] !== "blind" %}
            <li class="app-task-list__item">
              <a class="app-task-list__task-name" href="prove-benefit{% if data['benefit-completed'] == 'true'%}?benefit-done=true{% endif %}" aria-describedby="benefit-completed" data-no-badge-link>
                Provide proof of benefit
              </a>
              {% if data['benefit-completed'] == "true" or 
                    data['all-completed'] == "true" or
                    proofNotNeeded == true %}
              {{ govukTag({
                text: 'Completed',
                classes: 'app-task-list__task-completed',
                attributes: {
                  'id': 'benefit-completed'
                }
              }) }}
              {% endif %}
            </li>
            {% endif %}

            {% if data['disability'] === 'blind' %}
            <li class="app-task-list__item">
              <a class="app-task-list__task-name" href="prove-eligibility/{% if data['blind-completed'] == 'true'%}check-arms-blind{% endif %}" aria-describedby="blind-completed" data-no-badge-link>
                Provide proof of visual impairment
              </a>
              {% if data['blind-completed'] == "true" or 
                    data['all-completed'] == "true" or
                    proofNotNeeded == true %}
              {{ govukTag({
                text: 'Completed',
                classes: 'app-task-list__task-completed',
                attributes: {
                  'id': 'blind-completed'
                }
              }) }}
              {% endif %}
            </li>
            {% endif %}
            

            {% if data['renewal-or-new-application'] !== "renewal" %}
            <li class="app-task-list__item">
              <a class="app-task-list__task-name" href="prove-your-identity{% if data['identity-completed'] == 'true'%}?identity-done=true{% endif %}" aria-describedby="identity-completed">
                Prove identity
              </a>
              {% if data['identity-completed'] == "true" or 
                    data['all-completed'] == "true" %}
              {{ govukTag({
                text: 'Completed',
                classes: 'app-task-list__task-completed',
                attributes: {
                  'id': 'identity-completed'
                }
              }) }}
              {% endif %}
            </li>
            {% endif %}
            <li class="app-task-list__item">
              <a class="app-task-list__task-name" href="prove-your-address{% if data['address-completed'] == 'true'%}?address-done=true{% endif %}" aria-describedby="address-completed">
                Prove address
              </a>
              {% if data['address-completed'] == "true" or 
                    data['all-completed'] == "true" %}
              {{ govukTag({
                text: 'Completed',
                classes: 'app-task-list__task-completed',
                attributes: {
                  'id': 'address-completed'
                }
              }) }}
              {% endif %}
            </li>
            <li class="app-task-list__item">
              <a class="app-task-list__task-name" href="provide-photo{% if data['photo-completed'] == 'true'%}?photo-done=true{% endif %}" aria-describedby="photo-completed">
                Add a {{ "new" if data['renewal-or-new-application'] === "renewal" or data['existing-blue-badge-number'] == "none" }} photo of {{yourself}}
              </a>
              {% if data['photo-completed'] == "true" or 
                    data['all-completed'] == "true" %}
              {{ govukTag({
                text: 'Completed',
                classes: 'app-task-list__task-completed',
                attributes: {
                  'id': 'photo-completed'
                }
              }) }}
              {% endif %}
            </li>
            {% endif %}
          </ul>
        </li>
        <li>
          <h2 class="app-task-list__section">
            {% if data['renewal-or-new-application'] === "renewal" %}
            <span class="app-task-list__section-number">2. </span> Apply
            {% else %}
            <span class="app-task-list__section-number">3. </span> Apply
            {% endif %}
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <div class="task-list-deactivated-item"><p class="govuk-body-s">Check your answers</p></div>
              <a class="app-task-list__task-name" href="check-answers" aria-describedby="check-answers-completed">
                Check your answers
              </a>
              {% if data['check-answers-completed'] == "true" or 
                    data['all-completed'] == "true" %}
              {{ govukTag({
                text: 'Completed',
                classes: 'app-task-list__task-completed',
                attributes: {
                  'id': 'check-answers-completed'
                }
              }) }}
              {% endif %}
            </li>
            <li class="app-task-list__item">
              <div class="task-list-deactivated-item"><p class="govuk-body-s">Read declaration</p></div>
              <a class="app-task-list__task-name" href="apply/declaration" aria-describedby="declaration-completed">
                Read declaration
              </a>
              {% if data['declaration-completed'] == "true" or 
                    data['all-completed'] == "true" %}
              {{ govukTag({
                text: 'Completed',
                classes: 'app-task-list__task-completed',
                attributes: {
                  'id': 'declaration-completed'
                }
              }) }}
              {% endif %}
            </li>
            {% if data['nation'] !== "wales" %}
            <li class="app-task-list__item">
              <div class="task-list-deactivated-item"><p class="govuk-body-s">Submit and pay</p></div>
              <a class="app-task-list__task-name" href="apply/paying-for-your-blue-badge" aria-describedby="pay-completed">
                Submit and pay
              </a>
            </li>
            {% else %}
            <li class="app-task-list__item">
              <div class="task-list-deactivated-item"><p class="govuk-body-s">Submit</p></div>
              <a class="app-task-list__task-name" href="apply/submit-wales" aria-describedby="submit-completed">
                Submit
              </a>
            </li>
            {% endif %}
          </ul>
        </li>
      </ol>

    </div>
  </div>

{% endblock %}

{% block pageScripts %}

  <script>
    var visibleAnchors = $('.complete-before-submit .app-task-list__item a:visible'),
        visibleTags = $('.complete-before-submit .app-task-list__task-completed:visible');

    if(visibleAnchors.length === visibleTags.length) {    
      $('.task-list-deactivated-item').remove();
    }

    var $lastCompleteTag = $('.app-task-list__task-completed:last-of-type');

    if($lastCompleteTag.closest('li').next('li').length) {
      $lastCompleteTag
      .closest('li')
      .next('li')
      .find('a')
      .attr('id', 'next-section-to-complete');
    } else {
      $lastCompleteTag
      .closest('ul')
      .closest('li')
      .next('li')
      .find('.app-task-list__item:first-of-type a')
      .attr('id', 'next-section-to-complete');
    }

  </script>

  {% if data['existing-blue-badge-number'] == "none" %}

  <script>
    $('[data-no-badge-link]').each(function() {
      var $this = $(this),
          thisText = $this.text();

      $this.after('<div class="task-list-deactivated-item"><p class="govuk-body-s">' + thisText + '</p></div>');

      $this.hide();
    });
  </script>

  {% endif %}

  {% if data['personal-match'] == "false" and 
        data['existing-blue-badge-number'] == "none" %}

  <script>
    $('[data-no-badge-link] + .task-list-deactivated-item').remove();
    $('[data-no-badge-link]').show().removeAttr('data-no-badge-link');

  </script>

  {% endif %}

  {% if proofNotNeeded == true %}

  <script>
    $('[data-no-badge-link]').attr('href', 'proof-not-needed');
    $('[data-no-badge-link]').show();
    $('[data-no-badge-link] + .task-list-deactivated-item').remove();
  </script>

  {% endif %}

{% endblock %}
