{% extends "layout.html" %}
{% set hideBackLink = 'yes' %}
{% set isFullWidth = 'yes' %}
{% set activeStep = '1' %}
{% set activeStepLink = '1' %}
{% block pageTitle %}
  Who is eligible for a Blue Badge?
{% endblock %}

{% block inner_content %}
<div class="govuk-grid-column-two-thirds">
  <h1 class="govuk-heading-xl">
    Who is eligible for a Blue Badge?
  </h1>

  <p class="govuk-body">Blue Badges help people with disabilities or health conditions park closer to their destination. You can apply for a badge for yourself, somebody else or an organisation that transports people that need a Blue Badge.</p>

  <p class="govuk-body">In England, Scotland and Wales you can apply for a Blue Badge using the GOV.UK service. There's a different way to <a href="https://www.nidirect.gov.uk/information-and-services/motoring-and-transport/blue-badge-scheme">apply if you're in Northern Ireland</a>.</p>

  <h2 class="govuk-heading-m">If the applicant receives a benefit or is severely sight impaired</h2>

  <p class="govuk-body">Somebody may automatically qualify for a Blue Badge if they either:</p>

  <ul class="govuk-list govuk-list--bullet">
    <li>are severely sight impaired (blind)</li>
    <li>received 8 or more points in the “moving around” part of the mobility assessment for Personal Independence Payment (PIP)</li>
    <li>receive the higher rate of the mobility component for Disability Living Allowance (DLA)</li>
    <li>receive the War Pensioners’ Mobility Supplement</li>
    <li>receive a qualifying award under the Armed Forces Compensation Scheme</li>
  </ul>
  
  <p class="govuk-body">There is no automatic criteria for Attendance Allowance.</p>

  <p class="govuk-body">Automatic eligiblity varies slightly between England, Scotland and Wales.</p>

  <h3 class="govuk-heading-s">Scotland and Wales</h3>
  
  <p class="govuk-body">An applicant is automatically eligible if they scored 12 points in the “planning and following journeys” part of their mobility assessment for PIP.</p>

  <h3 class="govuk-heading-s">Scotland</h3>
  
  <p class="govuk-body">If an applicant previously received the higher rate of the mobility component for DLA <b>indefinitely</b>, they are eligible for a badge.</p>

  <p class="govuk-body">If an applicant has had a mandatory reconsideration for PIP accepted by the Department for Work and Pensions (DWP), they are eligible for a 1-year badge.</p>

  <h3 class="govuk-heading-s">Wales</h3>
  
  <p class="govuk-body">An applicant is automatically eligible if they receive tariff level 6 of the Armed Forces Compensation Scheme for a permanent mental disorder.</p>

  <h3 class="govuk-heading-s">England</h3>
  
  <p class="govuk-body">From September 2019, an applicant is automatically eligible if they scored 10 points in the “planning and following journeys” part of their mobility assessment for PIP. <b>Specifically</b> the 10 points which says “Cannot undertake any journey because it would cause overwhelming psychological distress to the claimant”.</p>

  <h2 class="govuk-heading-m">If the applicant cannot walk or finds walking very difficult</h2>

  <p class="govuk-body">An applicant may be eligible for a badge if one or more of the following applies:</p>

  <ul class="govuk-list govuk-list--bullet">
    <li>they cannot walk at all</li>
    <li>they cannot walk without help from someone else or using mobility aids</li>
    <li>they find walking very difficult due to pain, breathlessness or the time it takes</li>
    <li>walking is dangerous to their health and safety</li>
  </ul>

  <h2 class="govuk-heading-m">If the applicant has a “hidden” or “non-physical” disability</h2>

  <p class="govuk-body">In Scotland an applicant may be eligible for a badge if they a risk in traffic or in car parks. In Wales they may be eligible if they cannot plan or follow any journey without the help of someone else.</p>

  <p class="govuk-body">From September 2019 in England, an applicant may be eligible for a badge if they have a “hidden” or “non-physical” disability which causes them to severely struggle with journeys. We've written a page so that you can <a href="new-criteria-info">read more about the new criteria in England</a>.</p>

  <h2 class="govuk-heading-m">Other reasons for applying for a badge</h2>

  <p class="govuk-body">An applicant may be eligible for a badge if they either:</p>

  <ul class="govuk-list govuk-list--bullet">
    <li>have a terminal illness, which means they cannot walk or find walking very difficult and have a DS1500 form</li>
    <li>have a severe disability in both arms and drive regularly, but cannot operate pay-and-display parking machines</li>
    <li>are under the age of three and have a medical condition that means they always need to be accompanied by bulky medical equipment</li>
    <li>are under the age of three and have a medical condition that means they must always be kept near a vehicle in case they need emergency medical treatment</li>
  </ul>

  <h2 class="govuk-heading-m">Organisations</h2>

  <p class="govuk-body">An organisation may be eligible for a badge (or multiple badges), if they:</p>

  <ul class="govuk-list govuk-list--bullet">
    <li>care for, or assist people who need a Blue Badge</li>
    <li>transport people who need a Blue Badge</li>
  </ul>

  <p class="govuk-body">Before you apply, find out <a href="what-youll-need">what you'll need when you apply</a>.</p>

  <p class="govuk-body">Last updated: 10 June 2019</p>
</div>
<div class="govuk-grid-column-one-third">

  {% include "includes/step-by-step.html" %}
</div>


{% endblock %}
