{% extends "layout.html" %}
{% set pageHeading = 'Do ' + you + ' receive any of these benefits?' %}

{% block pageTitle %}
  {{pageHeading}} - {% if serviceName %} {{ serviceName }} {% endif %}
{% endblock %}

{% block inner_content %}
    
  <form action="benefits-backend">
  
    {% if  data['age'] > 16 %}
  
      {% set differentOptions = [
            {
              "value": "pip",
              "text": 'Personal Independence Payment (PIP)'
            },
            {
              "value": "dla",
              "text": 'Disability Living Allowance (DLA)'
            },
            {
              "value": "armed-forces",
              "text":  'Armed Forces Compensation scheme'
            },
            {
              "value": "war-pensioners",
              "text": 'War Pensioners’ Mobility Supplement'
            },
            {
              "value": "none",
              "text": 'None of these benefits'
            }
          ]
      %}
  
    {% else %}
  
    {% set differentOptions = [
          {
            "value": "pip",
            "text": 'Personal Independence Payment (PIP)'
          },
          {
            "value": "dla",
            "text": 'Disability Living Allowance (DLA)'
          },
          {
            "value": "none",
            "text": ''+ iThey | capitalize + ' don\'t receive any of these benefits'
          }
        ]
    %}
  
    {% endif %}
  
  
    {{ govukRadios({
      "idPrefix": "benefit",
      "name": "benefit",
      "attributes": {
          "data-catchoption-label": true
        },
      "fieldset": {
        "legend": {
          "text": pageHeading,
          "isPageHeading": true,
          "classes": 'govuk-fieldset__legend--l'
        }
      },
      "items": differentOptions
    }) }}
  
    <div id="hiddenCaughtInputs"></div>
    
    
    {{ govukButton({
      "text": "Continue"
    }) }}
  </form>

{% endblock %}
