{% extends "guidance_layout.html" %}
{% set hidesSteps = "true" %}

{% set pageHeading =  "Reapplying for a Blue Badge" %}

{% block pageTitle %}
  Decision - {% if serviceName %} {{ serviceName }} {% endif %}
{% endblock %}

{% block guidance_content %}

<div class="middle-start-page">
  <h1 class="govuk-heading-l">{{pageHeading}}</h1>
  
  <p class="govuk-body">We've found the badge <b>{{ data['existing-blue-badge-number'] }}</b>. {{ you | capitalize }} need to provide us with some additional information to reapply for a Blue Badge.</p>
  <p class="govuk-body">{{ you | capitalize }}'ll need a photo or scan of:</p>

  <ul class="govuk-list govuk-list--bullet">
    <li>proof of {{your}} identity (birth/marriage certificate, passport, driving licence)</li>
    <li>proof of {{your}} address (dated within the last 12 months)</li>
  </ul>

  <p class="govuk-body"><a href="#submittingDocuments">Help with submitting documents</a></p>

  <p class="govuk-body">You'll also need:</p>

  <ul class="govuk-list govuk-list--bullet">
    <li>{{your}} National Insurance number (if {{you}} have one)</li>
    <li>contact details (phone number and email address)</li>
    <li>
      a recent digital photo of {{your}} face and shoulders <br>
      <a href="/apply-for-a-blue-badge/guidance/photo-findcamera?upload-origin-page=/apply-for-a-blue-badge/check-eligibility/decision">How to take a good photo</a>
    </li>
  </ul>

    {{ govukButton({
      "text": "Start reapplication",
      "href": '/apply-for-a-blue-badge/task-list'
    }) }}
    
    <p class="govuk-body">It can take up to 4 weeks for {{you}} to receive your badge from {{data['council-name']}}.</p>

    {% if data['nation'] !== "wales" %}
    <p class="govuk-body">{{data['council-name']}} charges {{feePrice}} to issue the badge. You can pay by card at the end of the application. The fee will be refunded if {{your}} application is not successful.</p>
    {% endif %}

    <h2 class="govuk-heading-m">Don't want to apply online?</h2>

    <p class="govuk-body">Find out if there are other ways to apply on <a href="http://councilsite.gov.uk">{{data['council-name']}}'s website</a>.</p>

    <h2 class="govuk-heading-m" id="submittingDocuments">Submitting documents</h2>

    <p class="govuk-body">You can upload digital copies of {{your}} documents using this service. We've created a step-by-step guide on <a href="/apply-for-a-blue-badge/guidance?upload-origin-page=/apply-for-a-blue-badge/check-eligibility/decision">how to upload a document</a>. We'll take you back to this page after you've read the guide.</p>

    <p class="govuk-body">If you're unable to upload the requested documents during the application, you can still submit the application without them. Visit <a href="http://councilsite.gov.uk">{{data['council-name']}}'s website</a> to see how you can provide {{your}} documents.</p>


</div>

{% endblock %}