{% extends "guidance_layout.html" %}
{% set hidesSteps = "true" %}

{% if data['benefit'] !== 'none' or data['disability'] === 'blind' %}
  
  {% set pageHeading =  you | capitalize + "'re eligible for a Blue Badge" %}

{% elif data['disability'] === 'terminal' %}

  {% set pageHeading =  "Contact " + data['council-name'] %}

{% else %}

  {% set pageHeading =  you | capitalize + " may be eligible for a Blue Badge" %}

{% endif %}

{% block pageTitle %}
  Decision - {% if serviceName %} {{ serviceName }} {% endif %}
{% endblock %}

{% block guidance_content %}

<div class="middle-start-page">
  <h1 class="govuk-heading-l">{{pageHeading}}</h1>
  

  {% if data['disability'] === 'terminal' %}

    <p class="govuk-body">{{you | capitalize}} should contact {{data["council-name"]}} and tell them that {{you}} are terminally ill.</p>

    <p class="govuk-body">The council will offer help that will make {{your}} application easier.</p>

    <p class="govuk-body">Contact {{data['council-name']}}:</p>

  {% else %}
      
    <p class="govuk-body-l">What you'll need to provide</p>

    <p class="govuk-body">A photo or scan that shows:</p>

    <ul class="govuk-list govuk-list--bullet">
      {% if (data['pip-dla'] === 'yes') %}
        <li>both {{your}} PIP and DLA award letters</li>
      {% elif data['benefit'] === 'pip' %}
        <li>{{your}} PIP award letter</li>
      {% elif data['benefit'] === 'dla' %}
        <li>{{your}} DLA award letter</li>
      {% elif data['benefit'] === 'armed-forces' %}
        <li>{{your}} AFCS award letter</li>
      {% elif data['benefit'] === 'war-pensioners' %}
        <li>{{your}} WPMS award letter</li>
      {% elif data['disability'] === 'arms' %}
        <li>proof of adapted vehicle (if {{you}} drive one)</li>

      {% elif data['disability'] === 'problems-walking' %}
        <li>evidence of {{your}} walking difficulties
          <br>(hospital letter or prescriptions)</li>

      {% endif %}
      <li>proof of {{your}} identity (passport, birth certificate, driving licence)</li>
      <li>proof of {{your}} address (dated within the last 12 months)</li>
      
    </ul>

    <p class="govuk-body">{{you | capitalize}}'ll also need to provide:</p>

    <ul class="govuk-list govuk-list--bullet">
        <li>contact details (phone number and email address)</li>
        <li>a recent digital photo of {{your}} face and shoulders</li>
      {% if data['disability'] === 'blind' %}
        <li>either the name of the council {{you}}'re registered as severely sight impaired with <br> <b>or</b> a photo (or scan) of part 1 of {{your}} CVI form</li>
      {% endif %}
      {% if data['nation'] !== "wales" %}
      <li>a credit or debit card to pay a {{feePrice}} issue fee. The fee will be refunded if {{your}} application is not successful</li>
      {% endif %}
    </ul>

    {{ govukButton({
      "text": "Start " + application,
      "href": '/apply-for-a-blue-badge/task-list'
    }) }}
    
    {% if data['benefit'] !== 'none' or data['disability'] === 'blind' %}
    <p class="govuk-body">It can take up to 3 weeks for {{you}} to receive your badge from {{data['council-name']}}.</p>
    {% else %}
    <p class="govuk-body">It can take up to 4 weeks for {{you}} to receive your badge from {{data['council-name']}}, if {{your}} application is successful.</p>
    {% endif %}
    

    <h2 class="govuk-heading-m">Don't want to apply online?</h2>

    <p class="govuk-body">Contact {{data['council-name']}}:</p>

  {% endif %}

  <ul class="govuk-list">
    <li>Website: <a href="#">www.{{data['council-name'] | lower}}.gov.uk</a></li>
    <li>Email: <a href="#">bluebadge@{{data['council-name'] | lower}}.gov.uk</a></li>
    <li>Phone: 0161 205 7321</li>
  </ul>

</div>

{% endblock %}