{% extends "layout.html" %}

{% set pageHeading = 'What\'s the main reason ' + you + ' need a Blue Badge?' %}

{% block pageTitle %}
  {{pageHeading}} - {% if serviceName %} {{ serviceName }} {% endif %}
{% endblock %}

{% block inner_content %}

<form action="disability-backend">
  {% set disabilityNoneHtml %}
    {{ govukTextarea({
      "name": "describe",
      "id": "describe",
      "label": {
        "text": "Describe " + your + " medical condition or disability"
      }
    }) }}
  {% endset -%}

  <input type="hidden" name="benefit" value="none">

  {% if  data['nation'] === "wales" or data['nation'] === "scotland" or data['council-name'] == 'Northern Ireland' %}

  {% set problemsWalkingText = iThey | capitalize + " have a substantial disability that will last for at least 12 months that means " + iThey + " cannot walk or find walking very difficult"  %}

  {% else %}

  {% set problemsWalkingText = iThey | capitalize + " have a permanent disability which means " + iThey + " cannot walk or find walking very difficult"  %}

  {% endif %}

  {% set terminalReason = {
      "value": "terminal",
      "text": iThey | capitalize + " have a terminal illness and have been issued with a DS 1500 form"
    }
  %}

  {% set walkReason = {
      "value": "problems-walking",
      "text": problemsWalkingText
    }
  %}

  {% set armsReason = {
      "value": "arms",
      "text": iThey | capitalize + " have a severe disability in both arms and drive regularly, but cannot operate pay-and-display parking machines"
    }
  %}

  {% set childBulkyReason = {
      "value": "child-bulky-equipment",
      "text": iThey | capitalize + " need to be accompanied by bulky medical equipment"
    }
  %}

  {% set childNearReason = {
      "value": "child-close-to-vehicle",
      "text": iThey | capitalize + " need to be near a vehicle to receive or be taken for treatment"
    }
  %}

  {% set noneReason = {
      "value": "none",
      "text": "None of these reasons",
      "id": "disability-none"
    }
  %}

  {% if  data['age'] > 16 %}

    {% set differentOptions = [
      terminalReason,
      walkReason,
      armsReason,
      noneReason
    ]
    %}

  {% elif data['age'] <= 3 and data['age'] >= 2 %}

  {% set differentOptions = [
      terminalReason,
      childBulkyReason,
      childNearReason,
      walkReason,
      noneReason
    ]
  %}

  {% elif data['age'] <= 1 %}

  {% set differentOptions = [
      terminalReason,
      childBulkyReason,
      childNearReason,
      noneReason
    ]
  %}

  {% else %}

  {% set differentOptions = [
      terminalReason,
      walkReason,
      noneReason
    ]
  %}

  {% endif %}
  
  {{ govukRadios({
    "idPrefix": "disability",
    "name": "disability",
    "attributes": {
      "data-catchoption-label": true
    },
    "fieldset": {
      "legend": {
        "text": pageHeading,
        "isPageHeading": true,
        "classes": 'govuk-fieldset__legend--l'
      }
    },
    "items": differentOptions
  }) }}

  <div id="hiddenCaughtInputs"></div>
  
  
  {{ govukButton({
    "text": "Continue"
  }) }}
</form>

{% endblock %}
