{% extends "layout.html" %}

{% set pageHeading = 'How old are ' + you + '?' %}

{% block pageTitle %}
  {{pageHeading}} - {% if serviceName %} {{ serviceName }} {% endif %}
{% endblock %}

{% block inner_content %}

<h1 class="govuk-heading-l">{{pageHeading}}</h1>
<p class="govuk-body">Depending on how old {{you}} are, we'll ask you to provide different information.</p>
<form action="severely-sight-impaired">
  {{ govukInput({
    "label": {
      "text": "Enter age"
    },
    "hint": {
      "text": "For example, 54"
    },
    classes: "govuk-input--width-4",
    id: "age",
    name: "age",
    type: "tel",
    attributes: {
      maxlength: "3"
    }
  }) }}

  {{ govukDetails({
    summaryText: "Applicant is a child less than 2 years old",
    html: "<p class='govuk-body'>We'll only ask questions relevant to the age of the child.</p><p class='govuk-body'><a href='severely-sight-impaired?age=1'>Continue checking eligiblity</a></p>"
  }) }}
  
  {{ govukButton({
    "text": "Continue"
  }) }}
</form>

{% endblock %}
