{% extends "layout.html" %}
{% set hideBackLink = 'yes' %}
{% block pageTitle %}
  {{title}} - {% if serviceName %} {{ serviceName }} {% endif %}
{% endblock %}

{% block inner_content %}

<form action="find-your-council-postcode">
  {{ govukRadios({
    "idPrefix": "applicant",
    "name": "applicant",
    "fieldset": {
      "legend": {
        "text": title,
        "isPageHeading": true,
        "classes": 'govuk-fieldset__legend--l'
      }
    },
    "items": [
      {
        "value": "yourself",
        "html": "<b>Myself</b><br> I need the badge due to my disability or condition"
      },
      {
        "value": "someone-else",
        "html": "<b>Someone else</b><br> I am applying for a relative, somebody I care for, or somebody that needs a badge due to their disability or condition"
      },
      {
        "value": "organisation",
        "html": "<b>An organisation</b><br> My organisation cares for, or assists people that need a Blue Badge"
      }
    ]
  }) }}
  
  {{ govukButton({
    "text": "Continue"
  }) }}
</form>

<p class="govuk-body">Or, you can <a href="/apply-for-a-blue-badge/save-return">return to a saved Blue Badge application</a>.</p>

{% endblock %}
