{% extends "layout.html" %}
{% set pageHeading = "How many points did " + you + " score in the 'planning and following a journey' activity of " + your + " assessment?" %}

{% block pageTitle %}
  {{pageHeading}} - {% if serviceName %} {{ serviceName }} {% endif %}
{% endblock %}

{% block inner_content %}
    
  <form action="pip-planning-backend">
  
    {{ govukRadios({
      "idPrefix": "pip-planning",
      "name": "pip-planning",
      "attributes": {
          "data-catchoption-label": true
        },
      "fieldset": {
        "legend": {
          "text": pageHeading,
          "isPageHeading": true,
          "classes": 'govuk-fieldset__legend--l'
        }
      },
      "items": [
          {
            "value": "more-than-12",
            "text": '12 points'
          },
          {
            "value": "less-than-12",
            "text": '10 points'
          },
          {
            "value": "less-than-12",
            "text": '8 points'
          },
          {
            "value": "less-than-12",
            "text": '4 points'
          },
          {
            "value": "less-than-12",
            "text": '0 points'
          }
        ]
    }) }}
  
    <div id="hiddenCaughtInputs"></div>
    
    
    {{ govukButton({
      "text": "Continue"
    }) }}
  </form>

{% endblock %}
