{% extends "layout.html" %}
{% set pageHeading = 'How many points did ' + you + ' score in the "planning and following a journey" activity of ' + your + ' assessment?' %}

{% block pageTitle %}
  {{pageHeading}} - {% if serviceName %} {{ serviceName }} {% endif %}
{% endblock %}

{% block inner_content %}
    
  <form action="pip-planning-backend">
  
    {{ govukRadios({
      "idPrefix": "pip-planning",
      "name": "pip-planning",
      "attributes": {
          "data-catchoption-label": true
        },
      "fieldset": {
        "legend": {
          "text": pageHeading,
          "isPageHeading": true,
          "classes": 'govuk-fieldset__legend--l'
        }
      },
      "items": [
          {
            "value": "more-than-12",
            "text": '12 points or more'
          },
          {
            "value": "less-than-12",
            "text": '11 points or less'
          }
        ]
    }) }}
  
    <div id="hiddenCaughtInputs"></div>
    
    
    {{ govukButton({
      "text": "Continue"
    }) }}
  </form>

{% endblock %}
