{% extends "layout.html" %}

{% set pageHeading = 'How would ' + you + ' describe ' + your + ' walking ability?' %}

{% block pageTitle %}
  {{pageHeading}} - {% if serviceName %} {{ serviceName }} {% endif %}
{% endblock %}

{% block inner_content %}




<form action="walking-backend">

  
  {% if  data['nation'] === "wales" %}

  {% set differentOptions = [
    {
      "value": "help",
      "text": you | capitalize + " can not walk without help from someone else, an animal or walking aids"
    },
    {
      "value": "pain",
      "text": you | capitalize + " find walking very difficult due to pain, breathlessness or the time it takes"
    },
    {
      "value": "dangerous",
      "text": "Walking is dangerous to the health and safety of others"
    },
    {
      "value": "none",
      "text": "None of these describe " + your + " walking ability"
    }
  ] %}

  {% else %}

  {% set differentOptions = [
    {
      "value": "help",
      "text": you | capitalize + " can not walk without help from someone else, an animal or walking aids"
    },
    {
      "value": "cognitive",
      "text": you | capitalize + " have a condition that means " + you +"'re unable to plan or follow a journey"
    },
    {
      "value": "pain",
      "text": you | capitalize + " find walking very difficult due to pain, breathlessness or the time it takes"
    },
    {
      "value": "dangerous",
      "text": "Walking is dangerous to the health and safety of others"
    },
    {
      "value": "none",
      "text": "None of these describe " + your + " walking ability"
    }
  ] %}

  {% endif %}
    
    {{ govukRadios({
      "idPrefix": "disability-walking",
      "name": "disability-walking",
      "attributes": {
        "data-catchoption-label": true
      },
      "fieldset": {
        "legend": {
          "text": pageHeading,
          "isPageHeading": true,
          "classes": 'govuk-fieldset__legend--l'
        }
      },
      "items": differentOptions
    }) }}

    <div id="hiddenCaughtInputs"></div>
  
  {{ govukButton({
    "text": "Continue"
  }) }}
</form>

{% endblock %}
