{% extends "layout.html" %}

{% set pageHeading = 'What makes walking difficult for ' + youOrThem + '?' %}

{% block pageTitle %}
  {{pageHeading}} - {% if serviceName %} {{ serviceName }} {% endif %}
{% endblock %}

{% block inner_content %}




<form action="walking-backend">

  
  {% if data['nation'] !== "wales" and data['nation'] !== "scotland" %}

  {% set differentOptions = [
    {
      "value": "help",
      "text": iThey | capitalize + " cannot walk without help from someone else or using walking aids"
    },
    {
      "value": "pain",
      "text": iThey | capitalize + " find walking very difficult due to pain, breathlessness or the time it takes"
    },
    {
      "value": "dangerous",
      "text": "Walking is dangerous to " + my + " health and safety"
    },
    {
      "value": "none",
      "text": "None of these describe " + my + " walking ability"
    }
  ] %}

  {% elif  data['nation'] === "wales" %}

  {% set differentOptions = [
    {
      "value": "help",
      "text": iThey | capitalize + " cannot walk without help from someone else or using walking aids"
    },
    {
      "value": "pain",
      "text": iThey | capitalize + " find walking very difficult due to pain, breathlessness or the time it takes"
    },
    {
      "value": "dangerous",
      "text": "Walking is dangerous to " + my + " health and safety or the health and safety of others"
    },
    {
      "value": "none",
      "text": "None of these describe " + my + " walking ability"
    }
  ] %}

  {% else %}

  {% set differentOptions = [
    {
      "value": "help",
      "text": iThey | capitalize + " cannot walk without help from someone else or using walking aids"
    },
    {
      "value": "cognitive",
      "text": iThey|capitalize + " have a condition which means " + iThey + " " + am + " a risk in traffic"
    },
    {
      "value": "pain",
      "text": iThey | capitalize + " find walking very difficult due to pain, breathlessness or the time it takes"
    },
    {
      "value": "dangerous",
      "text": "Walking is dangerous to " + my + " health and safety"
    },
    {
      "value": "none",
      "text": "None of these describe " + my + " walking ability"
    }
  ] %}

  {% endif %}
    
    {{ govukRadios({
      "idPrefix": "disability-walking",
      "name": "disability-walking",
      "attributes": {
        "data-catchoption-label": true
      },
      "fieldset": {
        "legend": {
          "text": pageHeading,
          "isPageHeading": true,
          "classes": 'govuk-fieldset__legend--l'
        }
      },
      "items": differentOptions
    }) }}

    <div id="hiddenCaughtInputs"></div>
  
  {{ govukButton({
    "text": "Continue"
  }) }}
</form>

{% endblock %}
