{% extends "layout.html" %}
{% set hasSaveClass = 'yes' %}

{% set pageHeading = 'Enter contact details' %}

{% block pageTitle %}
  {{pageHeading}} - {% if serviceName %} {{ serviceName }} {% endif %}
{% endblock %}

{% block inner_content %}



<h1 class="govuk-heading-l">{{pageHeading}}</h1>

<form action="{{ formAction }}">

  {% if data['applicant'] === "someone-else" or data['applicant'] === "organisation" %}

  {{ govukInput({
    "label": {
      "text": "Who should we speak to about this application?"
    },
    "hint": {
      "text": "If you're the contact, put your full name here"
    },
    id: "contact-full-name",
    name: "contact-full-name",
    type: "text",
    value: data['contact-full-name']
  }) }}

  {% endif %}

  {% if data['applicant'] === "someone-else" %}

  {{ govukInput({
    "label": {
      "text": "Relationship to the applicant (optional)"
    },
    id: "applicant-relationship",
    name: "applicant-relationship",
    type: "text",
    value: data['applicant-relationship']
  }) }}

  {% endif %}

  {{ govukInput({
    "label": {
      "text": "Email address"
    },
    "hint": {
      "text": "This will be used for updates about " + your +" "+ application + " and to notify you when the badge is due to expire"
    },
    id: "email-address",
    name: "email-address",
    type: "text",
    value: data['email-address']
  }) }}

  <details class="govuk-details">
    <summary class="govuk-details__summary">
      <span class="govuk-details__summary-text">
        Continue without providing an email address
      </span>
    </summary>
    <div class="govuk-details__text">
      {{ govukCheckboxes({
        idPrefix: "why-no-email",
        name: "why-no-email",
        fieldset: {
          legend: {
            text: "If you don't provide an email address we won't be able to send updates on " + your + " application",
            isPageHeading: false,
            classes: "govuk-fieldset__legend--s"
          }
        },
        items: [
          {
            value: "noemail-confirm",
            text: "I understand and want to continue without an email address"
          }
        ]
      }) }}
    </div>
  </details>

  {{ govukInput({
    "label": {
      "text": "Main phone number"
    },
    "hint": {
      "text": "This should ideally be a mobile number"
    },
    classes: "govuk-input--width-20",
    id: "primary-phone-number",
    name: "primary-phone-number",
    type: "tel",
    value: data['primary-phone-number']
  }) }}

  {{ govukInput({
    "label": {
      "text": "Alternative phone number (optional)"
    },
    classes: "govuk-input--width-20",
    id: "secondary-phone-number",
    name: "secondary-phone-number",
    type: "tel",
    value: data['secondary-phone-number']
  }) }}

  
  
  {{ govukButton({
    "text": submitLabel
  }) }}

  <!-- Has save -->
</form>

      



{% endblock %}
