{% extends "layout.html" %}
{% set hasSaveClass = 'yes' %}

{% set pageHeading = 'Enter contact details' %}

{% block pageTitle %}
  {{pageHeading}} - {% if serviceName %} {{ serviceName }} {% endif %}
{% endblock %}

{% block inner_content %}



<h1 class="govuk-heading-l">{{pageHeading}}</h1>
<!-- <p class="govuk-body"></p> -->
<form action="{{ formAction }}">
  {% if  data['applicant'] === "someone-else" or data['applicant'] === "organisation"   %}

  {{ govukInput({
    "label": {
      "text": "Full name"
    },
    "hint": {
      "text": "Your name or the name of the person that manages their affairs"
    },
    id: "contact-full-name",
    name: "contact-full-name",
    type: "text",
    value: data['contact-full-name']
  }) }}

  {% endif %}

  {{ govukInput({
    "label": {
      "text": "Main phone number"
    },
    "hint": {
      "text": "This should ideally be a mobile number"
    },
    classes: "govuk-input--width-20",
    id: "primary-phone-number",
    name: "primary-phone-number",
    type: "tel",
    value: data['primary-phone-number']
  }) }}

  {{ govukDetails({
    summaryText: "Why do we need a phone number?",
    text: "We will call the phone number entered here to speak to " + youOrThem + " about " + your + " " + application + " or to check if we suspect that someone else is using " + your + " badge."
  }) }}

  {{ govukInput({
    "label": {
      "text": "Alternative phone number (optional)"
    },
    classes: "govuk-input--width-20",
    id: "secondary-phone-number",
    name: "secondary-phone-number",
    type: "tel",
    value: data['secondary-phone-number']
  }) }}

  {{ govukInput({
    "label": {
      "text": "Email address (optional)"
    },
    "hint": {
      "text": "For updates about this " + application
    },
    id: "email-address",
    name: "email-address",
    type: "text",
    value: data['email-address']
  }) }}
  
  {{ govukButton({
    "text": submitLabel
  }) }}

  <!-- Has save -->
</form>

      



{% endblock %}
