{% extends "layout.html" %}
{% set hasSaveClass = 'yes' %}

{% if data['applicant'] === 'organisation' %}
  {% set pageHeading = "Enter your organisation's address" %}
{% else %}
  {% set pageHeading = "Enter " + your + " address" %}
{% endif %}

{% block pageTitle %}
  {{pageHeading}} - {% if serviceName %} {{ serviceName }} {% endif %}
{% endblock %}

{% block inner_content %}



{% if data['address-part-4'] !== '' or data['address-part-4'] !== ' ' %}

  {% set addressLine3 = data['address-part-3'] %}

{% else %}
  
  {% set addressLine3 = data['address-part-4'] %}
  
{% endif %}

<!-- <h1 class="govuk-heading-l">{{pageHeading}}</h1> -->

<form action="{{formAction}}">
  {% call govukFieldset({
    "legend": {
        "text": pageHeading,
        "classes": "govuk-fieldset__legend--l",
        "isPageHeading": true
      }
  }) %}

    {{ govukInput({
      "label": {
        "html": 'Building and street <span class="govuk-visually-hidden">line 1 of 2</span>'
      },
      "id": "address-line-1",
      "name": "address-line-1",
      "value": data['address-part-1'] + ', ' + data['address-part-2']
    }) }}

    {{ govukInput({
      "label": {
        "html": '<span class="govuk-visually-hidden">Building and street line 2 of 2</span>'
      },
      "id": "address-line-2",
      "name": "address-line-2",
      "value": addressLine3
    }) }}

    {{ govukInput({
      "label": {
        "html": 'Town or city'
      },
      "classes": 'govuk-!-width-two-thirds',
      "id": "address-town",
      "name": "address-town"
    }) }}

    {{ govukInput({
      "label": {
        "html": 'Postcode'
      },
      "classes": 'govuk-input--width-10',
      "id": "address-postcode",
      "name": "address-postcode",
      "value": data['postcode-for-council']|upper
    }) }}

  {% endcall %}
  
  {{ govukButton({
    "text": submitLabel
  }) }}

  <!-- Has save -->
</form>

      



{% endblock %}
