{% extends "layout.html" %}
{% set hasSaveClass = 'yes' %}

{% set pageHeading = 'What is ' + your + ' gender?' %}

{% block pageTitle %}
  {{pageHeading}} - {% if serviceName %} {{ serviceName }} {% endif %}
{% endblock %}

{% block inner_content %}



<form action="{{formAction}}">
  {% set identifyHTML %}
  {{ govukInput({
        label: {
          text: "What gender do you identify with?"
        },
        id: "gender-identity",
        name: "gender-identity"
      }) }}
  {% endset -%}

  {{ govukRadios({
    "idPrefix": "gender",
    "name": "gender",
    "attributes": {
          "data-catchoption-label": true
        },
    "fieldset": {
      "legend": {
        "text": pageHeading,
        "isPageHeading": true,
        "classes": 'govuk-fieldset__legend--l'
      }
    },
    "items": [
      {
        "value": "male",
        "text": "Man",
        "checked": data['gender'] === 'male'
      },
      {
        "value": "female",
        "text": "Woman",
          "checked": data['gender'] === 'female'
      },
      {
        "value": "unspecified",
        "text": "I identify in a different way",
        "checked": data['gender'] === 'unspecified',
        "conditional": {
          "html": identifyHTML
        }
      }

    ]
  }) }}

  <div id="hiddenCaughtInputs"></div>
  
  {{ govukButton({
    "text": submitLabel
  }) }}

  <!-- Has save -->
</form>

      



{% endblock %}
