{% extends "layout.html" %}
{% set hasSaveClass = 'yes' %}

{% set pageHeading = 'What\'s ' + your + ' gender?' %}

{% block pageTitle %}
  {{pageHeading}} - {% if serviceName %} {{ serviceName }} {% endif %}
{% endblock %}

{% block inner_content %}

{% if data['age'] < 16 %}

{% set genderMaleLabel = 'Boy' %}
{% set genderFemaleLabel = 'Girl' %}

{% else %}

{% set genderMaleLabel = 'Man' %}
{% set genderFemaleLabel = 'Woman' %}

{% endif %}

<form action="{{formAction}}">
  {% set identifyHTML %}
  {{ govukInput({
        label: {
          text: "What gender do " + you + " identify with?"
        },
        id: "gender-identity",
        name: "gender-identity"
      }) }}
  {% endset -%}

  {{ govukRadios({
    "idPrefix": "gender",
    "name": "gender",
    "attributes": {
          "data-catchoption-label": true
        },
    "fieldset": {
      "legend": {
        "text": pageHeading,
        "isPageHeading": true,
        "classes": 'govuk-fieldset__legend--l'
      }
    },
    "items": [
      {
        "value": "male",
        "text": genderMaleLabel,
        "checked": data['gender'] === 'male'
      },
      {
        "value": "female",
        "text": genderFemaleLabel,
          "checked": data['gender'] === 'female'
      },
      {
        "value": "unspecified",
        "text": iThey | capitalize + " identify in a different way",
        "checked": data['gender'] === 'unspecified',
        "conditional": {
          "html": identifyHTML
        }
      }

    ]
  }) }}

  <div id="hiddenCaughtInputs"></div>
  
  {{ govukButton({
    "text": submitLabel
  }) }}

  <!-- Has save -->
</form>

      



{% endblock %}
