{% extends "layout.html" %}
{% set hasSaveClass = 'yes' %}

{% set pageHeading = 'What\'s ' + your + ' National Insurance number?' %}

{% block pageTitle %}
  {{pageHeading}} - {% if serviceName %} {{ serviceName }} {% endif %}
{% endblock %}

{% block inner_content %}

<h1 class="govuk-heading-l">{{pageHeading}}</h1>
<!-- <p class="govuk-body"></p> -->
<form action="{{formAction}}">
  {{ govukInput({
    "label": {
      "text": "National Insurance number"
    },
    "hint": {
      "text": "It’s on your National Insurance card, benefit letter, payslip or P60. For example, ‘QQ 12 34 56 C’."
    },
    classes: "govuk-input--width-20 input-capitals",
    id: "nino",
    name: "nino",
    value: data['nino'],
    attributes: {
      autocapitalize: "characters"
    }
  }) }}

  {{ govukDetails({
    summaryText: "I don't have a National Insurance number",
    html: "If " + you + " don't have a National Insurance number, " + you + " can still apply. <a href='" + formAction + "'>Continue without a National Insurance number</a>."
  }) }}
  
  {{ govukButton({
    "text": submitLabel
  }) }}

  <!-- Has save -->
</form>

      



{% endblock %}
