{% extends "layout.html" %}
{% set hasSaveClass = 'yes' %}

{% if data['applicant'] === 'organisation' %}
  {% set pageHeading = "Select your organisation's address" %}
{% else %}
  {% set pageHeading = 'Select ' + your + ' address' %}
{% endif %}

{% block pageTitle %}
  {{pageHeading}} - {% if serviceName %} {{ serviceName }} {% endif %}
{% endblock %}

{% block inner_content %}


<h1 class="govuk-heading-l">{{pageHeading}}</h1>

<div id="applicantsPostcode" class="hidden">{{data['postcode-for-council']}}</div>

<form action="{{formAction}}" id="selectAddressForm">
  <p class="govuk-body" id="findingAddressesText">
    Finding addresses for postcode {{data['postcode-for-council']|upper}}.
  </p>

  <div class="govuk-form-group hidden" id="selectAddressFormGroup">
    <p class="govuk-body" id="">
      Showing addresses for postcode <b>{{data['postcode-for-council']|upper}}</b>.
    </p>
    <label for="addressFromPostcode" class="govuk-label">Start typing and select your address</label>
    <select name="address-from-postcode" class="enhanced-select" name="" id="addressFromPostcode">
      <option value=""></option>
      
    </select>
  </div>

  <p class="govuk-body">Address not shown? <a href="enter-address" id="enterManuallyButton">Enter {{ your }} address manually</a></p>
  
  {{ govukButton({
    "text": submitLabel
  }) }}

  <!-- Has save -->
</form>



{% endblock %}

{% block pageScripts %}
  <script>
    $(document).ready(function () {

      var postcodeEntered = $('#applicantsPostcode').text().replace(" ", ""),
          getAddressJson = "https://api.getAddress.io/find/" + postcodeEntered + '?api-key=cSu3pKX7zEGNZt1ZoC7jnw17421&expand=true',
          addressesFoundCount = 0,
          $this = $(this);

      $.getJSON( getAddressJson, {
        format: "json"
      })
      .done(function( data ) {
        $('#findingAddressesText').addClass('hidden');
        $('#selectAddressFormGroup').removeClass('hidden');
        $.each( data.addresses, function( i, address ) {
          var wholeAddress = address.formatted_address,
              filteredAddress = wholeAddress.filter(function (el) {
                return el != "";
              }),
              filteredAddressString = filteredAddress.join(', ');

          if(address.line_1 !== ""){
            addressL1data = 'data-address-line1="' + address.line_1 + '"';
          } else {
            addressL1data = "";
          }
          if(address.line_2 !== ""){
            addressL2data = 'data-address-line2="' + address.line_2 + '"';
          } else {
            addressL2data = "";
          }
          if(address.line_3 !== ""){
            addressL3data = 'data-address-line3="' + address.line_3 + '"';
          } else {
            addressL3data = "";
          }
          if(address.town_or_city !== ""){
            addressTCdata = 'data-address-tc="' + address.town_or_city + '"';
          } else {
            addressTCdata = "";
          }

          addressesFoundCount++;
          $('#addressFromPostcode').append('<option ' + addressL1data + addressL2data + addressL3data + addressTCdata +' value="'+filteredAddressString+'">'+filteredAddressString+'</option>');
        });
        govukGovernmentOrganisationsAutocomplete({
          defaultValue: '',
          placeholder: addressesFoundCount + ' addresses at this postcode',
          autoselect: false,
          showAllValues: true,
          selectElement: document.getElementById('addressFromPostcode')
        })
      });

      $('#selectAddressForm').on('submit', function(e) {

        e.preventDefault();

        var addressChosen = $('#addressFromPostcode-select').find('option:selected'),
            $this = $(this);

        console.log(addressChosen);

        $this.append('<input id="address-part-1" name="address-part-1" type="hidden" value="'+addressChosen.attr('data-address-line1')+'">');
        $this.append('<input id="address-part-2" name="address-part-2" type="hidden" value="'+addressChosen.attr('data-address-line2')+'">');
        $this.append('<input id="address-part-3" name="address-part-3" type="hidden" value="'+addressChosen.attr('data-address-line3')+'">');
        $this.append('<input id="address-tc" name="address-tc" type="hidden" value="'+addressChosen.attr('data-address-tc')+'">');

        $this.unbind('submit').submit();
      });
      
    });
  </script>
{% endblock %}