{% extends "layout.html" %}
{% set hideBackLink = 'yes' %}

{% set pageHeading = application | capitalize + ' submitted' %}

{% block pageTitle %}
  {{pageHeading}} - {% if serviceName %} {{ serviceName }} {% endif %}
{% endblock %}

{% if data['age'] > 15 and data['age'] < 65 %}
  {% set advisedBenefit = 'Personal Independence Payment (PIP)' %}
{% elif data['age'] < 16 %}
  {% set advisedBenefit = 'Disability Living Allowance (DLA)' %}
{% elif data['age'] > 64 %}
  {% set advisedBenefit = 'Attendance Allowance' %}
{% endif %}

{% block inner_content %}

{{ govukPanel({
  "titleHtml": '<h1 class="govuk-panel__title govuk-!-f-36">' + pageHeading + '</h1>',
  "html": ''
})
}}

{% if data['pay-when'] === 'now' and data['nation'] !== "wales" %}
<p class="govuk-body">You've paid the {{feePrice}} issue fee.</p>
{% endif %}

<p class="govuk-body">We've sent confirmation of this {{application}} to 
  <strong>{% if data['email-address'] %}{{ data['email-address'] }}{% else %}yourname@email.com{% endif %}</strong>.</p>

<h2 class="govuk-heading-m">What happens next</h2>

{% if data['pay-when'] === 'later' %}
<p class="govuk-body">Because {{you}}'ve chosen to pay later, {{data['council-name']}} will contact {{you}} for payment.</p>
{% endif %}

{% if ((data['proofOfEligibility'] === 'notProvided' and (data['benefit'] === 'dla' or data['benefit'] === 'pip')) or
  (data['proveIdentity'] === 'notProvided') or (data['proveAddress'] === 'notProvided') or (data['providePhoto'] === 'notProvided')) %}

  <div id="some-evidence-missing">

    <p class="govuk-body">{{your|capitalize}} {{application}} cannot be processed until the council has received {{your}}:</p>
    <ol class="govuk-list govuk-list--bullet">
      {% if data['proofOfEligibility'] === 'notProvided' and (data['benefit'] === 'dla' or data['benefit'] === 'pip') %}
      <li>proof of eligibility</li>
      {% endif %}
      {% if data['proveIdentity'] === 'notProvided' %}
      <li>proof of identity</li>
      {% endif %}
      {% if data['proveAddress'] === 'notProvided' %}
      <li>proof of address</li>
      {% endif %}
      {% if data['providePhoto'] === 'notProvided' %}
      <li>photo</li>
      {% endif %}
    </ol>
    <p><a href="https://www.localcouncil.gov.uk">Contact {{data['council-name']}} through their website</a> to see how you can provide {{your}} documents.</p>
  </div>
{% else %}
  {% if data['renewal-or-new-application'] !== "renewal" %}
  <div id="all-evidence-present">
    <p class=govuk-body>If {{data['council-name']}} needs to ask some more questions about {{your}} {{application}}, they may contact {{youOrThem}}.</p>
  </div>
  {% endif %}
{% endif %}

{% if data['renewal-or-new-application'] === "renewal" %}
<p class="govuk-body">The council will let {{you}} know when they issue {{your}} badge.</p>
{% else %}
<p class="govuk-body">The council will get in touch when they make a decision about {{ your }} {{ application }}. It can take between 6 and 12 weeks to issue the badge.</p>
{% endif %}

<p class="govuk-body"><a href="#">What did you think of this service?</a> (takes 30 seconds)</p>

<p class="govuk-body">You can close this window.</p>

{% if data['disability'] === 'blind' %}

<h2 class="govuk-heading-m">Other benefits {{you}} may be eligible for</h2>

<p class="govuk-body">
  As {{you}}'re severely sight impaired, {{you}}'re eligible to apply for {{advisedBenefit}}. This can help {{youOrThem}} with the extra costs caused by illness or disability.
</p>
<p class="govuk-body">
   Visit the <a href="https://www.gov.uk/browse/benefits/disability">GOV.UK website</a> to find out more.
</p>

{% endif %}

{% if data['disability'] === 'problems-walking' %}

<h2 class="govuk-heading-m">Applying for other benefits</h2>

<p class="govuk-body">
  Based on {{your}} answers, {{you}} may be eligible to apply for {{advisedBenefit}}. This can help {{youOrThem}} with the extra costs caused by illness or disability.
</p>
<p class="govuk-body">
   Visit the <a href="https://www.gov.uk/browse/benefits/disability">GOV.UK website</a> to find out more.
</p>

{% endif %}

{% if data['disability'] === 'child-bulky-equipment' or data['disability'] === 'child-close-to-vehicle' %}

<h2 class="govuk-heading-m">Help if you have a disabled child</h2>

<p class="govuk-body">
  {{data['council-name']}} can provide help if you have a disabled child.
</p>
<p class="govuk-body">
   Visit the <a href="https://www.gov.uk/help-for-disabled-child">GOV.UK website</a> to find out more.
</p>

{% endif %}

<h2 class="govuk-heading-m">When to contact us</h2>

<p class="govuk-body">If {{you}} think {{you}} have made a mistake, or need to change something in {{your}} {{application}}, {{you}} should <a href="https://www.localcouncil.gov.uk">contact {{data['council-name']}} through their website</a>.</p>

{% endblock %}
