{% extends "layout.html" %}
{% set hasSaveClass = 'yes' %}

{% set pageHeading = 'Declaration' %}

{% block pageTitle %}
  {{pageHeading}} - {% if serviceName %} {{ serviceName }} {% endif %}
{% endblock %}

{% block inner_content %}



<h1 class="govuk-heading-l">{{pageHeading}}</h1>

<p class="govuk-body">By submitting this {{ application }} {{ you }} agree that:</p>

{% if data['applicant'] !== 'organisation' %}

<ul class="govuk-list govuk-list--bullet">
  <li>{{you}} have read and understand the rules for using a Blue Badge</li>
  {% if data['applicant'] === 'someone-else' %}
    <li>you can submit this {{application}} on their behalf</li>
  {% endif %}
  <li>the details {{you}} have provided are complete and accurate</li>
  <li>{{you}} won't hold more than one Blue Badge at any time</li>
  <li>{{you}} will tell {{data['council-name']}} about any changes that may affect {{your}} eligibility</li>
</ul>

<p class="govuk-body">
  {{you|capitalize}} also agree that {{data['council-name']}} may:
</p>

<ul class="govuk-list govuk-list--bullet">
  <li>contact {{youOrThem}} if there are issues with {{your}} {{application}}</li>
  {% if data['benefit'] === 'none' %}
    <li>arrange an assessment, either in-person or over the phone</li>
  {% endif %}
  <li>check {{your}} eligibility with the information they hold</li>
  <li>suggest other benefits or services that {{you}} may be eligible for</li>
</ul>

{% else %}

<ul class="govuk-list govuk-list--bullet">
  <li>{{you}}'re authorised to complete this application on behalf of {{your}} organisation</li>
  <li>the details {{you}} have provided are complete and accurate</li>
  <li>{{you}} will tell {{data['council-name']}} about any changes that will affect {{your}} organisation's Blue Badge entitlement</li>
  <li>{{data['council-name']}} can check any information they already have about {{you}} so that they can process {{your}} {{application}}</li>
</ul>

{% endif %}


<form novalidate="" action="/apply-for-a-blue-badge/task-list">
  {{ govukCheckboxes({
    "idPrefix": "agree",
    "name": "agree",
    "fieldset": {
      "legend": {
        "text": 'Do you agree to this declaration?',
        "isPageHeading": false,
        "classes": 'govuk-visually-hidden'
      }
    },
    "items": [
      {
        "value": "true",
        "text": "I agree to this declaration",
        "checked": checked('agree', 'true')
      }
    ]
  }) }}

  <input type="hidden" name="declaration-completed" value="true">

  {{ govukButton({
    "text": "Continue"
  }) }}

</form>

{% endblock %}
