{% extends "layout.html" %}

{% set pageHeading = "You have not paid for the badge, do you want to try again?" %}

{% block pageTitle %}
  {{pageHeading}} - {% if serviceName %} {{ serviceName }} {% endif %}
{% endblock %}

{% block inner_content %}


<form action="/apply-for-a-blue-badge/payment-failed-backend" novalidate="">

	<!-- <h1 class="govuk-heading-l">{{pageHeading}}</h1>

	<div class="govuk-inset-text">
	  <p class="govuk-body">Something went wrong. You still need to pay the badge issue fee.</p>
	</div>
 -->
	{% set paymentRetryHtml %}

	<p class="govuk-body">We'll take you back to re-enter your payment details.</p>
	  
	{% endset -%}

	{% set retryNoHtml %}

	<p class="govuk-body">Your application will be submitted without payment.</p>
	
	{% endset -%}

	{{ govukRadios({
	  idPrefix: "payment-retry",
	  name: "payment-retry",
	  fieldset: {
	    legend: {
	      text: pageHeading,
	      isPageHeading: true,
	      classes: "govuk-fieldset__legend--l"
	    }
	  },
	  items: [
	    {
	      value: "yes",
	      text: "Yes, enter payment details"
	    },
	    {
	      value: "no",
	      text: "No, submit application and pay later"
	    }
	  ]
	}) }}

	{{ govukButton({
	  text: "Continue"
	}) }}

</form>

{% endblock %}
