{% extends "guidance_layout.html" %}

{% set pageHeading = 'How to upload ' + your + ' document' %}
{% set guidanceTitle =  'Uploading the photo' %}
{% set guidancePageCount =  '5 of 5' %}

{% block pageTitle %}
  {{pageHeading}} - {% if serviceName %} {{ serviceName }} {% endif %}
{% endblock %}

{% block guidance_content %}

<p class="govuk-body">If {{you}} took the photo on the same device {{you}}'re using for {{your}} {{application}}, {{you}} can return to your {{application}} now and upload it.</p>


<h3 class="govuk-heading-m">If {{you}} used a different device (eg. a smartphone)</h3>

<p class="govuk-body">{{you | capitalize}}'ll need to transfer the photo to the device {{you}}'re using to apply (eg. a laptop).</p>

<div class="govuk-grid-row">
	<div class="govuk-grid-column-one-half">
		<p class="govuk-body">{{you | capitalize}} can do this by:</p>

		<ul class="govuk-list govuk-list--bullet">
		  <li>emailing it to yourself</li>	
		  <li>sending it via Bluetooth <sup>&reg;</sup></li>
		  <li>attaching a cable between the two devices</li>
		</ul>
	</div>

	<div class="govuk-grid-column-one-half">

		<div class="svg-container">{% include "includes/icon-transfer.html" %}</div>
		
	</div>
</div>

{{ govukButton({
  "text": "Return to " + your + " " + application,
  "href": data['upload-origin-page']
}) }}

{% endblock %}