{% extends "layout.html" %}
{% set hasSaveClass = 'yes' %}

{% set pageHeading = 'Add a vehicle' %}

{% block pageTitle %}
  {{pageHeading}} - {% if serviceName %} {{ serviceName }} {% endif %}
{% endblock %}

{% block inner_content %}



<h1 class="govuk-heading-l">{{pageHeading}}</h1>

<form action="{{formAction}}">
  {{ govukInput({
    "label": {
      "text": "Vehicle Registration Number"
    },
    "hint": {
      "text": "For example, AB51 BCD"
    },
    "classes": 'govuk-!-width-two-thirds',
    "name": "vehicle-vrn"
  }) }}

  {{ govukInput({
    "label": {
      "text": "How often do you use this vehicle to transport disabled people?"
    },
    "hint": {
      "text": "For example, every day, once a week"
    },
    "classes": 'govuk-!-width-two-thirds',
    "name": "vehicle-frequency"
  }) }}

  {{ govukButton({
    "text": "Continue"
  }) }}

  <div class="govuk-info-panel">
    <p class="govuk-body">You can add another vehicle afterwards, if required.</p>
  </div>

  <!-- Has save -->
</form>



{% endblock %}
