{% extends "layout.html" %}

{% block content %}

<div class="guidance-layout">
    <section class="guidance-container">
	  	<div class="guidance-titles-wrapper">
	  		{% if hidesSteps !== "true" %}
	  		<div class="guidance-title-wrapper">
				<h1 class="guidance-title">{{pageHeading}}</h1>
				<span class="guidance-step-count">Step {{guidancePageCount}}</span>
			</div>
			{% endif %}
	  		<div class="guidance-page-title-wrapper">
	  			<h2 class="govuk-heading-l">{{guidanceTitle}}</h2>
	  			{% if isCitizenFeedback === "true" %}
	  				<p class="" id="feedbackDateRange"></p>
	  			{% endif %}
	  		</div>
	  		{% if isCitizenFeedback === "true" %}
	  		<div class="guidance-title-wrapper">
				<span class="guidance-step-count">Current score <span class="satisfaction-score" id="satisfactionScore"></span></span>
			</div>
				
			{% endif %}
			
	  	</div>
      {% block guidance_content %}{% endblock %}
    </section>
  

{% endblock %}
