{% extends "template.njk" %}

{% from "back-link/macro.njk"     import govukBackLink %}
{% from "breadcrumbs/macro.njk"   import govukBreadcrumbs %}
{% from "button/macro.njk"        import govukButton %}
{% from "checkboxes/macro.njk"    import govukCheckboxes %}
{% from "date-input/macro.njk"    import govukDateInput %}
{% from "details/macro.njk"       import govukDetails %}
{% from "error-message/macro.njk" import govukErrorMessage %}
{% from "error-summary/macro.njk" import govukErrorSummary %}
{% from "fieldset/macro.njk"      import govukFieldset %}
{% from "file-upload/macro.njk"   import govukFileUpload %}
{% from "input/macro.njk"         import govukInput %}
{% from "label/macro.njk"         import govukLabel %}
{% from "panel/macro.njk"         import govukPanel %}
{% from "phase-banner/macro.njk"  import govukPhaseBanner %}
{% from "radios/macro.njk"        import govukRadios %}
{% from "select/macro.njk"        import govukSelect %}
{% from "skip-link/macro.njk"     import govukSkipLink %}
{% from "table/macro.njk"         import govukTable %}
{% from "tag/macro.njk"           import govukTag %}
{% from "textarea/macro.njk"      import govukTextarea %}
{% from "warning-text/macro.njk"  import govukWarningText %}

{% block head %}
  {% include "includes/head.html" %}
{% endblock %}

{% block header %}
  {% include "includes/cookie-banner.html" %}
  {# Set serviceName in config.js. #}
  {{ govukHeader({
    homepageUrl: homepageUrl,
    serviceName: serviceName,
    serviceUrl: serviceUrl,
    containerClasses: "govuk-width-container",
    classes: 'hide-service-name-' + hideServiceName
  }) }}

  <div class="govuk-width-container">
    {{ govukPhaseBanner({
      "tag": {
        "text": "Prototype"
      },
      "html": 'This is work in progress and not a functioning service.'
    }) }}

    <div class="govuk-grid-row">
      {% if hideBackLink !== 'yes' %}
        <div class="govuk-grid-column-one-half">
          {{ govukBackLink({
              "text": "Back",
              "href": "javascript: window.history.go(-1)"
            }) 
          }}
        </div>
      {% endif %}
      {% if hasSaveAtTop === 'yes' %}
        <div class="govuk-grid-column-one-half">
          <p class="align-right govuk-body save-progress-container"><a href="/apply-for-a-blue-badge/save-enter" class="save-progress-link">Save and return later</a></p>
        </div>
      {% endif%}
    </div>

  </div>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="{% if isFullWidth !== 'yes' %}govuk-grid-column-two-thirds{% endif %}">

    {% block inner_content %}

    {% endblock %}

  </div>
</div>

{% endblock %}

{% if useAutoStoreData %}
  {% block footer %}
  {% if hasSaveClass === 'yes' %}
    <div class="govuk-width-container">
      <p class="govuk-body save-progress-container"><a href="/apply-for-a-blue-badge/save-enter" class="save-progress-link">Save and return later</a></p>
    </div>
  {% endif %}

    <footer class="govuk-footer " role="contentinfo">
      <div class="govuk-width-container ">
        <div class="govuk-footer__meta">
          <div class="govuk-footer__meta-item govuk-footer__meta-item--grow">
            <h2 class="govuk-visually-hidden">Support links</h2>
            {% if hideFooterLinks !== 'yes' %}
            <ul class="govuk-footer__inline-list">
              <li class="govuk-footer__inline-list-item">
                <a class="govuk-footer__link" href="#1">
                  Cookies
                </a>
              </li>
              <li class="govuk-footer__inline-list-item">
                <a class="govuk-footer__link" href="#2">
                  Privacy
                </a>
              </li>
              <li class="govuk-footer__inline-list-item">
                <a class="govuk-footer__link" href="#2">
                  Feedback
                </a>
              </li>
              <li class="govuk-footer__inline-list-item">
                <a class="govuk-footer__link" href="#2">
                  Terms and conditions
                </a>
              </li>
              <li class="govuk-footer__inline-list-item">
                Built by Department for Transport
              </li>
            </ul>
            {% endif %}

            <svg role="presentation" focusable="false" class="govuk-footer__licence-logo" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 483.2 195.7" height="17" width="41">
              <path fill="currentColor" d="M421.5 142.8V.1l-50.7 32.3v161.1h112.4v-50.7zm-122.3-9.6A47.12 47.12 0 0 1 221 97.8c0-26 21.1-47.1 47.1-47.1 16.7 0 31.4 8.7 39.7 21.8l42.7-27.2A97.63 97.63 0 0 0 268.1 0c-36.5 0-68.3 20.1-85.1 49.7A98 98 0 0 0 97.8 0C43.9 0 0 43.9 0 97.8s43.9 97.8 97.8 97.8c36.5 0 68.3-20.1 85.1-49.7a97.76 97.76 0 0 0 149.6 25.4l19.4 22.2h3v-87.8h-80l24.3 27.5zM97.8 145c-26 0-47.1-21.1-47.1-47.1s21.1-47.1 47.1-47.1 47.2 21 47.2 47S123.8 145 97.8 145"
              />
            </svg>
            <span class="govuk-footer__licence-description">
              All content is available under the
              <a class="govuk-footer__link" href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" rel="license">Open Government Licence v3.0</a>, except where otherwise stated
            </span>
          </div>
          <div class="govuk-footer__meta-item">
            <a class="govuk-footer__link govuk-footer__copyright-logo" href="https://www.nationalarchives.gov.uk/information-management/re-using-public-sector-information/uk-government-licensing-framework/crown-copyright/">© Crown copyright</a>
          </div>
        </div>
        {% if hideFooterLinks !== 'yes' %}
        <ul class="govuk-footer__inline-list">
          <li class="govuk-footer__inline-list-item">
            <a class="govuk-footer__link" href="/clears-data">
              Clear data
            </a>
          </li>
        </ul>
        {% endif %}
      </div>
    </footer>
  {% endblock %}
{% endif %}

{% block bodyEnd %}
  {% block scripts %}
    {% include "includes/scripts.html" %}
    {% block pageScripts %}{% endblock %}
  {% endblock %}
  <!-- GOV.UK Prototype kit {{releaseVersion}} -->
{% endblock %}
