{% extends "layout.html" %}
{% set hasSaveClass = 'yes' %}

{% set pageHeading = 'Add mobility aid' %}

{% block pageTitle %}
  {{pageHeading}} - {% if serviceName %} {{ serviceName }} {% endif %}
{% endblock %}

{% block inner_content %}



<h1 class="govuk-heading-l">{{pageHeading}}</h1>
<!-- <p class="govuk-body"></p> -->
<form action="{{formAction}}">
  {% set walkingType %}

  {{ govukInput({
    "label": {
      "text": "What's the name of the walking aid?"
    },
    "id": "mobility-aid-name",
    "name": "mobility-aid-name"
  }) }}

  {% endset -%}

  {{ govukRadios({
    "idPrefix": "mobility-aid-type",
    "name": "mobility-aid-type",
    "fieldset": {
      "legend": {
        "text": 'Type of mobility aid',
        "classes": 'govuk-fieldset__legend--s'
      }
    },
    "items": [
      {
        "value": "Wheelchair",
        "text": "Wheelchair"
      },
      {
        "value": "Mobility scooter",
        "text": "Mobility scooter"
      },
      {
        "value": "walking-aid",
        "text": "Walking aid or prosthetic",
        "conditional": {
          "html": walkingType
        }
      }
    ]
  }) }}

  {{ govukInput({
    "label": {
      "text": "When do " + you + " use it?"
    },
    "hint" : {
      "text": 'For example, to get to the shops'
    },
    "name": "mobility-aid-usage",
    "id": "mobility-aid-usage"
  }) }}

  <input type="hidden" name="{{shouldchangename}}" value="{{shouldchangevalue}}">

  {% if data['nation'] == "scotland" %}

  {% set socialWording = 'Social Work' %}

  {% else %}

  {% set socialWording = 'Social Services' %}

  {% endif %}

  {{ govukRadios({
    "idPrefix": "mobility-aid-source",
    "name": "mobility-aid-source",
    "fieldset": {
      "legend": {
        "text": 'How did ' + you + ' get this mobility aid?',
        "classes": 'govuk-fieldset__legend--s'
      }
    },
    "items": [
      {
        "value": "Prescribed",
        "text": "Prescribed by a healthcare professional"
      },
      {
        "value": "Bought",
        "text": "Bought privately"
      },
      {
        "value": socialWording,
        "text": "Provided by " + socialWording + " or a charity"
      }
    ]
  }) }}
  {{ govukButton({
    "text": "Add this mobility aid"
  }) }}

  <div class="govuk-info-panel">
    <p class="govuk-body">You can add more mobility aids on the next page if you need to.</p>
  </div>

  <!-- Has save -->
</form>




{% endblock %}
