{% extends "layout.html" %}
{% set hasSaveClass = 'yes' %}

{% set pageHeading = 'Add medication or pain relief' %}

{% block pageTitle %}
  {{pageHeading}} - {% if serviceName %} {{ serviceName }} {% endif %}
{% endblock %}

{% block inner_content %}



<h1 class="govuk-heading-l">{{pageHeading}}</h1>
<!-- <p class="govuk-body"></p> -->
<form action="{{formAction}}">
  {{ govukInput({
    "label": {
      "text": "What's the name of this medicine or pain relief?"
    },
    "name": "medication-name"
  }) }}

  {{ govukRadios({
    "idPrefix": "medication-type",
    "name": "medication-type",
    "fieldset": {
      "legend": {
        "text": 'Has it been prescribed for ' + you +'?',
        "classes": 'govuk-fieldset__legend--s'
      }
    },
    "items": [
      {
        "value": "Prescribed",
        "text": "Yes"
      },
      {
        "value": "Unprescribed",
        "text": "No"
      }
    ]
  }) }}

  {{ govukInput({
    "label": {
      "text": "How much and how often do " + you + " take this (Dosage)?"
    },
    "hint": {
      "html": "For example: 2 tablets twice a day, when in severe pain"
    },
    "classes": 'govuk-!-width-two-thirds',
    "name": "medication-dosage"
  }) }}

  {{ govukButton({
    "text": "Add this medication"
  }) }}

  <div class="govuk-info-panel">
    <p class="govuk-body">You can add more medication or pain relief on the next page if you need to.</p>
  </div>

  <!-- Has save -->
</form>



{% endblock %}
