{% extends "layout.html" %}
{% set hasSaveClass = 'yes' %}

{% set pageHeading = 'Add treatment' %}

{% block pageTitle %}
  {{pageHeading}} - {% if serviceName %} {{ serviceName }} {% endif %}
{% endblock %}

{% block inner_content %}



<h1 class="govuk-heading-l">{{pageHeading}}</h1>

<form action="{{formAction}}">
  {{ govukInput({
    "label": {
      "text": "Describe this treatment"
    },
    "name": "treatment-description"
  }) }}

  {{ govukDetails({
    summaryText: "What counts as treatment?",
    text: "Anything relevant to " + your + " condition that " + you + "'ve seen (or are due to see) a professional for. For example, hip replacement operation, physiotherapy or  pain clinic."
  }) }}

  {% set treatmentPastHtml %}
    {{ govukInput({
      id: "past-date",
      name: "past-date",
      type: "text",
      label: {
        text: "When was the treatment?"
      },
      hint: {
        text: "For example, 16 May 2017 or 6 months ago"
      }
    }) }}
  {% endset -%}

  {% set treatmentOngoingHtml %}
    {{ govukInput({
      id: "present-date",
      name: "present-date",
      type: "text",
      label: {
        text: "How often do " + you + " have the treatment?"
      },
      hint: {
        text: "For example, every week or once a month"
      }
    }) }}
  {% endset -%}

  {% set treatmentFutureHtml %}
    {{ govukInput({
      id: "future-date",
      name: "future-date",
      type: "text",
      label: {
        text: "When are " + you + " due to have the treatment?"
      },
      hint: {
        text: "For example, 12 July 2021"
      }
    }) }}

    {{ govukInput({
      id: "future-improve",
      name: "future-improve",
      type: "text",
      label: {
        text: "Do " + you + " expect " + your + " condition to improve after having it?"
      }
    }) }}
  {% endset -%}

  {{ govukRadios({
    idPrefix: "treatment-when",
    name: "treatment-when",
    fieldset: {
      legend: {
        text: "Date of the treatment",
        isPageHeading: false,
        classes: "govuk-fieldset__legend--m"
      }
    },
    items: [
      {
        value: "past",
        text: "Within the last 10 years",
        conditional: {
          html: treatmentPastHtml
        }
      },
      {
        value: "ongoing",
        text: "Ongoing",
        conditional: {
          html: treatmentOngoingHtml
        }
      },
      {
        value: "future",
        text: "It's in the future",
        conditional: {
          html: treatmentFutureHtml
        }
      }
    ]
  }) }}

  {{ govukButton({
    "text": "Continue"
  }) }}

  <div class="govuk-info-panel">
    <p class="govuk-body">You can add more treatments on the next page if you need to.</p>
  </div>

  <!-- Has save -->
</form>




{% endblock %}
