{% extends "layout.html" %}
{% set hasSaveClass = 'yes' %}

{% set pageHeading = 'Add treatment' %}

{% block pageTitle %}
  {{pageHeading}} - {% if serviceName %} {{ serviceName }} {% endif %}
{% endblock %}

{% block inner_content %}



<h1 class="govuk-heading-l">{{pageHeading}}</h1>

<form action="{{formAction}}">
  {{ govukInput({
    "label": {
      "text": "Describe this treatment"
    },
    "name": "treatment-description"
  }) }}

  {{ govukDetails({
    summaryText: "What counts as treatment?",
    text: "Anything relevant to " + your + " condition, that " + you + "'ve seen a professional for. For example, hip replacement operation, physiotherapy or  pain clinic."
  }) }}

  {{ govukInput({
    "label": {
      "text": "When did you have this treatment?"
    },
    "hint": {
      "html": "For example, 12 May 2016 or 6 months ago"
    },
    "classes": 'govuk-!-width-two-thirds',
    "name": "treatment-date"
  }) }}

  {{ govukButton({
    "text": "Add this treatment"
  }) }}

  <div class="govuk-info-panel">
    <p class="govuk-body">You can add more treatments on the next page if you need to.</p>
  </div>

  <!-- Has save -->
</form>




{% endblock %}
