{% extends "layout.html" %}
{% set hasSaveClass = 'yes' %}

{% set pageHeading = 'Add mobility aid or support' %}

{% block pageTitle %}
  {{pageHeading}} - {% if serviceName %} {{ serviceName }} {% endif %}
{% endblock %}

{% block inner_content %}



<h1 class="govuk-heading-l">{{pageHeading}}</h1>

<form action="{{formAction}}">
  {{ govukInput({
    "label": {
      "text": "Name of mobility aid or support"
    },
    "hint": {
      "text": "For example, a wheelchair, crutches or a member of your family"
    },
    "id": "mobility-aid-type",
    "name": "mobility-aid-type"
  }) }}

  {{ govukInput({
    "label": {
      "text": "When do " + you + " use it?"
    },
    "hint" : {
      "text": 'For example, to get to the shops'
    },
    "name": "mobility-aid-usage",
    "id": "mobility-aid-usage"
  }) }}

  <input type="hidden" name="{{shouldchangename}}" value="{{shouldchangevalue}}">

  {% if data['nation'] == "scotland" %}

  {% set socialWording = 'Social work' %}

  {% else %}

  {% set socialWording = 'Social services' %}

  {% endif %}

  {{ govukRadios({
    "idPrefix": "mobility-aid-source",
    "name": "mobility-aid-source",
    "fieldset": {
      "legend": {
        "text": 'How did ' + you + ' get it?',
        "classes": 'govuk-fieldset__legend--s'
      }
    },
    "items": [
      {
        "value": "Prescribed",
        "text": "Hospital, GP or physiotherapist"
      },
      {
        "value": "Bought",
        "text": "Bought privately"
      },
      {
        "value": socialWording,
        "text": "Provided by " + socialWording | lower + " or a charity"
      },
      {
        "value": "FamilyFriends",
        "text": "It's a person, rather than a mobility aid"
      }
    ]
  }) }}
  {{ govukButton({
    "text": "Continue"
  }) }}

  <div class="govuk-info-panel">
    <p class="govuk-body">You can add more on the next page if you need to.</p>
  </div>

  <!-- Has save -->
</form>




{% endblock %}
