{% extends "layout.html" %}
{% set hasSaveClass = 'yes' %}

{% set pageHeading = 'Add mobility aid' %}

{% block pageTitle %}
  {{pageHeading}} - {% if serviceName %} {{ serviceName }} {% endif %}
{% endblock %}

{% block inner_content %}



<h1 class="govuk-heading-l">{{pageHeading}}</h1>
<!-- <p class="govuk-body"></p> -->
<form action="{{formAction}}">
  {{ govukInput({
    "label": {
      "text": "Type of mobility aid"
    },
    "name": "mobility-aid-name"
  }) }}

  {{ govukInput({
    "label": {
      "text": "How do " + you + ", typically, use this?"
    },
    "hint" : {
      "text": "For example: Specific occasions such as hospital visits or shopping."
    },
    "name": "mobility-aid-usage"
  }) }}

  <input type="hidden" name="{{shouldchangename}}" value="{{shouldchangevalue}}">

  {% if data['nation'] == "scotland" %}

  {% set socialWording = 'Social Work' %}

  {% else %}

  {% set socialWording = 'Social Services' %}

  {% endif %}

  {{ govukRadios({
    "idPrefix": "mobility-aid-source",
    "name": "mobility-aid-source",
    "fieldset": {
      "legend": {
        "text": 'How did ' + you + ' get this mobility aid?',
        "classes": 'govuk-fieldset__legend--s'
      }
    },
    "items": [
      {
        "value": "Prescribed",
        "text": "Prescribed by a healthcare professional"
      },
      {
        "value": "Bought",
        "text": "Bought privately"
      },
      {
        "value": socialWording,
        "text": "Provided by " + socialWording
      }
    ]
  }) }}
  {{ govukButton({
    "text": "Add mobility aid"
  }) }}

  <div class="govuk-info-panel">
    <p class="govuk-body">You can add more mobility aids on the next page if you need to.</p>
  </div>

  <!-- Has save -->
</form>




{% endblock %}
