{% extends "layout.html" %}
{% set isFullWidth = 'yes' %}
{% set hasSaveClass = 'yes' %}
{% set pageHeading = 'Check your answers' %}

{% block pageTitle %}
  {{pageHeading}} - {% if serviceName %} {{ serviceName }} {% endif %}
{% endblock %}

{% block inner_content %}
<div class="govuk-grid-column-three-quarters">
  <h1 class="govuk-heading-l">{{pageHeading}}</h1>
  
  <section class="split-section">
    
    <h2 class="govuk-heading-m">Describe walking ability</h2>

    {% include "includes/in-check-walking.html" %}
  </section>
  
  {{ govukButton({
    "text": "Continue",
    "href": '/apply-for-a-blue-badge/task-list?walking-completed=true'
  }) }}
</div>
{% endblock %}
