{% extends "layout.html" %}
{% set hasSaveClass = 'yes' %}

{% set pageHeading = 'What steps are currently taken to try to improve journeys for ' + youOrThem + '?' %}

{% block pageTitle %}
  {{pageHeading}} - {% if serviceName %} {{ serviceName }} {% endif %}
{% endblock %}

{% block inner_content %}



<h1 class="govuk-heading-l">{{pageHeading}}</h1>

<form action="{{ formAction }}">
  {{ govukTextarea({
    "name": "coping-strategies",
    "id": "coping-strategies",
    "label": {
      "text": "List the steps taken to try to improve journeys"
    },
    "rows": 8,
    "value": data['coping-strategies']
  }) }}

  {{ govukTextarea({
    "name": "coping-strategies-effective",
    "id": "coping-strategies-effective",
    "label": {
      "text": "How effective are these steps?"
    },
    "rows": 3,
    "value": data['coping-strategies-effective']
  }) }}
  
  {{ govukButton({
    "text": submitLabel
  }) }}

  <!-- Has save -->
</form>



{% endblock %}
