{% extends "layout.html" %}
{% set hasSaveClass = 'yes' %}

{% if data['disability'] === 'problems-walking' %}

{% set pageHeading = 'Describe any health conditions or disabilities that affect ' + your + ' walking' %}

{% elif data['disability'] === 'arms' %}

{% set pageHeading = 'Describe any health conditions or disabilities that affect ' + your + ' arms' %}

{% else %}

{% set pageHeading = 'Describe ' + your + ' health conditions or disabilities' %}

{% endif %}

{% block pageTitle %}
  {{pageHeading}} - {% if serviceName %} {{ serviceName }} {% endif %}
{% endblock %}

{% block inner_content %}



<h1 class="govuk-heading-l">{{pageHeading}}</h1>

<div class="govuk-inset-text">
  <p>
    <!-- Take your time and write as much detail here as possible. <br> -->
    {{your|capitalize}} local council will use this information, along with {{your}} other answers, to help them make a decision about {{your}} {{application}}.
  </p>
</div>

{% if (data['disability'] === 'child-bulky-equipment') %}
  {% set describeLabel = "Give details of the child's medical condition that means they'll always need to be accompanied by bulky medical equipment (1200 word limit)" %}
{% elif (data['disability'] === 'child-close-to-vehicle') %}
  {% set describeLabel = 'Give details about the conditions that mean they need to have quick access to a vehicle (1200 word limit)' %}
{% else %}
  {% set describeLabel = 'Try to use the correct medical terms, if you know them (1200 word limit)' %}
{% endif %}

<form action="{{ formAction }}">
  {{ govukTextarea({
    "name": "describe-condition",
    "id": "describe-condition",
    "label": {
      "text": describeLabel
    },
    "rows": 10,
    "value": data['describe-condition']
  }) }}
  
  {{ govukButton({
    "text": submitLabel
  }) }}

  <!-- Has save -->
</form>



{% endblock %}
