{% extends "layout.html" %}
{% set hasSaveClass = 'yes' %}

{% set pageHeading = 'What was the last amount paid into the account from ' + your + ' PIP benefit?' %}


{% block pageTitle %}
  {{pageHeading}} - {% if serviceName %} {{ serviceName }} {% endif %}
{% endblock %}

{% block inner_content %}



<form action="{{ formAction }}">

  <h1 class="govuk-heading-l">{{pageHeading}}</h1>


  {{ govukInput({
    label: {
      text: "Enter the full amount"
    },
    hint: {
      text: "For example, £60.50"
    },
    classes: "govuk-input--width-10",
    id: "width-10",
    name: "width-10"
  }) }}

  {{ govukButton({
    "text": "Continue"
  }) }}

  <!-- Has save -->
</form>

      



{% endblock %}
