{% extends "layout.html" %}
{% set hasSaveClass = 'yes' %}

{% set pageHeading = "Do " + you + " have help to get around?" %}

{% block pageTitle %}
  {{pageHeading}} - {% if serviceName %} {{ serviceName }} {% endif %}
{% endblock %}

{% block inner_content %}



  {% set mobilityHtml %}
    {% if tableRows.length > 0 %}
    
        {{ govukTable({
          "head": [
            {
              "text": "Name"
            },
            {
              "text": "When used"
            },
            {
              "text": ""
            }
          ],
          "rows": tableRows
        }) }}

      <p class="govuk-body"><a href="add-mobility-aid{{pagechange}}">Add another mobility aid or support</a></p>

    {% else %}
    
    {{ govukTable({
      "head": [
        {
          "text": "Name"
        },
        {
          "text": "When used"
        },
        {
          "text": ""
        }
      ],
      "rows": ""
    }) }}

    <p class="govuk-body"><a href="add-mobility-aid{{pagechange}}">Add first mobility aid or support</a></p>

    {% endif %}
  {% endset -%}

  {{ govukRadios({
    "idPrefix": "use-mobility-aid",
    "name": "use-mobility-aid",
    "fieldset": {
      "legend": {
        "text": pageHeading,
        "isPageHeading": true,
        "classes": 'govuk-fieldset__legend--l'
      }
    },
    "hint": {
      "html": "List any mobility aids such as wheelchairs, scooters, zimmer frames or crutches that " + you + " use. If " + you + " use the support of a person, such as a member of " + your + " family, list them here too."
    },
    "items": [
      {
        "value": "yes",
        "text": "Yes",
        "checked": tableRows.length > 0,
        "conditional": {
          "html": mobilityHtml
        }
      },
      {
        "value": "no",
        "text": "No",
        "checked": tableRows.length == 0
      }
    ]
  }) 
}}

{{ govukButton({
  "text": submitLabel,
  "href": formAction
}) }}


<!-- Has save --> 




{% endblock %}
