{% extends "layout.html" %}
{% set hasSaveClass = 'yes' %}

{% set pageHeading = "Has " + your + " condition required any treatments?" %}

{% block pageTitle %}
  {{pageHeading}} - {% if serviceName %} {{ serviceName }} {% endif %}
{% endblock %}

{% block inner_content %}

{% if data['disability'] === 'non-physical' %}

{% set treatmentExamples = "For example, memory clinics, psychotherapy or other types of therapy." %}

{% else %}

{% set treatmentExamples = "For example, hip replacement operation, physiotherapy or  pain clinic." %}

{% endif %}

{% if tableRows.length > 0 %}
{% set hasItemsClass = "govuk-radios--has-items" %}
{% else %}
{% set hasItemsClass = "" %}
{% endif%}

{% set treatmentHtml %}
  {% if tableRows.length > 0 %}

    {{ govukTable({
      "head": [
        {
          "text": "Description"
        },
        {
          "text": "When"
        },
        {
          "text": ""
        }
      ],
      "rows": tableRows
    }) }}

    <p class="govuk-body"><a class="govuk-button govuk-button--addition" href="add-treatment">Add another treatment</a></p>

  {% else %}
  

  {{ govukTable({
    "head": [
      {
        "text": "Description"
      },
      {
        "text": "When"
      },
      {
        "text": ""
      }
    ],
    "rows": ""
  }) }}

  <p class="govuk-body"><a class="govuk-button govuk-button--addition" href="add-treatment">Add first treatment</a></p>

  {% endif %}
{% endset -%}

  {{ govukRadios({
    "idPrefix": "had-treatment",
    "name": "had-treatment",
    "classes": hasItemsClass,
    "fieldset": {
      "legend": {
        "text": pageHeading,
        "isPageHeading": true,
        "classes": 'govuk-fieldset__legend--l'
      }
    },
    "hint": {
      "html": 'These could have been in the last 10 years, ongoing or any treatment ' + you + ' have booked in the next 3 years. List any surgeries, treatments or clinics that are to do with ' + your + ' condition. <br> <br>
      <details class="govuk-details" role="group">
        <summary class="govuk-details__summary" role="button" aria-controls="details-content-e37673c5-a78f-4caa-9db8-5a7c35cd54c5" >
          <span class="govuk-details__summary-text">
            What counts as treatment?
          </span>
        </summary>
        <div class="govuk-details__text" id="details-content-e37673c5-a78f-4caa-9db8-5a7c35cd54c5" aria-hidden="false">
          Anything relevant to their condition that they\'ve seen (or are due to see) a professional for. ' + treatmentExamples + '
        </div>
      </details>'
    },
    "items": [
      {
        "value": "yes",
        "text": "Yes",
        "checked": tableRows.length > 0,
        "conditional": {
          "html": treatmentHtml
        }
      },
      {
        "value": "no",
        "text": "No"
      }
    ]
  }) 
}}

{{ govukButton({
  "text": "Continue",
  "href": formAction
}) }}

<!-- Has save -->



{% endblock %}
