{% extends "layout.html" %}
{% set hasSaveClass = 'yes' %}

{% set pageHeading = 'Which medical equipment do they always need to be accompanied by?' %}

{% block pageTitle %}
  {{pageHeading}} - {% if serviceName %} {{ serviceName }} {% endif %}
{% endblock %}

{% block inner_content %}



<form action="{{ formAction }}">


    {% set otherEquipHTML %}

    {{ govukInput({
      "label": {
        "text": "Name of equipment"
      },
      "classes": 'govuk-!-width-two-thirds',
      "name": "other-equipment"
    }) }}

    {%- endset %}
  
    {{ govukCheckboxes({
      "idPrefix": "medical-equipment",
      "name": "medical-equipment",
      "attributes": {
        "data-catchoption-label": true
      },
      "fieldset": {
        "legend": {
          "text": pageHeading,
          "isPageHeading": true,
          "classes": 'govuk-fieldset__legend--l'
        }
      },
      "items": [
        {
          "value": "ventilator",
          "text": "Ventilator",
          "checked": checked('medical-equipment', 'ventilator')
        },
        {
          "value": "suction-machine",
          "text": "Suction machine",
          "checked": checked('medical-equipment', 'suction-machine')
        },
        {
          "value": "feed-pump",
          "text": "Feed pump",
          "checked": checked('medical-equipment', 'feed-pump')
        },
        {
          "value": "parenteral-equipment",
          "text": "Parenteral equipment",
          "checked": checked('medical-equipment', 'parenteral-equipment')
        },
        {
          "value": "syringe-driver",
          "text": "Syringe driver",
          "checked": checked('medical-equipment', 'syringe-driver')
        },
        {
          "value": "oxygen-admin-equipment",
          "text": "Oxygen administration equipment",
          "checked": checked('medical-equipment', 'oxygen-admin-equipment')
        },
        {
          "value": "contin-oxygen-saturation",
          "text": "Continuous oxygen saturation monitoring equipment",
          "checked": checked('medical-equipment', 'contin-oxygen-saturation')
        },
        {
          "value": "casts-assoc-med-equip",
          "text": "Casts and associated medical equipment for the correction of hip dysplasia",
          "checked": checked('medical-equipment', 'casts-assoc-med-equip')
        },
        {
          "value": "other",
          "text": "Other",
          "conditional" : {
            "html": otherEquipHTML
          },
          "checked": checked('medical-equipment', 'other')
        }
        
      ]
    }) }}
    
    <div id="hiddenCaughtInputs"></div>

  {{ govukButton({
    "text": submitLabel
  }) }}

  <!-- Has save -->
</form>

      



{% endblock %}
