{% extends "layout.html" %}
{% set hasSaveClass = 'yes' %}
{% import "apply-for-a-blue-badge/macros/upload-component-new.html" as uploadComponentWidget %}

{% if (data['pip-dla'] === 'yes') %}

{% set pageHeading = 'Upload both of ' + your + ' PIP and DLA award letters' %}

{% elif (data['benefit'] === 'dla') %}

{% set pageHeading = 'Upload ' + your + ' DLA award letter from Department of Work and Pensions (DWP)' %}

{% elif (data['benefit'] === 'pip') %}

{% set pageHeading = 'Upload proof of ' + your + ' PIP award from Department of Work and Pensions (DWP)' %}

{% elif (data['benefit'] === 'armed-forces') %}

{% set pageHeading = 'Upload the latest letter from Ministry of Defence about ' + your + ' AFCS award' %}

{% elif (data['benefit'] === 'war-pensioners') %}

{% set pageHeading = 'Upload the latest letter from Ministry of Defence about ' + your + ' WPMS award' %}

{% endif %}

{% block pageTitle %}
  {{pageHeading}} - {% if serviceName %} {{ serviceName }} {% endif %}
{% endblock %}

{% block inner_content %}


<form action="{{ formAction }}">
  <input type="hidden" id="change" name="benefit-completed" value="true">
  <h1 class="govuk-heading-l">{{pageHeading}}</h1>

  {% if (data['pip-dla'] === 'yes') %}
  
  <p class="govuk-body">{{you | capitalize}} need to upload {{your}} PIP and DLA award letters from Department of Work and Pensions (DWP).</p>

  <p class="govuk-body">The letters must include {{your}}:</p>

  <ul class="govuk-list govuk-list--bullet">
    <li>certificate of entitlement to Personal Independence Payment (PIP)</li>
    <li>mobility rating (usually found on the first page of the DLA award letter)</li>
    <li>certificate of entitlement to DLA (usually found on the last page of the DLA award letter)</li>
  </ul>


  {% elif data['benefit'] === 'dla' %}

    <p class="govuk-body">The letter needs to be dated within the last 12 months and must include {{your}}:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>mobility rating</li>
      <li>certificate of entitlement to DLA</li>
    </ul>

    <details class="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          What page do I need to upload?
        </span>
      </summary>
      <div class="govuk-details__text">
        <p class="govuk-body">Make sure all of the information is clearly visible.</p>
        <div class="svg-container single-letter">{% include "includes/icon-letter-dla.html" %}</div>
      </div>
    </details>

    {% set sampleBenefitLetter = 'dla_letter.png' %}

  {% elif data['benefit'] === 'pip' %}

    <p class="govuk-body">Choose either {{your}}:</p>
    
    <ul class="govuk-list govuk-list--bullet">
      <li>'Statement of Entitlement' letter</li>
      <li>'Looked at your award' letter</li>
      <li>'Yearly update' letter</li>
    </ul>

    <p class="govuk-body">You need to upload all the pages of your letter (usually three pages). It must clearly show {{your}}:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>entitlement to PIP (usually on the front page)</li>
      <li>mobility scores (usually on the last page)</li>
    </ul>
    
    <details class="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          What pages do I need to upload?
        </span>
      </summary>
      <div class="govuk-details__text">
        <p class="govuk-body">Make sure you have all 3 pages and that all of the information is clearly visible.</p>
        <div class="svg-container">{% include "includes/icon-letter-pip.html" %}</div>
      </div>
    </details>

    {% set sampleBenefitLetter = 'pip-letter.jpg' %}

  {% elif data['benefit'] === 'armed-forces' %}

    <p class="govuk-body">This letter should confirm {{you}}:</p>
    
    <ul class="govuk-list govuk-list--bullet">
      <li>were injured in service on or after 6 April 2005</li>
      <li>have been awarded a benefit by the Armed Forces Compensation Scheme, with a lump sum payment within Tariffs 1 to 8</li>
      <li>are certified as having a permanent, substantial disability which causes inability to walk or very considerable difficulty in walking</li>
    </ul>

    <details class="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          What pages do I need to upload?
        </span>
      </summary>
      <div class="govuk-details__text">
        <p class="govuk-body">Make sure all of the information is clearly visible.</p>
        <div class="svg-container single-letter">{% include "includes/icon-letter-afcs.html" %}</div>
      </div>
    </details>

    {% set sampleBenefitLetter = 'spva-letter.png' %}

  {% elif data['benefit'] === 'war-pensioners' %}

    <p class="govuk-body">This letter should confirm {{you}}:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>were injured in service before 6 April 2005</li>
      <li>are in receipt of a War Pensioner's Mobility Supplement</li>
    </ul>

    {% set sampleBenefitLetter = 'wpms-letter.png' %}

  {% endif %}

  {{ uploadComponentWidget.uploadComponent(
    'prove-eligibility/upload-benefit',
    'proofOfEligibility', 
    formAction + '?benefit-completed=true&proofOfEligibility=notProvided&benefit-proof-file-upload=',
    your, 
    'provide proof of ' + your + ' benefit', 
    change, 
    'yes',
    'benefit-proof-file-upload',
    'no',
    sampleBenefitLetter,
    data['benefit-done'],
    'benefit-done',
    data['benefit-proof-file-upload-shows-current-address'],
    'yes'
  )}}

  <!-- Has save -->
  
</form>

      



{% endblock %}

{% block pageScripts %}
  <script src="{{ asset_path }}javascripts/upload-file.js"></script>
{% endblock %}