{% extends "layout.html" %}
{% set hasSaveClass = 'yes' %}
{% import "apply-for-a-blue-badge/macros/upload-component-new.html" as uploadComponentWidget %}

{% if data['benefit'] === 'pip' and data['pip-dla'] === 'yes' %}

{% set pageHeading = 'Upload both of ' + your + ' PIP and DLA award letters' %}

{% elif (data['disability'] === 'terminal') %}

{% set pageHeading = 'Upload ' + your + ' DS1500 form' %}

{% elif (data['benefit'] === 'dla') %}

{% set pageHeading = 'Upload ' + your + ' DLA award letter from Department of Work and Pensions (DWP)' %}

{% elif data['benefit'] === 'pip' and data['pip-mandatory'] !== "yes" %}

{% set pageHeading = 'Upload proof of ' + your + ' PIP award from Department of Work and Pensions (DWP)' %}

{% elif data['pip-mandatory'] === "yes" %}

{% set pageHeading = 'Upload ' + your + ' PIP mandatory reconsideration letter from Department of Work and Pensions (DWP)' %}

{% elif (data['benefit'] === 'armed-forces') %}

{% set pageHeading = 'Upload the latest letter from Ministry of Defence about ' + your + ' AFCS award' %}

{% elif (data['benefit'] === 'war-pensioners') %}

{% set pageHeading = 'Upload the latest letter from Ministry of Defence about ' + your + ' WPMS award' %}

{% endif %}

{% if (data['disability'] === 'terminal') %}

  {% set isMultiple = 'no' %}

{% else %}

  {% set isMultiple = 'yes' %}

{% endif %}

{% block pageTitle %}
  {{pageHeading}} - {% if serviceName %} {{ serviceName }} {% endif %}
{% endblock %}

{% block inner_content %}


<form action="{{ formAction }}">
  <input type="hidden" id="change" name="benefit-completed" value="true">
  <h1 class="govuk-heading-l">{{pageHeading}}</h1>

  {% if data['benefit'] === 'pip' and data['pip-dla'] === 'yes' %}
  
  <p class="govuk-body">{{you | capitalize}} need to upload {{your}} PIP and DLA award letters from Department of Work and Pensions (DWP).</p>

  <p class="govuk-body">The letters must include {{your}}:</p>

  <ul class="govuk-list govuk-list--bullet">
    <li>certificate of entitlement to Personal Independence Payment (PIP)</li>
    <li>mobility rating (usually found on the first page of the DLA award letter)</li>
    <li>certificate of entitlement to DLA (usually found on the last page of the DLA award letter)</li>
  </ul>
  
  {% elif data['disability'] === 'terminal' %}

  <p class="govuk-body">You'll need to upload a photo or scan of {{your}} DS1500 form, signed by a healthcare professional.</p>

  {% elif data['benefit'] === 'dla' %}

    {% if data['pip-dla'] !== 'yes' %}
    <p class="govuk-body">The letter needs to be dated within the last 12 months and must include {{your}}:</p>
    {% else %}
    <p class="govuk-body">The letter must include {{your}}:</p>
    {% endif %}

    <ul class="govuk-list govuk-list--bullet">
      <li>mobility rating</li>
      <li>certificate of entitlement to DLA</li>
    </ul>

    <details class="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          What page do I need to upload?
        </span>
      </summary>
      <div class="govuk-details__text">
        <p class="govuk-body">Make sure all of the information is clearly visible.</p>
        <div class="svg-container single-letter">{% include "includes/icon-letter-dla.html" %}</div>
      </div>
    </details>

    {% set sampleBenefitLetter = 'dla_letter.png' %}

  {% elif data['benefit'] === 'pip' and data['pip-mandatory'] !== "yes" %}

    <p class="govuk-body">You need to upload all the pages of your letter (usually three pages). They must clearly show {{your}}:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>entitlement to PIP (front page)</li>
      <li>assessment scores (second to last page)</li>
      <li>mobility scores (last page)</li>
    </ul>

    <a href="#" data-summary-trigger="pipSummary" class="summary-trigger">
      <img src="{{ asset_path }}images/PIP-3pages.svg" alt="">
      <span class="summary-trigger-text">What pages do I need to upload?</span>
    </a>
    
    <details class="govuk-details">
      <summary class="govuk-details__summary" id="pipSummary">
        <span class="govuk-details__summary-text">
          What pages do I need to upload?
        </span>
      </summary>
      <div class="govuk-details__text">
        <p class="govuk-body">Make sure you have all 3 pages and that all of the information is clearly visible.</p>
        <div class="svg-container">{% include "includes/icon-letter-pip.html" %}</div>
      </div>
    </details>

    {% set sampleBenefitLetter = 'pip-letter.jpg' %}

  {% elif data['pip-mandatory'] === "yes" %}

  <p class="govuk-body">You need to upload a letter, dated within the last 3 months, confirming that DWP have agreed to a mandatory reconsideration of {{your}} PIP award.</p>

  {% elif data['benefit'] === 'armed-forces' %}

    <p class="govuk-body">This letter should confirm {{you}}:</p>
    
    <ul class="govuk-list govuk-list--bullet">
      <li>were injured in service on or after 6 April 2005</li>
      <li>have been awarded a benefit by the Armed Forces Compensation Scheme, with a lump sum payment within Tariffs 1 to 8</li>
      <li>are certified as having a permanent, substantial disability which causes inability to walk or very considerable difficulty in walking</li>
    </ul>

    <details class="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          What pages do I need to upload?
        </span>
      </summary>
      <div class="govuk-details__text">
        <p class="govuk-body">Make sure all of the information is clearly visible.</p>
        <div class="svg-container single-letter">{% include "includes/icon-letter-afcs.html" %}</div>
      </div>
    </details>

    {% set sampleBenefitLetter = 'spva-letter.png' %}

  {% elif data['benefit'] === 'war-pensioners' %}

    <p class="govuk-body">This letter should confirm {{you}}:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>were injured in service before 6 April 2005</li>
      <li>are in receipt of a War Pensioner's Mobility Supplement</li>
    </ul>

    {% set sampleBenefitLetter = 'wpms-letter.png' %}

  {% endif %}

  {{ uploadComponentWidget.uploadComponent(
    'prove-eligibility/upload-benefit',
    'proofOfEligibility', 
    formAction + '?benefit-completed=true&proofOfEligibility=notProvided&benefit-proof-file-upload=',
    your, 
    'provide proof of ' + your + ' benefit', 
    change, 
    'no',
    'benefit-proof-file-upload',
    'no',
    sampleBenefitLetter,
    data['benefit-done'],
    'benefit-done',
    data['benefit-proof-file-upload-shows-current-address'],
    isMultiple
  )}}

  <!-- Has save -->
  
</form>

{% endblock %}

{% block pageScripts %}
  <script src="{{ asset_path }}javascripts/upload-file.js"></script>

  <script>
    $('[data-summary-trigger]').on('click', function(e) {
      var $this = $(this),
          thisTarget = $this.attr('data-summary-trigger');

      $('#' + thisTarget).click();

      // $this.blur();

      e.preventDefault();
    });
  </script>
{% endblock %}