{% extends "layout.html" %}
{% set hasSaveClass = 'yes' %}
{% import "apply-for-a-blue-badge/macros/upload-component-new.html" as uploadComponentWidget %}

{% set pageHeading = "Supporting documents" %}

{% block pageTitle %}
  {{pageHeading}} - {% if serviceName %} {{ serviceName }} {% endif %}
{% endblock %}

{% block inner_content %}




<form action="{{ formAction }}?proofOfAdapted=upload">
  <input type="hidden" id="change" name="medical-evidence-completed" value="true">
  <h1 class="govuk-heading-l">{{pageHeading}}</h1>
  {% if data['disability'] === 'child-bulky-equipment' or 
        data['disability'] === 'child-close-to-vehicle'  %}
    <p class="govuk-body">Add any documents about their condition, that you feel would support their application.</p>
  {% else %}
    <p class="govuk-body">Add any documents about {{your}} condition, that you feel would support {{your}} application.</p>
  {% endif %}
  <p class="govuk-body">For example, prescriptions, diagnosis letters or correspondence from GPs, hospitals or healthcare professionals.</p>

  {% if data['attendance-allowance'] == "true" %}
  <p class="govuk-body">As {{you}} receive Attendance Allowance, it is useful to add {{your}} award letter from Department of Work and Pensions (DWP).</p>
  {% endif %}

  {% set uploadHtml %}
    {{ uploadComponentWidget.uploadComponent(
      'prove-eligibility/upload-medical-evidence',
      'proofOfAdapted', 
      formAction + '?medical-evidence-completed=true&proofOfAdapted=notProvided&medical-proof-file-upload=',
      your, 
      '', 
      change, 
      'no',
      'medical-proof-file-upload',
      'yes',
      'medical-evidence.jpg',
      data['medical-evidence-done'],
      'medical-evidence-done',
      'no',
      'yes'
    )}}
  {% endset -%}
  {{ govukRadios({
    "idPrefix": "medical-evidence-upload",
    "name": "medical-evidence-upload",
    "attributes": {
      "data-catchoption-label": true
    },
    "fieldset": {
      "legend": {
        "text": "Do you have supporting documents to upload?",
        "isPageHeading": false,
        "classes": 'govuk-fieldset__legend--m'
      }
    },
    "items": [
      {
        "value": "yes",
        "text": "Yes",
        "checked": data['medical-evidence-done'] === 'true',
        "conditional": {
          "html": uploadHtml
        }
      },
      {
        "value": "no",
        "text": "No",
        "checked": data['medical-evidence-upload'] === 'no'
      }

    ]
  }) }}

  <div id="hiddenCaughtInputs"></div>

  {{ govukButton({
    "text": submitLabel
  }) }}

  {{ govukDetails({
    summaryText: "Need help uploading documents?",
    id: "help-uploading-1",
    html: '<p class="govuk-body">You can take a photo of your documents or scan them to upload here.</p><p class="govuk-body"> We\'ve created a step-by-step guide on <a href="/apply-for-a-blue-badge/guidance?upload-origin-page=upload-medical-evidence">how to upload a document</a>.</p><p class="govuk-body">We\'ll take you back to this page after you\'ve read the guide.</p>'
  }) }}

  {{ govukDetails({
    summaryText: "I can't upload a photo or scan",
    id: "cant-upload",
    html: '<p class="govuk-body">If you have supporting documents, but cannot upload them, your local council will contact you about other ways for you to submit them after you submit this application.</p><p class="govuk-body">You can still submit this application using this service, but it may take longer for the council to make a decision.</p><p class="govuk-body"><a href="' + formAction + '" class="govuk-button-secondary" role="button">Continue without uploading</a></p>'
  }) }}

  <!-- Has save -->
</form>

      



{% endblock %}

{% block pageScripts %}
  <script src="{{ asset_path }}javascripts/upload-file.js"></script>
{% endblock %}