{% extends "layout.html" %}
{% set hasSaveClass = 'yes' %}

{% set pageHeading = 'How does ' + your + ' health condition make walking difficult for ' + youOrThem + '?' %}

{% block pageTitle %}
  {{pageHeading}} - {% if serviceName %} {{ serviceName }} {% endif %}
{% endblock %}

{% block inner_content %}



<form action="{{ formAction }}">

  {% set painHtml %}
    {{ govukTextarea({
      "label": {
        "text": "Describe the pain " + you + " get when walking. How severe is the pain?"
      },
      id: "pain-question",
      name: "pain-question",
      value: data['pain-question'],
      rows: 3
    }) }}
  {% endset -%}

  {% set breathlessHtml %}
    <p class="govuk-body">We'll ask some additional questions about {{your}} breathlessness on the next page.</p>
  {% endset -%}

  {% set balanceHtml %}
    {{ govukTextarea({
      "label": {
        "text": "Describe how the way " + you + " walk is affected by " + your + " condition"
      },
      "hint": {
        "text": "For example, if " + your + " posture is affected or " + you + " struggle to take full steps" 
      },
      id: "balance-question",
      name: "balance-question",
      value: data['balance-question'],
      rows: 3
    }) }}

    {{ govukRadios({
      classes: "govuk-radios--inline",
      idPrefix: "balance-radios",
      name: "balance-radios",
      fieldset: {
        legend: {
          text: "Have " + you + " seen a healthcare professional for any falls in the last 12 months?",
          isPageHeading: false,
          classes: "govuk-fieldset__legend--s"
        }
      },
      items: [
        {
          value: "yes",
          text: "Yes"
        },
        {
          value: "no",
          text: "No"
        }
      ]
    }) }}
  {% endset -%}

  {% set longHtml %}
    {{ govukTextarea({
      "label": {
        "text": "Why does it take " + youOrThem + " a long time?"
      },
      id: "longtime-question",
      name: "longtime-question",
      value: data['longtime-question'],
      rows: 3
    }) }}
  {% endset -%}

  {% set dangerHtml %}
    {{ govukTextarea({
      "label": {
        "text": "Describe how " + your + " condition makes walking dangerous"
      },
      id: "danger-question",
      name: "danger-question",
      value: data['danger-question'],
      rows: 3
    }) }}

    {{ govukRadios({
      classes: "govuk-radios--inline",
      idPrefix: "pain-radios",
      name: "pain-radios",
      fieldset: {
        legend: {
          text: "Do " + you + " have a chest, lung or heart condition / epilepsy?",
          isPageHeading: false,
          classes: "govuk-fieldset__legend--s"
        }
      },
      items: [
        {
          value: "yes",
          text: "Yes"
        },
        {
          value: "no",
          text: "No"
        }
      ]
    }) }}
  {% endset -%}

  {% set planningHtml %}
    {{ govukTextarea({
      "label": {
        "text": "How does " + your + " condition make planning and following a journey difficult?"
      },
      id: "planning-question",
      name: "planning-question",
      value: data['planning-question'],
      rows: 3
    }) }}
  {% endset -%}

  {% set somethingHtml %}
    {{ govukTextarea({
      "label": {
        "text": "What is it about " + your + " condition that causes " + youOrThem + " difficulty walking?"
      },
      id: "something-description",
      name: "something-description",
      value: data['something-description'],
      rows: 3
    }) }}
  {% endset -%}

  {% if data['nation'] == "wales" %}

  {% set differentOptions = [
      {
        "value": "pain",
        "text": "Excessive pain",
        "checked": checked('difficulty', 'pain'),
        "conditional": {
          "html": painHtml
        }
      },
      {
        "value": "breathlessness",
        "text": "Breathlessness",
        "checked": checked('difficulty', 'breathlessness'),
        "conditional": {
          "html": breathlessHtml
        }
      },
      {
        "value": "balance",
        "text": "Balance, coordination or posture",
        "checked": checked('difficulty', 'balance'),
        "conditional": {
          "html": balanceHtml
        }
      },
      {
        "value": "dangerous",
        "text": "It's dangerous to " + my + " health and safety or that of others",
        "checked": checked('difficulty', 'dangerous'),
        "conditional": {
          "html": dangerHtml
        }
      },
      {
        "value": "planning",
        "text": iThey|capitalize + " struggle planning or following a journey",
        "checked": checked('difficulty', 'planning'),
        "conditional": {
          "html": planningHtml
        }
      },
      {
        "value": "something",
        "text": "Something else",
        "checked": checked('difficulty', 'something'),
        "conditional": {
          "html": somethingHtml
        }
      }
    ] 
  %}

  {% elif data['nation'] == "scotland" %}

  {% set differentOptions = [
      {
        "value": "pain",
        "text": "Excessive pain",
        "checked": checked('difficulty', 'pain'),
        "conditional": {
          "html": painHtml
        }
      },
      {
        "value": "breathlessness",
        "text": "Breathlessness",
        "checked": checked('difficulty', 'breathlessness'),
        "conditional": {
          "html": breathlessHtml
        }
      },
      {
        "value": "balance",
        "text": "Balance, coordination or posture",
        "checked": checked('difficulty', 'balance'),
        "conditional": {
          "html": balanceHtml
        }
      },
      {
        "value": "dangerous",
        "text": "It's dangerous to " + my + " health and safety",
        "checked": checked('difficulty', 'dangerous'),
        "conditional": {
          "html": dangerHtml
        }
      },
      {
        "value": "risk",
        "text": iThey|capitalize + " have a condition which means " + iThey + " " + am + " a risk in traffic",
        "checked": checked('difficulty', 'risk')
      },
      {
        "value": "planning",
        "text": iThey|capitalize + " struggle planning or following a journey",
        "checked": checked('difficulty', 'planning'),
        "conditional": {
          "html": planningHtml
        }
      },
      {
        "value": "something",
        "text": "Something else",
        "checked": checked('difficulty', 'something'),
        "conditional": {
          "html": somethingHtml
        }
      }
    ] 
  %}

  {% else %}

  {% set differentOptions = [
      {
        "value": "pain",
        "text": "Excessive pain",
        "checked": checked('difficulty', 'pain'),
        "conditional": {
          "html": painHtml
        }
      },
      {
        "value": "breathlessness",
        "text": "Breathlessness",
        "checked": checked('difficulty', 'breathlessness'),
        "conditional": {
          "html": breathlessHtml
        }
      },
      {
        "value": "balance",
        "text": "Balance, coordination or posture",
        "checked": checked('difficulty', 'balance'),
        "conditional": {
          "html": balanceHtml
        }
      },
      {
        "value": "dangerous",
        "text": "It's dangerous to " + my + " health and safety",
        "checked": checked('difficulty', 'dangerous'),
        "conditional": {
          "html": dangerHtml
        }
      },
      {
        "value": "something",
        "text": "Something else",
        "checked": checked('difficulty', 'something'),
        "conditional": {
          "html": somethingHtml
        }
      }
    ] 
  %}

  {% endif %}

  {{ govukCheckboxes({
    "idPrefix": "difficulty",
    "name": "difficulty",
    "attributes": {
      "data-catchoption-label": true
    },
    "fieldset": {
      "legend": {
        "text": pageHeading,
        "isPageHeading": true,
        "classes": 'govuk-fieldset__legend--l'
      }
    },
    "items": differentOptions
  }) }}

  <div id="hiddenCaughtInputs"></div>
  
  {{ govukButton({
    "text": submitLabel
  }) }}

  <!-- Has save -->
</form>

{% endblock %}
