{% extends "layout.html" %}
{% set hasSaveClass = 'yes' %}

{% set pageHeading = 'How does ' + your + ' health condition make walking difficult for ' + youOrThem + '?' %}

{% block pageTitle %}
  {{pageHeading}} - {% if serviceName %} {{ serviceName }} {% endif %}
{% endblock %}

{% block inner_content %}



<form action="{{ formAction }}">

  {% set painHtml %}
    {{ govukTextarea({
      "label": {
        "text": "Describe when " + you + " get excessive pain"
      },
      id: "pain-question",
      name: "pain-question",
      value: data['pain-question'],
      rows: 2
    }) }}
  {% endset -%}

  {% set breathlessHtml %}
    <p class="govuk-body">We'll ask some additional questions about {{your}} breathlessness on the next page.</p>
  {% endset -%}

  {% set balanceHtml %}
    {{ govukTextarea({
      "label": {
        "text": "What affects " + your + " balance or coordination?"
      },
      id: "balance-question",
      name: "balance-question",
      value: data['balance-question'],
      rows: 2
    }) }}
  {% endset -%}

  {% set longHtml %}
    {{ govukTextarea({
      "label": {
        "text": "Why does it take " + youOrThem + " a long time?"
      },
      id: "longtime-question",
      name: "longtime-question",
      value: data['longtime-question'],
      rows: 2
    }) }}
  {% endset -%}

  {% set dangerHtml %}
    {{ govukTextarea({
      "label": {
        "text": "How is walking dangerous?"
      },
      id: "danger-question",
      name: "danger-question",
      value: data['danger-question'],
      rows: 2
    }) }}
  {% endset -%}

  {% set planningHtml %}
    {{ govukTextarea({
      "label": {
        "text": "How does " + your + " condition make planning and following a journey difficult?"
      },
      id: "planning-question",
      name: "planning-question",
      value: data['planning-question'],
      rows: 2
    }) }}
  {% endset -%}

  {% set somethingHtml %}
    {{ govukTextarea({
      "label": {
        "text": "What is it about " + your + " condition that causes " + youOrThem + " difficulty walking?"
      },
      id: "something-description",
      name: "something-description",
      value: data['something-description'],
      rows: 2
    }) }}
  {% endset -%}

  {% if data['nation'] == "wales" %}

  {% set differentOptions = [
      {
        "value": "pain",
        "text": "Excessive pain",
        "checked": checked('difficulty', 'pain'),
        "conditional": {
          "html": painHtml
        }
      },
      {
        "value": "breathlessness",
        "text": "Breathlessness",
        "checked": checked('difficulty', 'breathlessness'),
        "conditional": {
          "html": breathlessHtml
        }
      },
      {
        "value": "balance",
        "text": "Balance or coordination",
        "checked": checked('difficulty', 'balance'),
        "conditional": {
          "html": balanceHtml
        }
      },
      {
        "value": "longtime",
        "text": "It takes " + me + " a long time" ,
        "checked": checked('difficulty', 'longtime'),
        "conditional": {
          "html": longHtml
        }
      },
      {
        "value": "dangerous",
        "text": "It's dangerous to " + my + " health and safety or that of others",
        "checked": checked('difficulty', 'dangerous'),
        "conditional": {
          "html": dangerHtml
        }
      },
      {
        "value": "planning",
        "text": iThey|capitalize + " struggle planning or following a journey",
        "checked": checked('difficulty', 'planning'),
        "conditional": {
          "html": planningHtml
        }
      },
      {
        "value": "something",
        "text": "Something else",
        "checked": checked('difficulty', 'something'),
        "conditional": {
          "html": somethingHtml
        }
      }
    ] 
  %}

  {% elif data['nation'] == "scotland" %}

  {% set differentOptions = [
      {
        "value": "pain",
        "text": "Excessive pain",
        "checked": checked('difficulty', 'pain'),
        "conditional": {
          "html": painHtml
        }
      },
      {
        "value": "breathlessness",
        "text": "Breathlessness",
        "checked": checked('difficulty', 'breathlessness'),
        "conditional": {
          "html": breathlessHtml
        }
      },
      {
        "value": "balance",
        "text": "Balance or coordination",
        "checked": checked('difficulty', 'balance'),
        "conditional": {
          "html": balanceHtml
        }
      },
      {
        "value": "longtime",
        "text": "It takes " + me + " a long time" ,
        "checked": checked('difficulty', 'longtime'),
        "conditional": {
          "html": longHtml
        }
      },
      {
        "value": "dangerous",
        "text": "It's dangerous to " + my + " health and safety",
        "checked": checked('difficulty', 'dangerous'),
        "conditional": {
          "html": dangerHtml
        }
      },
      {
        "value": "risk",
        "text": iThey|capitalize + " have a condition which means " + iThey + " " + am + " a risk in traffic",
        "checked": checked('difficulty', 'risk')
      },
      {
        "value": "planning",
        "text": iThey|capitalize + " struggle planning or following a journey",
        "checked": checked('difficulty', 'planning'),
        "conditional": {
          "html": planningHtml
        }
      },
      {
        "value": "something",
        "text": "Something else",
        "checked": checked('difficulty', 'something'),
        "conditional": {
          "html": somethingHtml
        }
      }
    ] 
  %}

  {% else %}

  {% set differentOptions = [
      {
        "value": "pain",
        "text": "Excessive pain",
        "checked": checked('difficulty', 'pain'),
        "conditional": {
          "html": painHtml
        }
      },
      {
        "value": "breathlessness",
        "text": "Breathlessness",
        "checked": checked('difficulty', 'breathlessness'),
        "conditional": {
          "html": breathlessHtml
        }
      },
      {
        "value": "balance",
        "text": "Balance or coordination",
        "checked": checked('difficulty', 'balance'),
        "conditional": {
          "html": balanceHtml
        }
      },
      {
        "value": "longtime",
        "text": "It takes " + me + " a long time" ,
        "checked": checked('difficulty', 'longtime'),
        "conditional": {
          "html": longHtml
        }
      },
      {
        "value": "dangerous",
        "text": "It's dangerous to " + my + " health and safety",
        "checked": checked('difficulty', 'dangerous'),
        "conditional": {
          "html": dangerHtml
        }
      },
      {
        "value": "something",
        "text": "Something else",
        "checked": checked('difficulty', 'something'),
        "conditional": {
          "html": somethingHtml
        }
      }
    ] 
  %}

  {% endif %}

  {{ govukCheckboxes({
    "idPrefix": "difficulty",
    "name": "difficulty",
    "attributes": {
      "data-catchoption-label": true
    },
    "fieldset": {
      "legend": {
        "text": pageHeading,
        "isPageHeading": true,
        "classes": 'govuk-fieldset__legend--l'
      }
    },
    "items": differentOptions
  }) }}

  <div id="hiddenCaughtInputs"></div>
  
  {{ govukButton({
    "text": submitLabel
  }) }}

  <!-- Has save -->
</form>

{% endblock %}
