{% extends "layout.html" %}
{% set hasSaveClass = 'yes' %}

{% set pageHeading = 'What affects ' + youOrThem + ' taking a journey?' %}

{% block pageTitle %}
  {{pageHeading}} - {% if serviceName %} {{ serviceName }} {% endif %}
{% endblock %}

{% block inner_content %}

<form action="{{ formAction }}">
  {% set riskHtml %}
  {{ govukRadios({
    classes: "govuk-radios--inline",
    idPrefix: "risk-when",
    name: "risk-when",
    fieldset: {
      legend: {
        text: "When are " + you + " a risk?",
        isPageHeading: false,
        classes: "govuk-fieldset__legend--s"
      }
    },
    items: [
      {
        value: "sometimes",
        text: "Sometimes",
        checked: checked("risk-when", "sometimes")
      },
      {
        value: "regularly",
        text: "Regularly",
        checked: checked("risk-when", "regularly")
      },
      {
        value: "every",
        text: "Every journey",
        checked: checked("risk-when", "every")
      }
    ]
  }) }}

  {{ govukTextarea({
    "label": {
      "text": "Please give an example of when " + you + " have been a risk near vehicles, in traffic or car parks"
    },
    id: "risk-description",
    name: "risk-description",
    value: data['risk-description'],
    rows: 3
  }) }}
  {% endset -%}

  {% set struggleHtml %}
  {{ govukRadios({
    classes: "govuk-radios--inline",
    idPrefix: "struggle-when",
    name: "struggle-when",
    fieldset: {
      legend: {
        text: "What journeys does this apply to?",
        isPageHeading: false,
        classes: "govuk-fieldset__legend--s"
      }
    },
    items: [
      {
        value: "unfamiliar",
        text: "Unfamiliar journeys",
        checked: checked("struggle-when", "unfamiliar")
      },
      {
        value: "every",
        text: "Every journey",
        checked: checked("struggle-when", "every")
      }
    ]
  }) }}
  {% endset -%}

  {% set actionsHtml %}
  {{ govukRadios({
    classes: "govuk-radios--inline",
    idPrefix: "actions-when",
    name: "actions-when",
    fieldset: {
      legend: {
        text: "How often does this happen?",
        isPageHeading: false,
        classes: "govuk-fieldset__legend--s"
      }
    },
    items: [
      {
        value: "sometimes",
        text: "Sometimes",
        checked: checked("actions-when", "sometimes")
      },
      {
        value: "regularly",
        text: "Regularly",
        checked: checked("actions-when", "regularly")
      },
      {
        value: "every",
        text: "Every journey",
        checked: checked("actions-when", "every")
      }
    ]
  }) }}

  {{ govukTextarea({
    "label": {
      "text": "Please describe the kinds of incidents that have happened or are likely to happen on journeys"
    },
    id: "action-description",
    name: "action-description",
    value: data['action-description'],
    rows: 3
  }) }}
  {% endset -%}

  {% set meltdownHtml %}
  {{ govukRadios({
    classes: "govuk-radios--inline",
    idPrefix: "meltdown-when",
    name: "meltdown-when",
    fieldset: {
      legend: {
        text: "How often does this happen?",
        isPageHeading: false,
        classes: "govuk-fieldset__legend--s"
      }
    },
    items: [
      {
        value: "sometimes",
        text: "Sometimes",
        checked: checked("meltdown-when", "sometimes")
      },
      {
        value: "regularly",
        text: "Regularly",
        checked: checked("meltdown-when", "regularly")
      },
      {
        value: "every",
        text: "Every journey",
        checked: checked("meltdown-when", "every")
      }
    ]
  }) }}

  {{ govukTextarea({
    "label": {
      "text": "Please give examples of the situations that cause the meltdowns. What steps are taken to avoid or overcome them?"
    },
    id: "meltdown-description",
    name: "meltdown-description",
    value: data['meltdown-description'],
    rows: 3
  }) }}
  {% endset -%}

  {% set anxiousHtml %}
  {{ govukRadios({
    classes: "govuk-radios--inline",
    idPrefix: "anxious-when",
    name: "anxious-when",
    fieldset: {
      legend: {
        text: "When do " + you + " become extremely anxious/fearful?",
        isPageHeading: false,
        classes: "govuk-fieldset__legend--s"
      }
    },
    items: [
      {
        value: "sometimes",
        text: "Sometimes",
        checked: checked("anxious-when", "sometimes")
      },
      {
        value: "regularly",
        text: "Regularly",
        checked: checked("anxious-when", "regularly")
      },
      {
        value: "every",
        text: "Every journey",
        checked: checked("anxious-when", "every")
      }
    ]
  }) }}

  {{ govukTextarea({
    "label": {
      "text": "Please describe the levels of anxiety. What steps are currently taken to avoid this happening?"
    },
    id: "anxious-description",
    name: "anxious-description",
    value: data['anxious-description'],
    rows: 3
  }) }}
  {% endset -%}

  {% set accompaniedHtml %}
    {{ govukTextarea({
      "label": {
        "text": "Why do " + you + " always need to be accompanied?"
      },
      id: "accompanied-description",
      name: "accompanied-description",
      value: data['accompanied-description'],
      rows: 3
    }) }}
  {% endset -%}

  {% set otherHtml %}
    {{ govukTextarea({
      "label": {
        "text": "Describe what affects " + youOrThem + " taking a journey"
      },
      id: "something-np-description",
      name: "something-np-description",
      value: data['something-np-description'],
      rows: 3
    }) }}
  {% endset -%}

  {% set differentOptions = [
    {
      "value": "risk-traffic",
      "text": iThey|capitalize + " " + am + " a risk near vehicles, in traffic or car parks",
      "checked": checked('affects-journeys', 'risk-traffic'),
      "conditional": {
        "html": riskHtml
      }
    },
    {
      "value": "planning",
      "text": iThey|capitalize + " struggle to plan or follow a journey",
      "checked": checked('affects-journeys', 'planning'),
      "conditional": {
        "html": struggleHtml
      }
    },
    {
      "value": "control",
      "text": iThey | capitalize + " find it difficult or impossible to control " + my + " actions and lack awareness of the impact they could have on others",
      "checked": checked('affects-journeys', 'control'),
      "conditional": {
        "html": actionsHtml
      }
    },
    {
      "value": "regularly-protest",
      "text": iThey | capitalize + " have intense responses to overwhelming situations causing temporary loss of behavioural control (meltdown)",
      "checked": checked('affects-journeys', 'regularly-protest'),
      "conditional": {
        "html": meltdownHtml
      }
    },
    {
      "value": "anxiety",
      "text": iThey | capitalize + " can become extremely anxious or fearful of public/open spaces",
      "checked": checked('affects-journeys', 'anxiety'),
      "conditional": {
        "html": anxiousHtml
      }
    },
    {
      "value": "other",
      "text": "Something else",
      "checked": checked('affects-journeys', 'other'),
      "conditional": {
        "html": otherHtml
      }
    }
  ] %}

  {{ govukCheckboxes({
    "idPrefix": "affects-journeys",
    "name": "affects-journeys",
    "attributes": {
      "data-optionstoarray": true
    },
    "fieldset": {
      "legend": {
        "text": pageHeading,
        "isPageHeading": true,
        "classes": 'govuk-fieldset__legend--l'
      }
    },
    "items": differentOptions
  }) }}
  
  {{ govukButton({
    "text": submitLabel
  }) }}

  <!-- Has save -->
</form>

{% endblock %}
