{% extends "layout.html" %}
{% set hasSaveClass = 'yes' %}

{% set pageHeading = 'Where can ' + you + ' walk to?' %}

{% if data['mobility-aids-array'].length and data['use-mobility-aid'] !== 'no' %}
{% set usingMobilityAid = ', using a mobility aid, ' %}
{% else %}
{% set usingMobilityAid = '' %}
{% endif %}

{% block pageTitle %}
  {{pageHeading}} - {% if serviceName %} {{ serviceName }} {% endif %}
{% endblock %}

{% block inner_content %}



        
<form action="{{ formAction }}">
  <h1 class="govuk-heading-l">{{pageHeading}}</h1>

  {{ govukInput({
    label: {
      text: "Place " + you + " can walk to" + usingMobilityAid + " from " + your + " home"
    },
    hint: {
      text: 'For example, “to the Post office on the High Street"'
    },
    id: "walk-location",
    name: "walk-location",
    value: data['walk-location']
  }) }}

  {{ govukRadios({
    "idPrefix": "how-long-walk",
    "name": "how-long-walk",
    "attributes": {
      "data-catchoption-label": true
    },
    "fieldset": {
      "legend": {
        "text": "How long does it take " + youOrThem + "?",
        "isPageHeading": true,
        "classes": 'govuk-fieldset__legend--s'
      }
    },
    "items": [
      {
        "value": "less-than-a-minute",
        "text": "Less than a minute",
        "checked": data['how-long-walk'] === 'less-than-a-minute'
      },
      {
        "value": "a-few-minutes",
        "text": "A few minutes",
        "checked": data['how-long-walk'] === 'a-few-minutes'
      },
      {
        "value": "more-than-10",
        "text": "More than 10 minutes",
        "checked": data['how-long-walk'] === 'more-than-10'
      }

    ]
  }) }}

  <div id="hiddenCaughtInputs"></div>
  
  {{ govukButton({
    "text": submitLabel
  }) }}

  <!-- Has save -->
</form>

      



{% endblock %}
