{% extends "layout.html" %}
{% set hasSaveClass = 'yes' %}

{% if data['mobility-aids-array'].length %}
{% set pageHeading = 'Name a place that ' + you + ' regularly walk to using a mobility aid' %}
{% else %}
{% set pageHeading = 'Name a place that ' + you + ' regularly walk to' %}
{% endif %}

{% block pageTitle %}
  {{pageHeading}} - {% if serviceName %} {{ serviceName }} {% endif %}
{% endblock %}

{% block inner_content %}



        
<form action="{{ formAction }}">
  <h1 class="govuk-heading-l">{{pageHeading}}</h1>

  {{ govukInput({
    label: {
      text: "This could be a building or landmark"
    },
    hint: {
      text: 'For example, “from ' + your + ' home to the Post office on the High Street"'
    },
    id: "walk-location",
    name: "walk-location",
    value: data['walk-location']
  }) }}
  
  {{ govukButton({
    "text": submitLabel
  }) }}

  <!-- Has save -->
</form>

      



{% endblock %}
