{% extends "layout.html" %}
{% set hasSaveClass = 'yes' %}

{% set pageHeading = 'Where can ' + you + ' walk to?' %}

{% if data['mobility-aids-array'].length and data['use-mobility-aid'] !== 'no' %}
{% set usingMobilityAid = ', using a mobility aid, ' %}
{% else %}
{% set usingMobilityAid = '' %}
{% endif %}

{% block pageTitle %}
  {{pageHeading}} - {% if serviceName %} {{ serviceName }} {% endif %}
{% endblock %}

{% block inner_content %}



        
<form action="{{ formAction }}">
  <h1 class="govuk-heading-l">{{pageHeading}}</h1>

  {{ govukInput({
    label: {
      text: "Name a place " + you + " can walk to" + usingMobilityAid + " from " + your + " home"
    },
    hint: {
      text: 'For example, to the Post office on the High Street'
    },
    id: "walk-location",
    name: "walk-location",
    value: data['walk-location']
  }) }}

  {{ govukInput({
    label: {
      text: "How long does it take " + youOrThem + "?"
    },
    hint: {
      text: 'For example, 10 minutes'
    },
    id: "how-long-takes-you",
    name: "how-long-takes-you",
    value: data['how-long-takes-you']
  }) }}

  
  {{ govukButton({
    "text": submitLabel
  }) }}

  <!-- Has save -->
</form>

      



{% endblock %}
